{% include './layouts/header.html' %}
{% include './layouts/nav-lg.html' %}


<!-- Post Main -->
<main class="post-main">
  <div class="container container-full">
    <div class="row">
      <div class="col-md-8">

        <!-- Recent Posts -->
        <div class="recent-posts recent-posts-archive">
          <h2 class="t2 t2-alert">All Posts</h2>

          {% include './layouts/blog/posts-scope.html' %}

          <div class="recent-posts__action">
            <a class="btn btn-icon" href="#">
              <span class="btn__text">See All Recent Posts</span>
              <i class="i i-arrow-right"></i>
            </a>
          </div>

        </div><!-- /.recent-posts -->


      </div><!-- /.col-md-8 -->

      <!-- Blog Aside-->
      <div class="col-md-4">
        <aside class="blog-aside">

          {% include './layouts/blog/aside-newsletter.html' %}
          {% include './layouts/blog/aside-freebies.html' %}
          <div class="mtop-40"></div>
          {% include './layouts/blog/aside-popular.html' %}
        </aside><!-- /.blog-aside -->
      </div><!-- /.col-md-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->

  {% include './layouts/blog/posts-similar.html' %}

</main><!-- /.post-main -->

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
