{% include './layouts/header.html' %}
{% include './layouts/nav-lg.html' %}


<!-- Post Main -->
<main class="post-main">
  <div class="container container-full">
    <div class="row">
      <div class="col-md-8">


        <header class="post-header">
          <div class="post-header__pict">
            <img src="./images/blog/blog-intro-1.jpeg" alt="Climbings | Graphics Design" loading="lazy">
            <div class="post-header__shadow"></div>
          </div>

          <div class="post-header__dsc">
            <a class="post-header__rubric" href="blog-post.html">Graphics Design</a>

            <h1 class="post-header__title">
              Hilarious viral tweet will change how you see the KFC logo forever
            </h1>

            <div class="post-info">

              <!-- Post Stats -->
              <ul class="post-stats">
                <li class="post-stats__item">
                  <svg width="14" height="13" class="post-stats__icon">
                    <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
                  </svg>
                  <div class="post-stats__val">12</div>
                </li>

                <li class="post-stats__item">
                  <svg width="16" height="11" class="post-stats__icon">
                    <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
                  </svg>
                  <div class="post-stats__val">454</div>
                </li>

                <li class="post-stats__item">
                  <svg width="16" height="15" class="post-stats__icon">
                    <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
                  </svg>
                  <div class="post-stats__val">4</div>
                </li>
              </ul>

              <!-- Post Author -->
              <a class="post-author-sm" href="blog-post.html">
                <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                <div class="post-author-sm__name">Lubosek Hnilo</div>
              </a>
            </div>

          </div>
        </header>


        <!-- Article -->
        <article class="article">
          <div class="container container-sm">

            <p>
              It’s seemed difficult for the <strong>last six years for press</strong> to find effusive enough praise for charity: water, a New York City-based non-governmental organization (NGO) that raises money to provide safe, clean drinking water to folks in developing nations. “Exemplary entrepreneurship,” Fast Company said of the group. Part of “a generation of young people working creatively to make this a better world,” wrote New York Times columnist Nick Kristof. Whoopi Goldberg, John Slattery and David Schwimmer all attended the 2012 holiday gala. MSNBC, Fox News, Time, Forbes, the Wall Street Journal, Good, and People have also acclaimed the organization.
            </p>

            <p>
              <em>Much of the praise is deserved. <b>For one thing, everyone involved is really nice: friendly looking, engaged people, all attractive and bright, as documented in a gallery of quirky staff photos. Those I have met personally, I like, and I like the company’s approach. Because what sets them apart from other NGOs is that they undertake their mission with a dedication to total fiscal transparency and without a marketing budget. More than 20,000 individuals seem to agree, and have held birthday campaigns for the company, generating millions upon millions of dollars since it started in 2006. Most boosters create videos, social media posts, email campaigns and who knows what-all else to throw pals into a fervor of fundraising toward charity: water’s crystal-clear mission: getting people in developing countries clean drinking water. No marketing budget implies no fiscal waste: 100 percent</b> of the funds raised toward water projects go toward water projects. Everyone involved feels good about everything.</em>
            </p>

            <p>
              The only problem is, no one really knows how many more people have water due to charity: water’s well-building efforts. Nor can anyone guarantee that’s all that charity: water does.
            </p>

            <div class="photo">
              <img src="./images/photos/article-photo-1.jpeg" alt="" loading="lazy">
            </div>

            <p>
              Let’s be clear. Charity: water is upending the traditional not-for-profit model’s reliance on obfuscation and fiscal padding as standard operating procedure. This has caused hubbub in the international development world, for good reason. It is noble and effective. “Let this be a lesson to other charitable movements, the more you share, the more we’ll share,” TNW magazine effused, equating the company’s transparency with fundraising success.
            </p>

            <div class="photo">
              <div class="row">
                <div class="col-md-6">
                  <img src="./images/photos/article-photo-2.jpeg" alt="" loading="lazy">
                </div>
                <div class="col-md-6">
                  <img src="./images/photos/article-photo-3.jpeg" alt="" loading="lazy">
                </div>
              </div>
            </div>

            <p>
              Let me back that up, because it can be hard to fathom: Here’s Digital Director of charity: water, Paull Young, explaining how it works: “We basically have two bank accounts. So, one bank account – 100 percent goes to water…. And the other account – there are about 193 major donors who give three years’ commitment, and they fund all operating costs.” The company calls this level of funding “the Well,” and it is led by a team of Angel Investors, who each donate a million dollars or more per year. They, too, are pictured on the charity: water web site.
            </p>

          </div>
        </article>


        <!-- Author Info -->
        <section class="section-author">
          <div class="container container-sm">
            <div class="author__row">

              <!-- Author Photo -->
              <div class="author__avatar">
                <img class="author__photo" src="./images/photos/avatar-big.png" alt="Climbings | Author's Photo" loading="lazy" width="140" height="140">
              </div>


              <div class="author__dsc">

                <!-- Author's name -->
                <div class="author__title">
                  <a class="author__name" href="./index.html">
                    George Ryan
                  </a>
                </div>

                <!-- About author -->
                <div class="author__about">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ante nibh, at varius leo eleifend ut. Aenean id felis ornare, euismod magna vel, imperdiet enim.
                  </p>
                </div>

                <!-- Author Social Link -->
                <div class="social-attr">
                  <ul class="social-attr__list">
                    <li class="social-attr__item">
                      <a href="./index.html" class="social-attr__link" title="Social Link" target="_blank" rel="nofollow noopener noreferrer">
                        <i class="i-soc-sm i-soc-sm-alt i-soc-sm-fb"></i>
                      </a>
                    </li>
                    <li class="social-attr__item">
                      <a href="./index.html" class="social-attr__link" title="Social Link" target="_blank" rel="nofollow noopener noreferrer">
                        <i class="i-soc-sm i-soc-sm-alt i-soc-sm-tw"></i>
                      </a>
                    </li>
                    <li class="social-attr__item">
                      <a href="./index.html" class="social-attr__link" title="Social Link" target="_blank" rel="nofollow noopener noreferrer">
                        <i class="i-soc-sm i-soc-sm-alt i-soc-sm-in"></i>
                      </a>
                    </li>
                    <li class="social-attr__item">
                      <a href="./index.html" class="social-attr__link" title="Social Link" target="_blank" rel="nofollow noopener noreferrer">
                        <i class="i-soc-sm i-soc-sm-alt i-soc-sm-inst"></i>
                      </a>
                    </li>
                  </ul>
                </div>



              </div>
            </div>
          </div>
        </section>


        <!-- Comments -->
        <section class="section-comments">
          <div class="comments-form__header">
            <h3 class="comments-form__title">Leave a comment</h3>
          </div>

          <!-- Comments Form -->
          <div class="comments-form">
            <!-- Form -->
            <form action="" method="POST">

              <!-- Comment -->
              <div class="form__field">
                <textarea class="form__text" name="" id="" cols="30" rows="10" placeholder="Your comment here…"></textarea>
              </div>

              <!-- Name -->
              <div class="form__field">
                <input class="form__input" type="text" placeholder="Name">
              </div>

              <!-- Email -->
              <div class="form__field">
                <input class="form__input" type="text" placeholder="Email">
              </div>

              <!-- Email -->
              <div class="form__field">
                <button type="submit" class="btn btn-icon">
                  <span class="btn__text">Post Comment</span>
                  <i class="i i-arrow-right"></i>
                </button>
              </div>

            </form>
          </div><!-- /.comments-form -->


          <!-- Comments List -->
          <div class="comments__list">

            <!-- Comments Item -->
            <div class="comments__item">
              <div class="comments__dsc">

                <div class="comments__credentials">
                  <div class="comments-author__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                  <div class="comments-author__block">
                    <a class="comments-author" href="./index.html">Adam Voigt</a>
                    <p class="comments-author__date">23 March, 2020</p>
                  </div>
                </div>

              </div>

              <div class="comments__content">
                <p>I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30...</p>
              </div>
            </div>


            <!-- Comments Item -->
            <div class="comments__item">
              <div class="comments__dsc">

                <div class="comments__credentials">
                  <div class="comments-author__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                  <div class="comments-author__block">
                    <a class="comments-author" href="./index.html">Adam Voigt</a>
                    <p class="comments-author__date">23 March, 2020</p>
                  </div>
                </div>

              </div>

              <div class="comments__content">
                <p>I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30...</p>
              </div>
            </div>
          </div><!-- /.comments__list -->
        </section><!-- /.section-comments -->
      </div><!-- /.col-md-8 -->

      <!-- Blog Aside-->
      <div class="col-md-4">
        <aside class="blog-aside">

          {% include './layouts/blog/aside-newsletter.html' %}
          {% include './layouts/blog/aside-freebies.html' %}
          <div class="mtop-40"></div>
          {% include './layouts/blog/aside-popular.html' %}
        </aside><!-- /.blog-aside -->
      </div><!-- /.col-md-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->

  {% include './layouts/blog/posts-similar.html' %}

</main><!-- /.post-main -->

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
