{% include './layouts/header.html' %}
{% include './layouts/nav-lg.html' %}

<!-- Blog Intro -->
<section class="blog-intro">
  <div class="blog-intro__content">

    <!-- Slider main container -->
    <div class="swiper-container blog-intro__slider">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">
          <!-- Blog Intro Item -->
          <div class="blog-intro__item">
            <a class="blog-intro__link-img" href="blog-post.html">
              <div class="blog-intro__pict">
                <img src="./images/blog/blog-intro-1.jpeg" alt="Climbings | Graphics Design">
                <div class="blog-intro__shadow"></div>
              </div>
            </a>

            <div class="blog-intro__dsc">
              <a class="blog-intro__link-rubric" href="blog-post.html">Graphics Design</a>
              <a class="blog-intro__link-title" href="blog-post.html">
                Hilarious viral tweet will change how you see the KFC logo forever
              </a>
            </div>
          </div>
        </div>

        <!-- Slides -->
        <div class="swiper-slide">
          <!-- Blog Intro Item -->
          <div class="blog-intro__item">
            <a class="blog-intro__link-img" href="blog-post.html">
              <div class="blog-intro__pict">
                <img src="./images/blog/blog-intro-2.jpeg" alt="Climbings | Graphics Design">
                <div class="blog-intro__shadow"></div>
              </div>
            </a>

            <div class="blog-intro__dsc">
              <a class="blog-intro__link-rubric" href="blog-post.html">Graphics Design</a>
              <a class="blog-intro__link-title" href="blog-post.html">
                Hilarious viral tweet will change how you see the KFC logo forever
              </a>
            </div>
          </div>
        </div>

        <!-- Slides -->
        <div class="swiper-slide">
          <!-- Blog Intro Item -->
          <div class="blog-intro__item">
            <a class="blog-intro__link-img" href="blog-post.html">
              <div class="blog-intro__pict">
                <img src="./images/blog/blog-intro-3.jpeg" alt="Climbings | Graphics Design">
                <div class="blog-intro__shadow"></div>
              </div>
            </a>

            <div class="blog-intro__dsc">
              <a class="blog-intro__link-rubric" href="blog-post.html">Graphics Design</a>
              <a class="blog-intro__link-title" href="blog-post.html">
                Hilarious viral tweet will change how you see the KFC logo forever
              </a>
            </div>
          </div>
        </div>

      </div>

      <!-- Navigation buttons -->

      <div class="blog-intro__nav">
        <div class="container">
          <div class="swiper-button-prev">
            <div class="btn btn-short btn-alt"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short btn-alt"><i class="i i-arrow-right"></i></div>
          </div>
        </div>
      </div><!-- /.blog-intro__nav -->
    </div>

  </div><!-- /.blog-intro__content -->
</section><!-- /.blog-intro -->

<!-- Blog Preview -->
<section class="blog-preview">
  <div class="container container-full">
    <div class="row">

      <!-- Column -->
      <div class="col-sm-4">

        <!-- Blog Preview Item -->
        <div class="blog-preview__item">

          <div class="blog-preview__thumb">
            <a class="blog-preview__link-img" href="blog-post.html">
              <img class="blog-preview__img" src="./images/blog/blog-preview-1.jpg" alt="">
            </a>
          </div>

          <div class="blog-preview__dsc">
            <a class="blog-preview__link-rubric" href="blog-post.html">Graphics Design</a>

            <a class="blog-preview__link-title" href="blog-post.html">
              Hilarious viral tweet will change how you see the KFC logo forever
            </a>

            <!-- Post Stats -->
            <ul class="post-stats">
              <li class="post-stats__item">
                <svg width="14" height="13" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-heart"></use>
                </svg>
                <div class="post-stats__val">12</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="11" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-eye"></use>
                </svg>
                <div class="post-stats__val">454</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="15" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-share"></use>
                </svg>
                <div class="post-stats__val">4</div>
              </li>
            </ul>

            <!-- Post Author -->
            <a class="post-author-sm" href="blog-post.html">
              <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
              <div class="post-author-sm__name">Lubosek Hnilo</div>
            </a>
          </div>
        </div>
      </div><!-- /.col-sm-4 -->

      <!-- Column -->
      <div class="col-sm-4">

        <!-- Blog Preview Item -->
        <div class="blog-preview__item">

          <div class="blog-preview__thumb">
            <a class="blog-preview__link-img" href="blog-post.html">
              <img class="blog-preview__img" src="./images/blog/blog-preview-2.jpg" alt="">
            </a>
          </div>

          <div class="blog-preview__dsc">
            <a class="blog-preview__link-rubric" href="blog-post.html">Graphics Design</a>

            <a class="blog-preview__link-title" href="blog-post.html">
              Hilarious viral tweet will change how you see the KFC logo forever
            </a>

            <!-- Post Stats -->
            <ul class="post-stats">
              <li class="post-stats__item">
                <svg width="14" height="13" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-heart"></use>
                </svg>
                <div class="post-stats__val">12</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="11" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-eye"></use>
                </svg>
                <div class="post-stats__val">454</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="15" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-share"></use>
                </svg>
                <div class="post-stats__val">4</div>
              </li>
            </ul>

            <!-- Post Author -->
            <a class="post-author-sm" href="blog-post.html">
              <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
              <div class="post-author-sm__name">Lubosek Hnilo</div>
            </a>
          </div>
        </div>

      </div><!-- /.col-sm-4 -->

      <!-- Column -->
      <div class="col-sm-4">

        <!-- Blog Preview Item -->
        <div class="blog-preview__item">

          <div class="blog-preview__thumb">
            <a class="blog-preview__link-img" href="blog-post.html">
              <img class="blog-preview__img" src="./images/blog/blog-preview-3.jpg" alt="">
            </a>
          </div>

          <div class="blog-preview__dsc">
            <a class="blog-preview__link-rubric" href="blog-post.html">Graphics Design</a>

            <a class="blog-preview__link-title" href="blog-post.html">
              Hilarious viral tweet will change how you see the KFC logo forever
            </a>

            <!-- Post Stats -->
            <ul class="post-stats">
              <li class="post-stats__item">
                <svg width="14" height="13" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-heart"></use>
                </svg>
                <div class="post-stats__val">12</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="11" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-eye"></use>
                </svg>
                <div class="post-stats__val">454</div>
              </li>

              <li class="post-stats__item">
                <svg width="16" height="15" class="post-stats__icon">
                  <use xlink:href="./images/sprite.svg#icon-post-share"></use>
                </svg>
                <div class="post-stats__val">4</div>
              </li>
            </ul>

            <!-- Post Author -->
            <a class="post-author-sm" href="blog-post.html">
              <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
              <div class="post-author-sm__name">Lubosek Hnilo</div>
            </a>
          </div>
        </div>
      </div><!-- /.col-sm-4 -->

    </div>
  </div>
</section><!-- /.blog-preview -->


<!-- Blog Section -->
<div class="blog-section  ptop-40">
  <div class="container container-full">
    <div class="row">
      <div class="col-md-8">

        <!-- Featured Posts -->
        <div class="featured-posts">

          <!-- Slider main container -->
          <div class="swiper-container featured-posts__slider">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

              <!-- Slides -->
              <div class="swiper-slide">
                <!-- Featured Posts Item -->
                <div class="featured-posts__item">
                  <div class="featured-posts__content">
                    <div class="featured-posts__badge">
                      <a class="featured-posts__link" href="#">#Inspiration</a>
                      <div class="featured-posts__text">
                        <p>
                          Hilarious viral tweet will change how you see the KFC logo forever
                        </p>
                      </div>
                    </div>

                    <div class="featured-posts__action">
                      <a class="btn btn-icon" href="#">
                        <span class="btn__text">View</span>
                        <i class="i i-arrow-right"></i>
                      </a>
                    </div>
                  </div>

                  <div class="featured-posts__thumb">
                    <img src="./images/blog/blog-features.jpeg" alt="">
                  </div>
                </div><!-- /.featured-posts__item -->
              </div>

              <div class="swiper-slide">
                <!-- Featured Posts Item -->
                <div class="featured-posts__item">
                  <div class="featured-posts__content">
                    <div class="featured-posts__badge">
                      <a class="featured-posts__link" href="#">#Inspiration</a>
                      <div class="featured-posts__text">
                        <p>
                          Hilarious viral tweet will change how you see the KFC logo forever
                        </p>
                      </div>
                    </div>

                    <div class="featured-posts__action">
                      <a class="btn btn-icon" href="#">
                        <span class="btn__text">View</span>
                        <i class="i i-arrow-right"></i>
                      </a>
                    </div>
                  </div>

                  <div class="featured-posts__thumb">
                    <img src="./images/blog/blog-features.jpeg" alt="">
                  </div>
                </div><!-- /.featured-posts__item -->
              </div>

              <div class="swiper-slide">
                <!-- Featured Posts Item -->
                <div class="featured-posts__item">
                  <div class="featured-posts__content">
                    <div class="featured-posts__badge">
                      <a class="featured-posts__link" href="#">#Inspiration</a>
                      <div class="featured-posts__text">
                        <p>
                          Hilarious viral tweet will change how you see the KFC logo forever
                        </p>
                      </div>
                    </div>

                    <div class="featured-posts__action">
                      <a class="btn btn-icon" href="#">
                        <span class="btn__text">View</span>
                        <i class="i i-arrow-right"></i>
                      </a>
                    </div>
                  </div>

                  <div class="featured-posts__thumb">
                    <img src="./images/blog/blog-features.jpeg" alt="">
                  </div>
                </div><!-- /.featured-posts__item -->
              </div>
            </div>

            <!-- Navigation buttons -->
            <div class="featured-posts__nav">
              <div class="swiper-button-prev">
                <div class="btn btn-short btn-alt"><i class="i i-arrow-left"></i></div>
              </div>

              <div class="swiper-button-next">
                <div class="btn btn-short btn-alt"><i class="i i-arrow-right"></i></div>
              </div>
            </div>
          </div>

        </div><!-- /.featured-posts -->


        <!-- Recent Posts -->
        <div class="recent-posts">
          <h2 class="t2 t2-alert">Recent Posts</h2>

          {% include './layouts/blog/posts-scope.html' %}

          <div class="recent-posts__action">
            <a class="btn btn-icon" href="#">
              <span class="btn__text">See All Recent Posts</span>
              <i class="i i-arrow-right"></i>
            </a>
          </div>

        </div><!-- /.recent-posts -->

      </div>

      <!-- Blog Aside -->
      <div class="col-md-4">
        <aside class="blog-aside">

          {% include './layouts/blog/aside-newsletter.html' %}
          {% include './layouts/blog/aside-freebies.html' %}

        </aside><!-- /.blog-aside -->
      </div>
    </div>
  </div>
</div><!-- /.blog-section -->


{% include './layouts/blog/posts-similar.html' %}


<!-- Creative Talks -->
<section class="creative-posts">
  <div class="container container-full">
    <div class="row">
      <div class="col-md-8">

        <!-- Recent Posts -->
        <div class="recent-posts">
          <h2 class="t2 t2-alert">Creative Talks</h2>

          {% include './layouts/blog/posts-scope.html' %}

          <div class="recent-posts__action">
            <a class="btn btn-icon" href="#">
              <span class="btn__text">See All Recent Posts</span>
              <i class="i i-arrow-right"></i>
            </a>
          </div>
        </div><!-- /.recent-posts -->

      </div>

      <div class="col-md-4">
        <aside class="blog-aside">
          {% include './layouts/blog/aside-popular.html' %}
        </aside><!-- /.blog-aside -->
      </div>

    </div>
  </div>
</section><!-- /.bsc-creative -->

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
