{% include './layouts/header.html' %}
{% include './layouts/nav.html' %}

<!-- Header -->
<header class="header">
  <div class="container container-full">
    <div class="row">
      <div class="col">

        <!-- Logo -->
        <a class="logo" href="./index.html" title="Climbings. Index Page" accesskey="1">
          <svg width="206" height="50">
            <use xlink:href="./images/sprite.svg#logo-alt"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Careers Intro -->
<section class="careers-intro">
  <div class="container">

    <!-- Careers Intro Header -->
    <div class="careers-intro__header">
      <h1 class="subtitle">Careers at Climbings</h1>
      <h2 class="title">What's your next destination?</h2>
    </div>

    <!-- Careers Intro Planet -->
    <div class="careers-intro__img">
      <img src="./images/careers/careers-intro.svg" alt="Climbings | Careers at Climbings | What's your next destination?" width="1021" height="923">
    </div>

    <!-- Careers Intro Planet - Mobile -->
    <div class="careers-intro__img-mobile">
      <img src="./images/careers/planet.svg" alt="Climbings | Careers at Climbings | What's your next destination?" width="602" height="420">
    </div>

    <!-- Careers Intro Action -->
    <div class="careers-intro__action">
      <a class="btn btn-secondary btn-icon" href="https://www.linkedin.com/company/climbings/jobs/" target="_blank" rel="nofollow noopener noreferrer">
        <span class="btn__text">See Openings</span>
        <i class="i i-arrow-right"></i>
      </a>
    </div>
  </div>
</section><!-- /.careers-intro -->

<!-- Our Openings -->
<section class="careers-openings">
  <div class="container">

    <!-- Our Openings Header -->
    <header class="careers-openings__header">
      <div class="i-arrow-center">
        <i class="i-arrow-cta i-arrow-cta-rotate i-arrow-cta-red"></i>
      </div>

      <h2 class="page-section-title">Our Openings</h2>
      <div class="page-section-dsc">
        <p>
          After going through Discover process,
          we start designing eye catchy design that fits best for your brand and audience based on geography,
          age &amp; gender
        </p>
      </div>
    </header>

    <!-- Our Openings Content -->
    <div class="careers-openings__content">


      <!-- Our Openings Card -->
      <div class="careers-openings-card">
        <div class="careers-openings-card__col">
          <div class="careers-openings-card__title">
            <a href="./index.html" class="careers-openings-card__link">Task Lead/Application Developer</a>
          </div>

          <ul class="careers-openings-tags-list">
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="21" height="19">
                  <use xlink:href="./images/sprite.svg#icon-map-marked-alt"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Remote
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="18">
                  <use xlink:href="./images/sprite.svg#icon-clock"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Full-Time
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="19">
                  <use xlink:href="./images/sprite.svg#icon-rocket"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Entry-Level
              </div>
            </li>
          </ul>

          <div class="careers-openings-card__dsc">
            <p>
              Laudem et argumentandum et dolore disputandum putant sed ut ita ruant itaque turbent, ut aut perferendis doloribus asperiores repellat hanc ego cum a natura incorrupte atque corrupti, quos tu tam inportuno tamque crudeli; sin, ut aut fug...
            </p>
          </div>
        </div>

        <div class="careers-openings-card__action">
          <a class="btn btn-icon" href="./index.html">
            <span class="btn__text">Apply</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div>
      </div><!-- /.careers-openings-card -->

      <!-- Our Openings Card -->
      <div class="careers-openings-card">
        <div class="careers-openings-card__col">
          <div class="careers-openings-card__title">
            <a href="./index.html" class="careers-openings-card__link">Task Lead/Application Developer</a>
          </div>

          <ul class="careers-openings-tags-list">
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="21" height="19">
                  <use xlink:href="./images/sprite.svg#icon-map-marked-alt"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Remote
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="18">
                  <use xlink:href="./images/sprite.svg#icon-clock"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Full-Time
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="19">
                  <use xlink:href="./images/sprite.svg#icon-rocket"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Entry-Level
              </div>
            </li>
          </ul>

          <div class="careers-openings-card__dsc">
            <p>
              Laudem et argumentandum et dolore disputandum putant sed ut ita ruant itaque turbent, ut aut perferendis doloribus asperiores repellat hanc ego cum a natura incorrupte atque corrupti, quos tu tam inportuno tamque crudeli; sin, ut aut fug...
            </p>
          </div>
        </div>

        <div class="careers-openings-card__action">
          <a class="btn btn-icon" href="./index.html">
            <span class="btn__text">Apply</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div>
      </div><!-- /.careers-openings-card -->

      <!-- Our Openings Card -->
      <div class="careers-openings-card">
        <div class="careers-openings-card__col">
          <div class="careers-openings-card__title">
            <a href="./index.html" class="careers-openings-card__link">Task Lead/Application Developer</a>
          </div>

          <ul class="careers-openings-tags-list">
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="21" height="19">
                  <use xlink:href="./images/sprite.svg#icon-map-marked-alt"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Remote
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="18">
                  <use xlink:href="./images/sprite.svg#icon-clock"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Full-Time
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="19">
                  <use xlink:href="./images/sprite.svg#icon-rocket"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Entry-Level
              </div>
            </li>
          </ul>

          <div class="careers-openings-card__dsc">
            <p>
              Laudem et argumentandum et dolore disputandum putant sed ut ita ruant itaque turbent, ut aut perferendis doloribus asperiores repellat hanc ego cum a natura incorrupte atque corrupti, quos tu tam inportuno tamque crudeli; sin, ut aut fug...
            </p>
          </div>
        </div>

        <div class="careers-openings-card__action">
          <a class="btn btn-icon" href="./index.html">
            <span class="btn__text">Apply</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div>
      </div><!-- /.careers-openings-card -->

      <!-- Our Openings Card -->
      <div class="careers-openings-card">
        <div class="careers-openings-card__col">
          <div class="careers-openings-card__title">
            <a href="./index.html" class="careers-openings-card__link">Task Lead/Application Developer</a>
          </div>

          <ul class="careers-openings-tags-list">
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="21" height="19">
                  <use xlink:href="./images/sprite.svg#icon-map-marked-alt"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Remote
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="18">
                  <use xlink:href="./images/sprite.svg#icon-clock"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Full-Time
              </div>
            </li>
            <li class="careers-openings-tags-list__item">
              <div class="careers-openings-tags-list__icon">
                <svg width="18" height="19">
                  <use xlink:href="./images/sprite.svg#icon-rocket"></use>
                </svg>
              </div>
              <div class="careers-openings-tags-list__text">
                Entry-Level
              </div>
            </li>
          </ul>

          <div class="careers-openings-card__dsc">
            <p>
              Laudem et argumentandum et dolore disputandum putant sed ut ita ruant itaque turbent, ut aut perferendis doloribus asperiores repellat hanc ego cum a natura incorrupte atque corrupti, quos tu tam inportuno tamque crudeli; sin, ut aut fug...
            </p>
          </div>
        </div>

        <div class="careers-openings-card__action">
          <a class="btn btn-icon" href="./index.html">
            <span class="btn__text">Apply</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div>
      </div><!-- /.careers-openings-card -->
    </div><!-- /.careers-openings__content -->

    <!-- Our Openings Footer -->
    <footer class="careers-openings__footer">
      <i class="i-arrow-cta i-arrow-cta-red"></i>
    </footer>
  </div>
</section><!-- /.careers-openings -->


<!-- FAQ -->
<section class="faq">
  <div class="container">

    <!-- FAQ Header -->
    <header class="faq__header">
      <h2 class="page-section-title">FAQ</h2>
    </header>

    <!-- FAQ Content -->
    <div class="faq__content">

      <!-- FAQ Tabs List -->
      <ul class="faq-tabs-list">
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link active" data-tabid="1">What is AWS Backup?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile active" data-tab="1">
            <p>
              #1
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="2">How does AWS Backup work with other AWS services that have backup capabilities?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="2">
            <p>
              #2
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="3">Why should I use AWS Backup?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="3">
            <p>
              #3
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="4">How does AWS Backup work?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="4">
            <p>
              #4
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="5">What are the key features of AWS Backup?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="5">
            <p>
              #5
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="6">What can I backup using AWS Backup?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="6">
            <p>
              #6
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
        <li class="faq-tabs-list__item">
          <a href="#" class="faq-tabs-list__link" data-tabid="7">Can I use AWS Backup to backup on-premises data?</a>
          <div class="faq-tabs__card faq-tabs__card-mobile" data-tab="7">
            <p>
              #7
            </p>
            <p>
              AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
            </p>
            <p>
              AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
            </p>
          </div>
        </li>
      </ul>

      <!-- FAQ Tabs Content -->
      <div class="faq-tabs__content">
        <div class="faq-tabs__card active" data-tab="1">
          <p>
            #1
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card" data-tab="2">
          <p>
            #2
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card" data-tab="3">
          <p>
            #3
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card"  data-tab="4">
          <p>
            #4
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card" data-tab="5">
          <p>
            #5
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card"  data-tab="6">
          <p>
            #6
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
        <div class="faq-tabs__card" data-tab="7">
          <p>
            #7
          </p>
          <p>
            AWS Backup is a centralized backup service that makes it easy and cost-effective for you to backup your application data across AWS services in the AWS Cloud, helping you meet your business and regulatory backup compliance requirements.
          </p>
          <p>
            AWS Backup makes protecting your AWS storage volumes, databases, and file systems simple by providing a central place where you can configure and audit the AWS resources you want to backup, automate backup scheduling, set retention policies, and monitor all recent backup and restore activity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.faq -->

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
