{% include './layouts/header.html' %}
{% include './layouts/nav.html' %}


<!-- Header -->
<header class="header header-dark">

  <div class="container container-full">
    <div class="row">
      <div class="col">

        <!-- Logo -->
        <a class="logo" href="./index.html" title="Climbings. Index Page" accesskey="1">
          <svg width="206" height="50">
            <use xlink:href="./images/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Intro -->
<section class="section-inverted intro">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-end">

        <!-- Subtitle -->
        <div class="intro-subtitle">
          <p>
            Climbings is a <em>global digital agency</em> and <em>design studio</em> providing innovative,
            modern and aesthetic solution for your online business &amp; presence
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Title -->
  <header class="container intro-header">
    <h2 class="title">Climb High</h2>
  </header>

  <!-- Intro Menu -->
  <div class="container">

    <!-- Intro Animation Scene -->
    <div class="intro-scene" id="sceneIntro">

      <!-- Intro Menu -->
      <ul class="intro-menu">

        <!-- Menu Item -->
        <li class="intro-menu__item">
          <a href="#sectionServices" class="btn btn-inv intro-menu__link">
            <span class="btn__icon-plus">+</span>
            <span class="btn__text">Development</span>
          </a>
        </li>

        <!-- Menu Item -->
        <li class="intro-menu__item">
          <a href="#sectionServices" class="btn btn-inv intro-menu__link">
            <span class="btn__icon-plus">+</span>
            <span class="btn__text">Design</span>
          </a>
        </li>

        <!-- Menu Item -->
        <li class="intro-menu__item">
          <a href="#sectionServices" class="btn btn-inv intro-menu__link">
            <span class="btn__icon-plus">+</span>
            <span class="btn__text">Branding</span>
          </a>
        </li>

        <!-- Menu Item -->
        <li class="intro-menu__item">
          <a href="#sectionServices" class="btn btn-inv intro-menu__link">
            <span class="btn__icon-plus">+</span>
            <span class="btn__text">Business Strategy</span>
          </a>
        </li>

        <!-- Menu Item -->
        <li class="intro-menu__item">
          <a class="btn intro-menu__link btn-explore-more" href="https://www.behance.net/climbings" target="_blank" rel="nofollow noopener noreferrer">
            <i class="i i-arrow-up"></i>
            <span class="btn__text">Explore More</span>
          </a>
        </li>

      </ul>

      {% include './layouts/intro-scene.html' %}

      <!-- Intro Scene Shadow -->
      <div class="intro-scene-shadow"></div>

    </div>
  </div>


  <!-- Popup Explore More -->
  <div class="popup-explore-more">
    <a class="btn btn-icon btn-lg" href="https://www.behance.net/climbings" target="_blank" rel="nofollow noopener noreferrer">
      <span class="btn__text">Explore More</span>
      <i class="i i-arrow-right"></i>
    </a>
  </div>
</section>


<!-- Services -->
<section class="section-inverted services" id="sectionServices">
  <div class="container">

    <!-- Services Header -->
    <header class="services__header">
      <i class="i-arrow-cta i-arrow-cta-rotate"></i>
      <h2 class="title">Our Services</h2>
    </header>

    <!-- Services Tabs -->
    <div class="services-tabs">

      <!-- Services Tabs Navigation -->
      <div class="services-tabs__nav">

        <!-- Tab Button -->
        <a class="services-tabs__link active" href="#tab_design">

          <!-- Tabs Icon -->
          <div class="services-tabs__icon">
            <svg width="82" height="76">
              <use xlink:href="./images/sprite.svg#icon-services-design"></use>
            </svg>
          </div>

          <!-- Tabs Content -->
          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Design</h3>
            <p class="services-tabs__dsc">Carefully crafted design and user experience analysis</p>
          </div>
        </a>

        <!-- Tab Button -->
        <a class="services-tabs__link" href="#tab_develop">

          <!-- Tabs Icon -->
          <div class="services-tabs__icon">
            <svg width="62" height="87">
              <use xlink:href="./images/sprite.svg#icon-services-dev"></use>
            </svg>
          </div>

          <!-- Tabs Content -->
          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Develop</h3>
            <p class="services-tabs__dsc">Software and web development for all platforms</p>
          </div>
        </a>

        <!-- Tab Button -->
        <a class="services-tabs__link" href="#tab_strategy">

          <!-- Tabs Icon -->
          <div class="services-tabs__icon">
            <svg width="52" height="73">
              <use xlink:href="./images/sprite.svg#icon-services-strategy"></use>
            </svg>
          </div>

          <!-- Tabs Content -->
          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Strategy</h3>
            <p class="services-tabs__dsc">Need to develop business strategy? We've got it covered</p>
          </div>
        </a>
      </div>


      <!-- Services Tabs Content -->
      <div class="services-content">

        <!-- Tabs Content Item -->
        <div class="services-content__item active" id="tab_design">

          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Design</h3>
            <p class="services-tabs__dsc">Carefully crafted design and user experience analysis</p>
          </div>

          <ul class="services-list">
            <li class="services-list__item">User Experience Design</li>
            <li class="services-list__item">Wireframe</li>
            <li class="services-list__item">Prototype</li>
            <li class="services-list__item">App Design</li>
            <li class="services-list__item">Web Design</li>
            <li class="services-list__item">Animation</li>
            <li class="services-list__item">Brand Identity</li>
            <li class="services-list__item">Print Design</li>
            <li class="services-list__item">Interactive Presentation</li>
            <li class="services-list__item">Illustration</li>
          </ul>
        </div>

        <!-- Tabs Content Item -->
        <div class="services-content__item" id="tab_develop">

          <!-- Tabs Content -->
          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Develop</h3>
            <p class="services-tabs__dsc">Software and web development for all platforms</p>
          </div>

          <ul class="services-list">
            <li class="services-list__item">iOS/iPadOS</li>
            <li class="services-list__item">Android</li>
            <li class="services-list__item">Windows</li>
            <li class="services-list__item">macOS</li>
            <li class="services-list__item">Server Side</li>
            <li class="services-list__item">CMS</li>
            <li class="services-list__item">Ecommerce</li>
          </ul>
        </div>

        <!-- Tabs Content Item -->
        <div class="services-content__item" id="tab_strategy">

          <!-- Tabs Content -->
          <div class="services-tabs__content">
            <h3 class="services-tabs__header">Strategy</h3>
            <p class="services-tabs__dsc">Need to develop business strategy? We’ve got it covered</p>
          </div>

          <ul class="services-list">
            <li class="services-list__item">Business Strategy</li>
            <li class="services-list__item">Content Writing</li>
            <li class="services-list__item">Presentation</li>
            <li class="services-list__item">Analysis</li>
            <li class="services-list__item">Marketing</li>
          </ul>
        </div>


        <!-- Services Action -->
        <div class="services__action">
          <a class="btn btn-primary btn-icon" href="https://climbings.com/get-started/">
            <span class="btn__text">Start a project</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div><!-- /.services__action -->

      </div><!-- /.services-content -->
    </div><!-- /.services-tabs -->
  </div>

  <div class="services-bottom-bg"></div>
</section><!-- /.services -->



<!-- Our Process -->
<section class="process" id="sectionProcess">

  <!-- Our Process Header -->
  <div class="container">
    <header class="process__header">
      <i class="i-arrow-cta"></i>
      <h3 class="subtitle">Our Process</h3>
      <h2 class="title title-sm">How do we climb to your goal?</h2>
    </header>

    {% include './layouts/process-scene.html' %}
  </div>

  <div class="process-bottom-bg"></div>
</section>

<!-- Our Process Slider -->
<div class="process__content">
  <div class="container">

    <!-- Our Process Menu -->
    <ul class="process-menu">

      <!-- Menu Item -->
      <li class="process-menu__item">
        <a href="#" class="process-menu__link active" data-index="1">Discover</a>
      </li>

      <!-- Menu Item -->
      <li class="process-menu__item">
        <a href="#" class="process-menu__link" data-index="2">Design</a>
      </li>

      <!-- Menu Item -->
      <li class="process-menu__item">
        <a href="#" class="process-menu__link" data-index="3">Develop</a>
      </li>

      <!-- Menu Item -->
      <li class="process-menu__item">
        <a href="#" class="process-menu__link" data-index="4">Testing</a>
      </li>

      <!-- Menu Item -->
      <li class="process-menu__item">
        <a href="#" class="process-menu__link" data-index="5">Launch</a>
      </li>

      <li class="hover"></li>
    </ul>


    <!-- Our Process Slider -->
    <div class="process-slider">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slide #1 Discover -->
        <div class="swiper-slide">

          <!-- Tab Content -->
          <div class="process-details__tab">
            <img loading="lazy" src="./images/process/process-discover.svg" alt="Climbings | Discover" width="1025" height="461">

            <div class="process-details__content">
              <h3 class="process-details__title">Requirements. Analysis. Wireframe.</h3>
              <p class="process-details__subtitle">
                After going through Discover process, we start designing eye catchy design that fits best
                for your brand and audience based on geography, age &amp; gender
              </p>

              <div class="process__launch-btn">
                <a class="btn btn-icon btn-lg" href="https://climbings.com/get-started/">
                  <span class="btn__text">Start a project</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Slide #2 Design -->
        <div class="swiper-slide">

          <!-- Tab Content -->
          <div class="process-details__tab">
            <img loading="lazy" src="./images/process/process-design.png" alt="Climbings | Design" width="1810" height="906">

            <div class="process-details__content">
              <h3 class="process-details__title">Diverse Design &amp; Animation skill</h3>
              <p class="process-details__subtitle">
                After going through Discover process, we start designing eye catchy design that fits best
                for your brand and audience based on geography, age &amp; gender
              </p>

              <div class="process__launch-btn">
                <a class="btn btn-icon btn-lg" href="https://climbings.com/get-started/">
                  <span class="btn__text">Start a project</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide #3 Develop -->
        <div class="swiper-slide">

          <!-- Tab Content -->
          <div class="process-details__tab">
            <div class="process-details__content lg">
              <div class="process-details__platforms">
                <h3 class="process-details__title">Genius Coding</h3>
                <h4 class="process-details__title-secondary">For Any Playform</h4>
                <p class="process-details__subtitle">
                  After going through Discover process, we start designing eye catchy design that fits best
                  for your brand and audience based on geography, age &amp; gender
                </p>
                <img loading="lazy" src="./images/process/process-platforms.svg" alt="Climbings | Platforms" width="940" height="80">
              </div>
              <div class="process-details__lang">
                <h4 class="process-details__title-secondary">With Any Language.</h4>
                <p class="process-details__subtitle">
                  After going through Discover process, we start designing eye catchy design that fits best
                  for your brand and audience based on geography, age &amp; gender
                </p>
                <img loading="lazy" src="./images/process/process-lang.svg" alt="Climbings | Process" width="940" height="52">
              </div>

              <div class="process__launch-btn">
                <a class="btn btn-icon btn-lg" href="https://climbings.com/get-started/">
                  <span class="btn__text">Start a project</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Slide #4 Testing -->
        <div class="swiper-slide">

          <!-- Tab Content -->
          <div class="process-details__tab">
            <div class="process-testing__img">
              <img loading="lazy" src="./images/process/process-testing.svg" alt="Climbings | QA" width="887" height="469">
            </div>

            <div class="process-details__content">
              <h3 class="process-details__title">We make sure it works as intended</h3>
              <p class="process-details__subtitle">
                After going through Discover process, we start designing eye catchy design that fits best
                for your brand and audience based on geography, age &amp; gender
              </p>

              <div class="process__launch-btn">
                <a class="btn btn-icon btn-lg" href="https://climbings.com/get-started/">
                  <span class="btn__text">Start a project</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide #5 Launch -->
        <div class="swiper-slide">

          <!-- Tab Content -->
          <div class="process-details__tab">

            <div class="process__launch-img">
              <img loading="lazy" src="./images/process/process-launch.svg" alt="Climbings | Launch" width="801" height="321">
            </div>

            <div class="process__launch-msg">
              <p class="primary">But wait! We aren’t done yet!</p>
              <p>We will provide <em>on-demand support</em> for the product we created with <em>love</em> for you</p>

              <div class="process__launch-btn">
                <a class="btn btn-icon btn-lg" href="https://climbings.com/get-started/">
                  <span class="btn__text">Start a project</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>

          </div>

        </div>
      </div><!-- /.swiper-wrapper -->

      <!-- Navigation buttons -->
      <div class="swiper-button-prev">
        <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
      </div>

      <div class="swiper-button-next">
        <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
      </div>

    </div><!-- /.process-slider -->
  </div><!-- /.container -->

  <div class="works-top-bg"></div>
</div><!-- /.process__content -->


<!-- Works -->
<section class="works">
  <div class="container">

    <!-- Tabs -->
    <div class="works-tabs">

      <!-- Tabs Nav -->
      <div class="works-tabs__nav">
        <header class="works__header">
          <h2 class="title">Works</h2>
        </header>

        <!-- Tabs List -->
        <ul class="works-tabs-list">
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link active" href="#works-tab-1">
              Cannabox
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              Crescent
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              13Prime
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              Academy Mortgage
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              Remote.io
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              Life.Ai
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              Climbings Platform
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              ESOS Ring
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              Pratter Inc.
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              RollnUp
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              Rock is Friend
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              StreetFlow
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-2">
              ShineBloom
            </a>
          </li>
          <li class="works-tabs-list__item">
            <a class="works-tabs-list__link" href="#works-tab-1">
              Doorectory
            </a>
          </li>
        </ul>

        <a class="btn btn-primary btn-lg btn-icon" href="./works.html">
          <span class="btn__text">See All Projects</span>
          <i class="i i-arrow-right"></i>
        </a>

      </div><!-- /.works-tabs__nav -->

      <!-- Tabs Content -->
      <div class="works-tabs__content">

        <!-- Tabs Card -->
        <div class="works-card active" id="works-tab-1">

          <!-- Card Header -->
          <div class="works-card__header">
            <h3 class="page-card__title">
              Website, iOS App &amp; Brand
            </h3>

            <div class="works-card__subtitle">
              <p>
                Update for Smart Elevator startup Lift.ai
              </p>
            </div>

            <div class="works-card__dsc">
              <p>
                After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
              </p>
              <p>
                After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
              </p>
            </div>
          </div>

          <!-- Card Content -->
          <div class="works-card__content">
            <h3 class="caps-heading">Responsibilites</h3>

            <!-- Card Tags -->
            <ul class="works-card-tags__list">
              <li class="works-card-tags__item">
                Web Design
              </li>
              <li class="works-card-tags__item">
                UI Design
              </li>
              <li class="works-card-tags__item">
                UX Design
              </li>
              <li class="works-card-tags__item">
                Wireframe
              </li>
            </ul>

            <!-- Card Action -->
            <div class="works-card__action">
              <a class="btn btn-lg btn-icon" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">
                <span class="btn__text">View the Project</span>
                <i class="i i-arrow-right"></i>
              </a>
            </div>

            <!-- Card Thumbnail -->
            <div class="works-card__thumb">
              <img loading="lazy" src="./images/works/works-life-ai.png" alt="Climbings | Works | Life.ai">
            </div>

          </div>
        </div><!-- /.works-card -->


        <!-- Tabs Card -->
        <div class="works-card" id="works-tab-2">

          <!-- Card Header -->
          <div class="works-card__header">
            <h3 class="page-card__title">Card #2 Website, iOS App &amp; </h3>

            <div class="works-card__subtitle">
              <p>
                Brand Update for Smart Elevator startup Lift.ai
              </p>
            </div>

            <div class="works-card__dsc">
              <p>
                After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
              </p>
              <p>
                After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
              </p>
            </div>
          </div>

          <!-- Card Content -->
          <div class="works-card__content">
            <h3 class="caps-heading">Responsibilites</h3>

            <!-- Card Tags -->
            <ul class="works-card-tags__list">
              <li class="works-card-tags__item">
                Web Design
              </li>
              <li class="works-card-tags__item">
                UI Design
              </li>
              <li class="works-card-tags__item">
                UX Design
              </li>
              <li class="works-card-tags__item">
                Wireframe
              </li>
            </ul>

            <!-- Card Action -->
            <div class="works-card__action">
              <a class="btn btn-lg btn-icon" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">
                <span class="btn__text">View the Project</span>
                <i class="i i-arrow-right"></i>
              </a>
            </div>

            <!-- Card Thumbnail -->
            <div class="works-card__thumb">
              <img loading="lazy" src="./images/works/works-life-ai.png" alt="Climbings | Works | Life.ai">
            </div>

          </div>
        </div><!-- /.works-card -->


      </div><!-- /.works-tabs__content -->
    </div><!-- /.works-tabs -->

  </div>
</section><!-- /.works -->


<!-- Testimonials -->
<section class="testimonials">
  <div class="container">

    <!-- Testimonials Header -->
    <header class="testimonials-header">
      <h2 class="title title-sm">
        <span>
          Inspirations

          <svg width="82" height="72">
            <use xlink:href="./images/sprite.svg#heart"></use>
          </svg>

          from
        </span>
        <span>
          our clients
        </span>
      </h2>

      <p class="subtitle">
        Climbings is a global digital agency and design studio providing innovative,
        modern and aesthetic solution for your online business &amp; presence
      </p>

    </header>
  </div>


  <div class="container container-testimonials">


    <!-- Testimonials Filter -->
    <div class="testimonials-filter">

      <!-- Testimonials Menu -->
      <ul class="tab-menu testimonials-menu">

        <!-- Testimonials Menu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab1" class="tab-menu__link testimonials__link active">All Works</a>
        </li>

        <!-- Testimonials Menu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab2" class="tab-menu__link testimonials__link">Web Design</a>
        </li>

        <!-- Testimonials Menu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab3" class="tab-menu__link testimonials__link">App Design</a>
        </li>

        <!-- Testimonials Menu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab4" class="tab-menu__link testimonials__link">Branding</a>
        </li>

        <!-- Testimonials Menu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab5" class="tab-menu__link testimonials__link">Animation</a>
        </li>

        <!-- TestimonialsMenu Item -->
        <li class="tab-menu__item testimonials__item">
          <a href="#tst_tab6" class="tab-menu__link testimonials__link">Graphic Design</a>
        </li>

      </ul>
    </div><!-- /.testimonials-filter -->


    <!-- Testimonials Slider -->
    <div class="testimonials_tab-content">

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item active" id="tst_tab1" data-tabid="0">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings delivered an excellent UI-concept prototype of our design, which we used to secure investment and demonstrate concept features to clients. They were responsive, quick to deliver, and worked hard to make corrections. They’re excellent in the UI/UX field, and I can't recommend them strongly enough. </p>
                <p class="feedback__author">Scott McGimpsey</p>
                <p class="feedback__author-role">NVISNx</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">
                <div class="feedback__logo">
                  <img src="./images/testimonials/logo-tmp.svg" alt="Climbings Feedback" width="159" height="42" loading="lazy">
                </div>
                <p class="feedback__text">
                  Climbings was awesome! They finished our project very promptly &amp; explained everything along the way to us. It was super quick and exceeded all expectations. We would recommend Climbings to everyone &amp; will be hiring them again in the future! Thanks, Climbings! </p>
                <p class="feedback__author">Jen Rudy</p>
                <p class="feedback__author-role">Modern and Co.</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Always great working with Climbings. Able to adhere to deadlines, provide quality work in a very short amount of time, extremely communicative and never submits work without it being 10000% to my needs. Best agency out there! </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was awesome to work with. It’s very refreshing when you hire someone remotely and they meet all your expectations in a timely manner. I will be hiring Climbings again for any future website needs. </p>
                <p class="feedback__author">Tim Vandermeulen</p>
                <p class="feedback__author-role">Fresh Air Dryer Vent</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Emily and her team were very easy to work.The job was done well with minimal direction and back and forth. I am planning on hiring them again for another project. </p>
                <p class="feedback__author">Steve Brown</p>
                <p class="feedback__author-role">13prime</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Fast work, accurate production based on fuzzy input, great to work with overall. </p>
                <p class="feedback__author">Andrew Lewman</p>
                <p class="feedback__author-role">Laxdaela</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Excellent agency. Easy to work with. Meets deadlines. Top-notch work. Will continue to use for all our projects. </p>
                <p class="feedback__author">Jordan Robbins</p>
                <p class="feedback__author-role">247lending</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was responsive to my emails, completed the necessary work quickly, and accomplished what I needed her to do efficiently. I'm likely to rehire them when I'm ready for more work to be done on my site. </p>
                <p class="feedback__author">Sarah Schlehr</p>
                <p class="feedback__author-role">Pregnancy Lawyer</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Hire! Hire! Hire! You will not be disappointed </p>
                <p class="feedback__author">Frank Scaplen</p>
                <p class="feedback__author-role">My New Jersey</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was able to complete all my edits in a matter of hours....... not days, hours!! Extremely communicative, made sure the job was done PERFECTLY and gave no pushback when I made an error on my end.. The best experience I've had with a remote hire.. Hire Climbings and get your project done by the end of the day! :) </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item" id="tst_tab2" data-tabid="1">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings delivered an excellent UI-concept prototype of our design, which we used to secure investment and demonstrate concept features to clients. They were responsive, quick to deliver, and worked hard to make corrections. They’re excellent in the UI/UX field, and I can't recommend them strongly enough. </p>
                <p class="feedback__author">Scott McGimpsey</p>
                <p class="feedback__author-role">NVISNx</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">
                <div class="feedback__logo">
                  <img src="./images/testimonials/logo-tmp.svg" alt="Climbings Feedback" width="159" height="42" loading="lazy">
                </div>
                <p class="feedback__text">
                  Climbings was awesome! They finished our project very promptly &amp; explained everything along the way to us. It was super quick and exceeded all expectations. We would recommend Climbings to everyone &amp; will be hiring them again in the future! Thanks, Climbings! </p>
                <p class="feedback__author">Jen Rudy</p>
                <p class="feedback__author-role">Modern and Co.</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Always great working with Climbings. Able to adhere to deadlines, provide quality work in a very short amount of time, extremely communicative and never submits work without it being 10000% to my needs. Best agency out there! </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>
          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item" id="tst_tab3" data-tabid="2">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was responsive to my emails, completed the necessary work quickly, and accomplished what I needed her to do efficiently. I'm likely to rehire them when I'm ready for more work to be done on my site. </p>
                <p class="feedback__author">Sarah Schlehr</p>
                <p class="feedback__author-role">Pregnancy Lawyer</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Hire! Hire! Hire! You will not be disappointed </p>
                <p class="feedback__author">Frank Scaplen</p>
                <p class="feedback__author-role">My New Jersey</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was able to complete all my edits in a matter of hours....... not days, hours!! Extremely communicative, made sure the job was done PERFECTLY and gave no pushback when I made an error on my end.. The best experience I've had with a remote hire.. Hire Climbings and get your project done by the end of the day! :) </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item" id="tst_tab4" data-tabid="3">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings delivered an excellent UI-concept prototype of our design, which we used to secure investment and demonstrate concept features to clients. They were responsive, quick to deliver, and worked hard to make corrections. They’re excellent in the UI/UX field, and I can't recommend them strongly enough. </p>
                <p class="feedback__author">Scott McGimpsey</p>
                <p class="feedback__author-role">NVISNx</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">
                <div class="feedback__logo">
                  <img src="./images/testimonials/logo-tmp.svg" alt="Climbings Feedback" width="159" height="42" loading="lazy">
                </div>
                <p class="feedback__text">
                  Climbings was awesome! They finished our project very promptly &amp; explained everything along the way to us. It was super quick and exceeded all expectations. We would recommend Climbings to everyone &amp; will be hiring them again in the future! Thanks, Climbings! </p>
                <p class="feedback__author">Jen Rudy</p>
                <p class="feedback__author-role">Modern and Co.</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Always great working with Climbings. Able to adhere to deadlines, provide quality work in a very short amount of time, extremely communicative and never submits work without it being 10000% to my needs. Best agency out there! </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was able to complete all my edits in a matter of hours....... not days, hours!! Extremely communicative, made sure the job was done PERFECTLY and gave no pushback when I made an error on my end.. The best experience I've had with a remote hire.. Hire Climbings and get your project done by the end of the day! :) </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item" id="tst_tab5" data-tabid="4">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was awesome to work with. It’s very refreshing when you hire someone remotely and they meet all your expectations in a timely manner. I will be hiring Climbings again for any future website needs. </p>
                <p class="feedback__author">Tim Vandermeulen</p>
                <p class="feedback__author-role">Fresh Air Dryer Vent</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Emily and her team were very easy to work.The job was done well with minimal direction and back and forth. I am planning on hiring them again for another project. </p>
                <p class="feedback__author">Steve Brown</p>
                <p class="feedback__author-role">13prime</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was responsive to my emails, completed the necessary work quickly, and accomplished what I needed her to do efficiently. I'm likely to rehire them when I'm ready for more work to be done on my site. </p>
                <p class="feedback__author">Sarah Schlehr</p>
                <p class="feedback__author-role">Pregnancy Lawyer</p>
              </div>
            </div>
          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

      <!-- Testimonials Tab -->
      <div class="testimonials_tab-content__item" id="tst_tab6" data-tabid="5">
        <div class="testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="feedback">
                <div class="feedback__logo">
                  <img src="./images/testimonials/logo-tmp.svg" alt="Climbings Feedback" width="159" height="42" loading="lazy">
                </div>
                <p class="feedback__text">
                  Climbings was awesome! They finished our project very promptly &amp; explained everything along the way to us. It was super quick and exceeded all expectations. We would recommend Climbings to everyone &amp; will be hiring them again in the future! Thanks, Climbings! </p>
                <p class="feedback__author">Jen Rudy</p>
                <p class="feedback__author-role">Modern and Co.</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Always great working with Climbings. Able to adhere to deadlines, provide quality work in a very short amount of time, extremely communicative and never submits work without it being 10000% to my needs. Best agency out there! </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>


            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Emily and her team were very easy to work.The job was done well with minimal direction and back and forth. I am planning on hiring them again for another project. </p>
                <p class="feedback__author">Steve Brown</p>
                <p class="feedback__author-role">13prime</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Fast work, accurate production based on fuzzy input, great to work with overall. </p>
                <p class="feedback__author">Andrew Lewman</p>
                <p class="feedback__author-role">Laxdaela</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Hire! Hire! Hire! You will not be disappointed </p>
                <p class="feedback__author">Frank Scaplen</p>
                <p class="feedback__author-role">My New Jersey</p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="feedback">

                <p class="feedback__text">
                  Climbings was able to complete all my edits in a matter of hours....... not days, hours!! Extremely communicative, made sure the job was done PERFECTLY and gave no pushback when I made an error on my end.. The best experience I've had with a remote hire.. Hire Climbings and get your project done by the end of the day! :) </p>
                <p class="feedback__author">Gabe Gonzales</p>
                <p class="feedback__author-role">Spunkity</p>
              </div>
            </div>

          </div><!-- /.swiper-wrapper -->

          <!-- Navigation buttons -->
          <div class="swiper-button-prev">
            <div class="btn btn-short"><i class="i i-arrow-left"></i></div>
          </div>

          <div class="swiper-button-next">
            <div class="btn btn-short"><i class="i i-arrow-right"></i></div>
          </div>

        </div>
      </div> <!-- /.testimonials_tab-content__item -->

    </div><!-- /.testimonials_tab-content -->
  </div><!-- /.container container-testimonials -->
</section>

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
