{% include './layouts/header.html' %}
{% include './layouts/nav.html' %}

<!-- Header -->
<header class="header">
  <div class="container container-full">
    <div class="row">
      <div class="col">

        <!-- Logo -->
        <a class="logo" href="./index.html" title="Climbings. Index Page" accesskey="1">
          <svg width="206" height="50">
            <use xlink:href="./images/sprite.svg#logo-alt"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Works Raw Data -->
<div class="works-data">

  <div class="filter-all filter-design filter-branding">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link active" href="#works-tab-1">
          Cannabox
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-branding">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          Crescent
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-branding">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          13Prime
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Academy Mortgage
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          Remote.io
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Life.Ai
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-branding filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          Climbings Platform
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-branding filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          ESOS Ring
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-branding filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          Pratter Inc.
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          RollnUp
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          Rock is Friend
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-branding">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          StreetFlow
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-branding filter-graphic">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-2">
          ShineBloom
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all filter-design filter-branding">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
  <div class="filter-all">
    <div class="swiper-slide">
      <div class="works-tabs-list__item">
        <a class="works-tabs-list__link" href="#works-tab-1">
          Doorectory
        </a>
      </div>
    </div>
  </div>
</div><!-- /.works-data -->

<!-- Works -->
<main class="works-posts">
  <div class="container container-full">

    <header class="works__header">
      <div class="row">
        <div class="col-md-4">
          <h1 class="t2">Works</h1>
        </div>
        <div class="col-md-8">

          <!-- Works Filter -->
          <div class="works-posts__filter">
            <ul class="tab-menu tab-menu-alt">
              <li class="tab-menu__item">
                <a href="#all" class="tab-menu__link active">All Projects</a>
              </li>
              <li class="tab-menu__item">
                <a href="#design" class="tab-menu__link">Web/UI Design</a>
              </li>
              <li class="tab-menu__item">
                <a href="#branding" class="tab-menu__link">Branding</a>
              </li>
              <li class="tab-menu__item">
                <a href="#graphic" class="tab-menu__link">Graphic</a>
              </li>
            </ul>
          </div><!-- /.works-posts__filter -->

        </div>
      </div>
    </header>

    <!-- Tabs -->
    <div class="works-tabs">
      <div class="row">
        <div class="col-md-4">

          <!-- Tabs Nav -->
          <div class="works-tabs__nav">

            <!-- Tabs List -->
            <div class="works-tabs-list works-tabs-list-main">
              <div class="works-list-slider swiper-container">
                <div class="swiper-wrapper">

                </div>

                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
              </div>

              <div class="works-tabs-list__action">
                <a href="#" class="btn btn-short btn-works-list-expand"><i class="i i-arrow-down"></i></a>
              </div>

            </div><!-- /.works-tabs-list -->
          </div><!-- /.works-tabs__nav -->
        </div>
        <div class="col-md-8">

          <!-- Tabs Content -->
          <div class="works-tabs__content">

            <!-- Tabs Card -->
            <div class="works-card active" id="works-tab-1">

              <!-- Card Header -->
              <div class="works-card__header">
                <h3 class="page-card__title">
                  Website, iOS App &amp; Brand
                </h3>

                <div class="works-card__subtitle">
                  <p>
                    Update for Smart Elevator startup Lift.ai
                  </p>
                </div>

                <div class="works-card__dsc">
                  <p>
                    After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
                  </p>
                  <p>
                    After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
                  </p>
                </div>
              </div>

              <!-- Card Content -->
              <div class="works-card__content">
                <h3 class="caps-heading">Responsibilities</h3>

                <!-- Card Tags -->
                <ul class="works-card-tags__list">
                  <li class="works-card-tags__item">
                    Web Design
                  </li>
                  <li class="works-card-tags__item">
                    UI Design
                  </li>
                  <li class="works-card-tags__item">
                    UX Design
                  </li>
                  <li class="works-card-tags__item">
                    Wireframe
                  </li>
                </ul>

                <!-- Card Action -->
                <div class="works-card__action">
                  <a class="btn btn-lg btn-icon modal-link" href="#" data-target="work-1">
                    <span class="btn__text">View the Project</span>
                    <i class="i i-arrow-right"></i>
                  </a>
                </div>

                <!-- Card Thumbnail -->
                <div class="works-card__thumb">
                  <img loading="lazy" src="./images/works/works-life-ai.png" alt="Climbings | Works | Life.ai">
                </div>

              </div>
            </div><!-- /.works-card -->


            <!-- Tabs Card -->
            <div class="works-card" id="works-tab-2">

              <!-- Card Header -->
              <div class="works-card__header">
                <h3 class="page-card__title">Card #2 Website, iOS App &amp; </h3>

                <div class="works-card__subtitle">
                  <p>
                    Brand Update for Smart Elevator startup Lift.ai
                  </p>
                </div>

                <div class="works-card__dsc">
                  <p>
                    After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
                  </p>
                  <p>
                    After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
                  </p>
                </div>
              </div>

              <!-- Card Content -->
              <div class="works-card__content">
                <h3 class="caps-heading">Responsibilities</h3>

                <!-- Card Tags -->
                <ul class="works-card-tags__list">
                  <li class="works-card-tags__item">
                    Web Design
                  </li>
                  <li class="works-card-tags__item">
                    UI Design
                  </li>
                  <li class="works-card-tags__item">
                    UX Design
                  </li>
                  <li class="works-card-tags__item">
                    Wireframe
                  </li>
                </ul>

                <!-- Card Action -->
                <div class="works-card__action">
                  <a class="btn btn-lg btn-icon modal-link" href="#" data-target="work-1">
                    <span class="btn__text">View the Project</span>
                    <i class="i i-arrow-right"></i>
                  </a>
                </div>

                <!-- Card Thumbnail -->
                <div class="works-card__thumb">
                  <img loading="lazy" src="./images/works/works-life-ai.png" alt="Climbings | Works | Life.ai">
                </div>

              </div>
            </div><!-- /.works-card -->


          </div><!-- /.works-tabs__content -->
        </div><!-- /.works-tabs -->

      </div>
    </div>
  </div>
</main><!-- /.works -->

<!-- Modal Window: Works Details -->
<div class="modal modal-work" id="work-1">
  <div class="container">
    <div class="modal-work__header">
      <a href="#" class="btn btn-short btn-hide btn-alt modal-hide" data-target="work-1"><i class="i i-hide"></i></a>
    </div>
    <div class="modal-work__body">

      <!-- Tabs Card -->
      <div class="works-card">

        <!-- Card Header -->
        <div class="works-card__header">
          <h3 class="page-card__title">Card #2 Website, iOS App &amp; </h3>

          <div class="works-card__subtitle">
            <p>
              Brand Update for Smart Elevator startup Lift.ai
            </p>
          </div>

          <div class="works-card__dsc">
            <p>
              After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
            </p>
            <p>
              After going through Discover processs, we start designing eye catchy design that fits best for your brand and audience based on geography, age & gennder
            </p>
          </div>
        </div>

        <!-- Card Content -->
        <div class="works-card__content">
          <h3 class="caps-heading">Responsibilities</h3>

          <!-- Card Tags -->
          <ul class="works-card-tags__list">
            <li class="works-card-tags__item">
              Web Design
            </li>
            <li class="works-card-tags__item">
              UI Design
            </li>
            <li class="works-card-tags__item">
              UX Design
            </li>
            <li class="works-card-tags__item">
              Wireframe
            </li>
          </ul>
        </div>
      </div><!-- /.works-card -->

      <!-- Preview -->
      <div class="modal-work__preview">
        <img loading="lazy" src="./images/works/preview.png" alt="Climbings | Works | Preview">
      </div>

    </div><!-- /.modal-work-body -->
  </div><!-- /.container -->
</div><!-- /.modal-work -->

{% include './layouts/modal-contact.html' %}
{% include './layouts/cta.html' %}
{% include './layouts/footer.html' %}
