@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
        url('subset-GreycliffCF-Light.woff2') format('woff2'),
        url('subset-GreycliffCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
        url('subset-GreycliffCF-Medium.woff2') format('woff2'),
        url('subset-GreycliffCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Regular'), local('GreycliffCF-Regular'),
        url('subset-GreycliffCF-Regular.woff2') format('woff2'),
        url('subset-GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
        url('subset-GreycliffCF-Heavy.woff2') format('woff2'),
        url('subset-GreycliffCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
        url('subset-GreycliffCF-ExtraBold.woff2') format('woff2'),
        url('subset-GreycliffCF-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Heavy Oblique'), local('GreycliffCF-HeavyOblique'),
        url('subset-GreycliffCF-HeavyOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Regular Oblique'), local('GreycliffCF-RegularOblique'),
        url('subset-GreycliffCF-RegularOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-RegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: local('Greycliff CF Extra Bold Oblique'), local('GreycliffCF-ExtraBoldOblique'),
        url('subset-GreycliffCF-ExtraBoldOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-ExtraBoldOblique.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Bold Oblique'), local('GreycliffCF-BoldOblique'),
        url('subset-GreycliffCF-BoldOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Light Oblique'), local('GreycliffCF-LightOblique'),
        url('subset-GreycliffCF-LightOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Medium Oblique'), local('GreycliffCF-MediumOblique'),
        url('subset-GreycliffCF-MediumOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
        url('subset-GreycliffCF-Bold.woff2') format('woff2'),
        url('subset-GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: local('Greycliff CF Demi Bold Oblique'), local('GreycliffCF-DemiBoldOblique'),
        url('subset-GreycliffCF-DemiBoldOblique.woff2') format('woff2'),
        url('subset-GreycliffCF-DemiBoldOblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
        url('subset-GreycliffCF-DemiBold.woff2') format('woff2'),
        url('subset-GreycliffCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

