<!-- Aside Newsletter -->
<div class="aside-newsletter">
  <div class="aside-newsletter__body">
    <div class="aside-newsletter__header">
      <h3 class="aside-newsletter__title">Signup for our monthly newsletter</h3>
    </div>

    <div class="aside-newsletter__dsc">
      <p>
        Our only metric of success is when we see you succeed. Get started now and let's grow together.
      </p>
    </div>
  </div>

  <div class="aside-newsletter__action">
    <form class="aside-newsletter__form" action="/" method="POST">

      <!-- Form Field -->
      <div class="form__field">
        <input name="email_newsletter" id="email_newsletter" type="text" class="form__input floating-input" placeholder=" " inputmode="email" maxlength="200">
        <label class="form__label floating-label" for="email">Enter your Email</label>
      </div>

      <!-- Form Field -->
      <div class="form__field">
        <button type="submit" class="btn btn-icon">
          <span class="btn__text">Signup</span>
          <i class="i i-arrow-right"></i>
        </button>
      </div>

    </form>
  </div>
</div><!-- /.aside-newsletter -->
