<!-- Aside Freebies -->
<div class="aside-freebies">
  <div class="aside-freebies__header">
    <h3 class="aside-freebies__title">
      Free Resources we
      <img src="./images/aside/aside-heart-sm.svg" alt="" width="40" height="35">
      around the web
    </h3>
  </div>

  <ul class="aside-freebies-list">

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Free Isometric iPhone PSD Mockups
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies-1.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Free Task Illustrations Sketch App Resource
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies-2.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Frames — Design Kit for Responsive Websites
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies-3.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Minimal Food Blog Template Sketch
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies-4.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Frames — Design Kit for Responsive Websites
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>

    <!-- Item -->
    <li class="aside-freebies-list__item">
      <a class="aside-freebies-list__link" href="#">
        <span class="aside-freebies-list__thumb">
          <img src="./images/aside/aside-freebies-5.jpeg" alt="">
        </span>

        <span class="aside-freebies-list__text">
          <span class="aside-freebies-list__title">
            Minimal Food Blog Template Sketch Resource
          </span>
          <span class="btn btn-link">
            <span class="btn__text">View</span>
            <i class="i i-arrow-right"></i>
          </span>
        </span>
      </a>
    </li>
  </ul>

  <div class="aside-freebies__action">
    <a class="btn btn-alt btn-icon" href="#">
      <span class="btn__text">See All Recent Freebies</span>
      <i class="i i-arrow-right"></i>
    </a>
  </div>
</div><!-- /.aside-freebies -->
