<!-- Aside Popular Now -->
<div class="aside-popular">
  <div class="aside-popular__header">
    <h3 class="t2 t2-alert">Popular Now</h3>
  </div>

  <div class="posts-scope-sm posts-scope-full aside-popular__content">

    <!-- Posts Scope Item -->
    <div class="posts-scope__item">
      <div class="posts-scope__thumb">
        <img src="./images/blog/popular-1.jpeg" alt="">
      </div>
      <a class="posts-scope__rubric" href="#">Graphics Design</a>
      <h3 class="posts-scope__title">
        <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
      </h3>
      <p class="posts-scope__excerpt">
        I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
      </p>

      <div class="posts-scope__dsc">
        <!-- Post Stats -->
        <ul class="post-stats">
          <li class="post-stats__item">
            <svg width="14" height="13" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
            </svg>
            <div class="post-stats__val">12</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="11" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
            </svg>
            <div class="post-stats__val">454</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="15" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
            </svg>
            <div class="post-stats__val">4</div>
          </li>
        </ul>

        <!-- Post Author -->
        <a class="post-author-sm" href="blog-post.html">
          <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
          <div class="post-author-sm__name">Lubosek Hnilo</div>
        </a>
      </div><!-- /.posts-scope__dsc -->
    </div><!-- /.posts-scope__item -->

    <!-- Posts Scope Item -->
    <div class="posts-scope__item">
      <div class="posts-scope__thumb">
        <img src="./images/blog/popular-2.jpeg" alt="">
      </div>
      <a class="posts-scope__rubric" href="#">Graphics Design</a>
      <h3 class="posts-scope__title">
        <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
      </h3>
      <p class="posts-scope__excerpt">
        I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
      </p>

      <div class="posts-scope__dsc">
        <!-- Post Stats -->
        <ul class="post-stats">
          <li class="post-stats__item">
            <svg width="14" height="13" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
            </svg>
            <div class="post-stats__val">12</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="11" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
            </svg>
            <div class="post-stats__val">454</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="15" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
            </svg>
            <div class="post-stats__val">4</div>
          </li>
        </ul>

        <!-- Post Author -->
        <a class="post-author-sm" href="blog-post.html">
          <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
          <div class="post-author-sm__name">Lubosek Hnilo</div>
        </a>
      </div><!-- /.posts-scope__dsc -->
    </div><!-- /.posts-scope__item -->


    <!-- Posts Scope Item -->
    <div class="posts-scope__item">
      <div class="posts-scope__thumb">
        <img src="./images/blog/popular-3.jpeg" alt="">
      </div>
      <a class="posts-scope__rubric" href="#">Graphics Design</a>
      <h3 class="posts-scope__title">
        <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
      </h3>
      <p class="posts-scope__excerpt">
        I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
      </p>

      <div class="posts-scope__dsc">
        <!-- Post Stats -->
        <ul class="post-stats">
          <li class="post-stats__item">
            <svg width="14" height="13" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
            </svg>
            <div class="post-stats__val">12</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="11" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
            </svg>
            <div class="post-stats__val">454</div>
          </li>

          <li class="post-stats__item">
            <svg width="16" height="15" class="post-stats__icon">
              <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
            </svg>
            <div class="post-stats__val">4</div>
          </li>
        </ul>

        <!-- Post Author -->
        <a class="post-author-sm" href="blog-post.html">
          <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
          <div class="post-author-sm__name">Lubosek Hnilo</div>
        </a>
      </div><!-- /.posts-scope__dsc -->
    </div><!-- /.posts-scope__item -->
  </div><!-- /.aside-popular__content -->

  <div class="aside-popular__action">
    <a class="btn btn-icon" href="#">
      <span class="btn__text">See All Recent Posts</span>
      <i class="i i-arrow-right"></i>
    </a>
  </div><!-- /.aside-popular__action -->
</div><!-- /.aside-popular -->
