<!-- Similar Posts -->
<section class="similar-posts">
  <div class="container container-full">
    <div class="similar-posts__wrapper">

      <header class="similar-posts__header">
        <h2 class="t2 t2-alt">Recent Posts</h2>
        <a class="btn" href="#">
          <span class="btn__text">See All Recent Posts</span>
          <i class="i i-arrow-right"></i>
        </a>
      </header>

      <div class="similar-posts__content posts-scope-alt posts-scope-sm">

        <div class="swiper-container similar-posts__slides">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">

              <!-- Posts Scope Item -->
              <div class="posts-scope__item">
                <div class="posts-scope__thumb">
                  <img src="./images/blog/recent-slider-1.jpeg" alt="">
                </div>
                <a class="posts-scope__rubric" href="#">Graphics Design</a>
                <h3 class="posts-scope__title">
                  <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
                </h3>
                <p class="posts-scope__excerpt">
                  I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
                </p>

                <div class="posts-scope__dsc">
                  <!-- Post Stats -->
                  <ul class="post-stats">
                    <li class="post-stats__item">
                      <svg width="14" height="13" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
                      </svg>
                      <div class="post-stats__val">12</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="11" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
                      </svg>
                      <div class="post-stats__val">454</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="15" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
                      </svg>
                      <div class="post-stats__val">4</div>
                    </li>
                  </ul>

                  <!-- Post Author -->
                  <a class="post-author-sm" href="blog-post.html">
                    <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                    <div class="post-author-sm__name">Lubosek Hnilo</div>
                  </a>
                </div><!-- /.posts-scope__dsc -->
              </div><!-- /.posts-scope__item -->
            </div>
            <div class="swiper-slide">

              <!-- Posts Scope Item -->
              <div class="posts-scope__item">
                <div class="posts-scope__thumb">
                  <img src="./images/blog/recent-slider-2.jpeg" alt="">
                </div>
                <a class="posts-scope__rubric" href="#">Graphics Design</a>
                <h3 class="posts-scope__title">
                  <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
                </h3>
                <p class="posts-scope__excerpt">
                  I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
                </p>

                <div class="posts-scope__dsc">
                  <!-- Post Stats -->
                  <ul class="post-stats">
                    <li class="post-stats__item">
                      <svg width="14" height="13" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
                      </svg>
                      <div class="post-stats__val">12</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="11" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
                      </svg>
                      <div class="post-stats__val">454</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="15" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
                      </svg>
                      <div class="post-stats__val">4</div>
                    </li>
                  </ul>

                  <!-- Post Author -->
                  <a class="post-author-sm" href="blog-post.html">
                    <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                    <div class="post-author-sm__name">Lubosek Hnilo</div>
                  </a>
                </div><!-- /.posts-scope__dsc -->
              </div><!-- /.posts-scope__item -->
            </div>
            <div class="swiper-slide">

              <!-- Posts Scope Item -->
              <div class="posts-scope__item">
                <div class="posts-scope__thumb">
                  <img src="./images/blog/recent-slider-3.jpeg" alt="">
                </div>
                <a class="posts-scope__rubric" href="#">Graphics Design</a>
                <h3 class="posts-scope__title">
                  <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
                </h3>
                <p class="posts-scope__excerpt">
                  I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
                </p>

                <div class="posts-scope__dsc">
                  <!-- Post Stats -->
                  <ul class="post-stats">
                    <li class="post-stats__item">
                      <svg width="14" height="13" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
                      </svg>
                      <div class="post-stats__val">12</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="11" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
                      </svg>
                      <div class="post-stats__val">454</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="15" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
                      </svg>
                      <div class="post-stats__val">4</div>
                    </li>
                  </ul>

                  <!-- Post Author -->
                  <a class="post-author-sm" href="blog-post.html">
                    <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                    <div class="post-author-sm__name">Lubosek Hnilo</div>
                  </a>
                </div><!-- /.posts-scope__dsc -->
              </div><!-- /.posts-scope__item -->
            </div>
            <div class="swiper-slide">

              <!-- Posts Scope Item -->
              <div class="posts-scope__item">
                <div class="posts-scope__thumb">
                  <img src="./images/blog/recent-slider-4.jpeg" alt="">
                </div>
                <a class="posts-scope__rubric" href="#">Graphics Design</a>
                <h3 class="posts-scope__title">
                  <a class="posts-scope__link" href="#">Hilarious viral tweet will change how you see the KFC logo forever</a>
                </h3>
                <p class="posts-scope__excerpt">
                  I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work. I always strive to be as efficient as possible by reusing components and assets, but the dreaded interview task still got to me. I racked up 30 hours of work
                </p>

                <div class="posts-scope__dsc">
                  <!-- Post Stats -->
                  <ul class="post-stats">
                    <li class="post-stats__item">
                      <svg width="14" height="13" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-heart-alt"></use>
                      </svg>
                      <div class="post-stats__val">12</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="11" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-eye-alt"></use>
                      </svg>
                      <div class="post-stats__val">454</div>
                    </li>

                    <li class="post-stats__item">
                      <svg width="16" height="15" class="post-stats__icon">
                        <use xlink:href="./images/sprite.svg#icon-post-share-alt"></use>
                      </svg>
                      <div class="post-stats__val">4</div>
                    </li>
                  </ul>

                  <!-- Post Author -->
                  <a class="post-author-sm" href="blog-post.html">
                    <div class="post-author-sm__thumb"><img src="./images/photos/avatar.png" alt=""></div>
                    <div class="post-author-sm__name">Lubosek Hnilo</div>
                  </a>
                </div><!-- /.posts-scope__dsc -->
              </div><!-- /.posts-scope__item -->
            </div>
          </div>
        </div><!-- /.similar-posts__slides -->


      </div>
    </div>

    <!-- Navigation buttons -->
    <div class="similar-posts__nav">
      <div class="similar-posts__btn-prev swiper-button-prev">
        <div class="btn btn-short btn-alt"><i class="i i-arrow-left"></i></div>
      </div>

      <div class="similar-posts__btn-next swiper-button-next">
        <div class="btn btn-short btn-alt"><i class="i i-arrow-right"></i></div>
      </div>
    </div>
  </div>
</section><!-- /.similar-posts -->
