/**
 * Article
 */

.article {
  padding: 40px 0;

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: normal;
    padding: 24px 0;
  }

  blockquote {
    color: $text-color;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: italic;

    p {
      font-weight: 700;
      font-style: italic;
    }

    position: relative;
    left: -32px;

    margin: 24px 0;
    padding: 24px 28px;

    border-left: 8px solid $blue;
    background-color: $bg-panel;
  }

  figure {
    position: relative;

    figcaption {
      a {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
      }

      color: #fff;
      font-size: 18px;
      line-height: 24px;

      position: relative;
      bottom: 0;

      margin: 15px 0 20px;
      padding: 16px 32px;


      width: 100%;
      border-radius: 6px;
      background-color: rgba(0, 16, 126, .8);
    }
  }

  h4,
  h5,
  h6,
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: normal;
    padding: 40px 0 24px;
  }

  p {
    color: #2b2f47;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    +p {
      margin-top: 24px;
    }
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: decimal;
  }

  ol,
  ul {
    margin: 24px 0;

    li {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }


  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }

  .wp-block-image,
  .photo {
    margin: 20px 0;
  }

}

.wp-block-image img {
  width: 100%;
}

/**
 * Article Author
 */

.section-author {
  margin: 10px 0 50px;
  border-radius: 12px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  background-color: #03256c;
}

.author__row {
  display: flex;
  align-items: center;
  padding: 30px;
}

.author__photo {
  max-width: 200px;
  width: 100%;
}

.author__avatar {
  flex: 0 0 140px;
  margin-right: 20px;

  img {
    max-width: 140px;
  }
}

.author__name {
  color: #fff;
  font-family: $font-circular;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;

  @include hover {
    color: #fff;
  }
}

.author__dsc {
  color: #9aa8c4;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 500;
}

.author__about {
  max-width: 360px;
}


.social-attr {
  margin-top: 45px;
}


/**
 * Author Social Menu
 */
.social-attr__list {
  display: flex;
}

.social-attr__item {
  +.social-attr__item {
    margin-left: 15px;
  }
}

.social-attr__link {
  display: block;

  &:hover {
    opacity: .8;
  }
}

/**
 * Comments
 */

.section-comments {
  padding: 30px;
  margin: 0 0 50px;
  border-radius: 12px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  border: solid 1px #ebebec;
  background-color: #fffce8;
}

.comments-form__header {
  padding: 0 0 30px;
}

.comments-form__title {
  color: #ea2e49;
  font-family: $font-greycliff;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.82px;
}


/**
 * Comments Form
 */

.comments-form {
  padding: 0 0 40px;

  .form__field .btn {
    width: auto;
  }
}

.comments__item {

  +.comments__item {
    margin-top: 45px;
  }
}


.comments__list {
  padding: 0 70px;
}

.comments__credentials {
  display: flex;
  padding: 0 0 20px;
  align-items: center;
}

.comments-author__thumb {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.comments-author {
  color: #2f72c7;
  font-family: $font-circular;
  font-size: 16px;
  font-weight: 700;

  display: block;
}

.comments-author__date {
  color: #757993;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 700;

  display: block;
  padding: 5px 0 0;
}

.comments__content {
  color: #757993;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 500;

  p + p {
    margin-top: 15px;
  }
}
