/**
 * Aside Newsletter Form
 */

.aside-newsletter {
  border-radius: 12px;
  overflow: hidden;

  background: #2F72C7;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
}

.aside-newsletter__header {
  padding: 5px 0 20px;
}

.aside-newsletter__title {
  color: #fff;
  font-family: $font-greycliff;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -1.31px;
  line-height: 1.2;
}

.aside-newsletter__dsc {
  font-family: $font-circular;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.aside-newsletter__body {
  padding: 25px 30px 35px;
}

/**
 * Aside Form
 */

.aside-newsletter__action {
  background: url('../images/aside/aside-envelope.svg') no-repeat;
  background-size: cover;
  padding: 240px 0 0;

  position: relative;
  left: -1px;
  width: calc(100% + 2px);
}

.aside-newsletter__form {
  padding: 25px 30px;
  background: #FFEC62;
}
