/**
 * Aside Popular
 */
.aside-popular {
  background: #FFFCE8;
  border-radius: 12px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  padding: 25px 30px;

  .posts-scope-sm {
    .posts-scope__item {
      .posts-scope__dsc {
        display: flex;
        flex-direction: row;
      }

      .post-stats {
        max-width: 180px;
      }

      @include screen(520px) {
        width: 100%;
      }
    }
  }

  .post-author-sm__name {
    display: none;
  }

  .posts-scope__item {

    +.posts-scope__item {
      margin-top: 10px;
    }

    @include screen(520px) {
      width: 100%;
    }
  }
}

.aside-popular__header {
  padding-bottom: 20px;
}

.aside-popular__action {
  padding: 20px 0;

  .btn {
    width: 100%;
  }
}
