/**
 * Aside Categories
 */

.aside-categories {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 25px 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
}

.aside-categories__header {
  padding-bottom: 20px;
}

.aside-categories__title {
  font-family: $font-greycliff;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 1.2;
}


.aside-categories__content {
  ul>li>a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
  }
}
