/**
 * Aside Freebies
 */

.aside-freebies {
  margin-top: 40px;
  padding: 25px 30px;
  border-radius: 12px;
  overflow: hidden;
  background: #03256c;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
}

.aside-freebies__header {
  padding-bottom: 20px;
}

.aside-freebies__title {
  color: #fff;
  font-family: $font-greycliff;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 1.2;

  img {
    display: inline-block;
    margin-left: 5px;
  }
}

.aside-freebies-list__item {
  +.aside-freebies-list__item {
    margin-top: 15px;
  }
}

.aside-freebies-list__link {
  display: flex;

  @include hover {
    text-decoration: none;
    opacity: .8;
  }
}

.aside-freebies-list__thumb {
  margin-right: 10px;
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  flex: 0 0 100px;
}

.aside-freebies-list__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside-freebies-list__title {
  color: #fff;
  font-family: $font-circular;
  font-size: 16px;
  font-weight: 500;

  display: block;
}

.btn-link {
  color: #fff;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 700;

  display: block;
}

.aside-freebies__action {
  padding: 30px 0 0;

  .btn  {
    width: 100%;
  }
}
