/**
 * Buttons
 */

/**
 * Default Button
 */

.btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;

  display: inline-block;
  padding: 0 24px;

  position: relative;

  border-radius: 20px;
  background-color: #2f71c7;

  box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  background-color: #2f71c7;

  cursor: pointer;

  @include unselectable;

  &.btn-icon {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include hover {
    color: $white;
    text-decoration: none;

    .i {
      opacity: 1;
    }
  }

  &-primary {
    color: #121630;
    box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
    background: #ffec62;

    @include hover {
      color: #121630;
    }
  }

  &-secondary {
    color: #fff;
    box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
    background: #ea2f49;

    @include hover {
      color: #fff;
    }
  }


  &-inv {
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    font-family: $font-circular;
    font-weight: 700;

    backdrop-filter: blur(21.3px);
    box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);
    border: solid 1px #ebebec;
    background-color: rgba(0, 0, 0, 0.58);
  }

  .i {
    opacity: .5;
  }
}

.btn-lg {
  max-width: 280px;
  width: 100%;
}


.btn__text {
  +.i {
    margin-left: 10px;
    display: inline-block;
  }
}

.btn-short {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .i-arrow-left {
    margin-left: -5px;
    margin-top: 10px;
  }

  .i-arrow-right {
    margin-right: -3px;
    margin-top: -2px;
  }
}

.btn-link {
  text-align: left;
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.btn-alt {
  color: #2f72c7;
  background: #fff;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);

  @include hover {
    color: #03256c;
  }
}



/**
 * Responsive
 */

@media only screen and (max-width: 768px) {}
