/**
 * Video Modal
 */

.modal-video {
  @extend .modal;

  .modal-wnd {
    position: relative;
    max-width: 990px;
    width: 100%;
    margin: 0 20px;
    overflow: visible;
  }

  .modal-wnd__body {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0 2px 50px 0 rgba(47, 113, 199, 0.2);
    background: #fff;
    border-radius: 12px;

    &-iframe {
      padding-bottom: 64.25%;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &.modal-video-alt {
    iframe {
      height: 104%;
    }
  }
}

.modal-video-hide {
  @extend .modal-hide;

  color: #fff;
  border-radius: 50%;
  background-color: #2F71C7;
  opacity: .2;

  top: -20px;
  right: -20px;

  @include hover {
    color: #fff;
    opacity: 1;
  }
}
