/**
 * Sticky Slider Component
 */

.sticky-slider {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 1100;

  @include unselectable;


  &.inverted {
    .sticky-slider-scrollbar {
      background: $bg-panel-yellow;
    }

    .sticky-slider-nav__title {
      color: $bg-panel-yellow;
    }

    .sticky-slider__link {

      &:hover,
      &.active {
        background-color: $yellow;
      }
    }


    &:hover {
      .sticky-slider-nav__title {
        color: $yellow;
      }
    }
  }


  /* Scrollbar */
  .sticky-slider-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: $bg-panel;

    width: 10px;
    height: auto;
  }

  .sticky-slider-nav__title {
    color: $bg-panel;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    white-space: nowrap;

    transform: rotate(-90deg);
  }

  &:hover {
    .sticky-slider-nav__title {
      color: $blue;
    }
  }
}

.sticky-slider-nav__header {
  position: absolute;
  top: -75px;
  left: -44px;

  opacity: .8;
  width: 100px;
}


/**
 * Indicator List
 */

.sticky-slider__item {
  display: flex;
  justify-content: center;

  overflow: hidden;
}

.sticky-slider__link {
  display: block;
  text-indent: -9999px;

  width: 10px;
  height: 50px;
  border-radius: 10px;

  &:hover,
  &.active {
    background-color: $blue;
  }
}
