/**
 * Modal Dialogs
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  background-color: rgba(3, 37, 108, 0.5);

  @include flex-center;
  display: flex;

  transform: scale(0, 0);

  &.active {
    transform: none;
  }
}

.modal-wnd {
  position: relative;
  max-width: 700px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: $white;
}

.modal-hide {
  color: #656778;
  font-size: 24px;

  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;

  @include flex-center;

  @include hover {
    text-decoration: none;
    color: $blue;
  }

  z-index: 900;
}

/**
 * Contact Modal
 */
.wpcf7 .ajax-loader {
  display: none !important;
}

.contact-modal {

  .wpcf7-form-control-wrap {
    position: absolute;
    left: -9999px;
  }

  .wpcf7-response-output {
    padding: 20px 0 0;
    font-size: 16px;
    line-height: 22px;
    display: none;
  }

  .screen-reader-response {
    display: none;
  }

  .wpcf7-submit {
    @extend .btn;
    width: 100%;
  }

  .modal-wnd__body {
    display: flex;
    max-width: 350px;
  }


  .contact-modal-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2F72C7;
  }


  .modal__title {
    color: #fff;
    font-family: $font-greycliff;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -1.31px;
    padding: 30px 30px 15px;
  }

  .modal_dsc {
    font-family: $font-circular;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0 30px 40px;
  }
}

.contact-modal__thanks {
  @include flex-center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 800;

  &.hide {
    display: none;
  }

  p {
    font-size: 32px;
  }
}

.contact-modal__img {
  position: relative;
  margin-bottom: -4px;
}

/**
 * Contact Modal Form
 */

.contact-modal-form {
  width: 100%;
  padding: 40px 20px;
  flex-shrink: 0;
}

.contact-modal-form__text,
.contact-modal-form__input {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 16px;

  width: 100%;

  border-radius: 20px;
  border: solid 1px rgba(218, 215, 215, 0.67);
  background-color: #ffffff;

  &.val-err {
    border-color: red;
  }
}

.contact-modal-form__input {
  line-height: 40px;
  height: 40px;
  padding: 0 23px;
}

.contact-modal-form__text {
  line-height: 1.2;
  padding: 10px 23px 23px;
  height: 230px;
}

.contact-modal-form__label {
  color: #7f8190;
  font-family: $font-circular;
  font-size: 16px;
}

.contact-modal-form__field {
  position: relative;

  +.contact-modal-form__field {
    margin-top: 15px;
  }

  .btn {
    width: 100%;
  }


  .floating-label {
    white-space: nowrap;

    position: absolute;
    left: 23px;
    top: 12px;

    padding: 0 5px;
    background: #fff;

    @include unselectable;
    pointer-events: none;
    transition: .3s ease all;

    z-index: 100;
  }

  .floating-input:focus~.floating-label,
  .floating-input:not(:placeholder-shown)~.floating-label {
    top: -7px;
    left: 19px;
    font-size: 12px;
  }
}

.contact-modal-form__thanks {
  display: none;

  &.active {
    display: flex;
  }
}




/**
 * Responsive
 */
@media only screen and (max-width: 716px) {}
