// @font-face {
//   font-family: 'circular Book';
//   src: url('../fonts/circularstd/subset-CircularStd-BookItalic.woff2') format('woff2'),
//       url('../fonts/circularstd/subset-CircularStd-BookItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'circular';
//   src: url('../fonts/circularstd/subset-CircularStd-BlackItalic.woff2') format('woff2'),
//       url('../fonts/circularstd/subset-CircularStd-BlackItalic.woff') format('woff');
//   font-weight: 900;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: 'circular';
  src: url('../fonts/circularstd/subset-CircularStd-Black.woff2') format('woff2'),
      url('../fonts/circularstd/subset-CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'circular';
//   src: url('../fonts/circularstd/subset-CircularStd-BoldItalic.woff2') format('woff2'),
//       url('../fonts/circularstd/subset-CircularStd-BoldItalic.woff') format('woff');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: 'circular';
  src: url('../fonts/circularstd/subset-CircularStd-Book.woff2') format('woff2'),
      url('../fonts/circularstd/subset-CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'circular';
//   src: url('../fonts/circularstd/subset-CircularStd-Medium.woff2') format('woff2'),
//       url('../fonts/circularstd/subset-CircularStd-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'circular';
//   src: url('../fonts/circularstd/subset-CircularStd-MediumItalic.woff2') format('woff2'),
//       url('../fonts/circularstd/subset-CircularStd-MediumItalic.woff') format('woff');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: 'circular';
  src: url('../fonts/circularstd/subset-CircularStd-Bold.woff2') format('woff2'),
      url('../fonts/circularstd/subset-CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

