/**
 * Footer
 */

.footer {
  padding: 25px 0 50px;
  background: #fff9d3;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copy {
    color: #03256c;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.87;

    padding: 10px 0 0;
  }
}

.logo-footer-img {
  max-width: 98px;
  width: 98px;
}
