/**
 * Form Styles
 */

.form__text,
.form__input {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 16px;

  width: 100%;

  border-radius: 20px;
  border: solid 1px rgba(218, 215, 215, 0.67);
  background-color: #ffffff;
}

.form__input {
  line-height: 40px;
  height: 40px;
  padding: 0 23px;
}

.form__text {
  line-height: 1.2;
  padding: 10px 23px 23px;
  height: 230px;
}

.form__label {
  color: #7f8190;
  font-family: $font-circular;
  font-size: 16px;
}

.form__field {
  position: relative;

  +.form__field {
    margin-top: 15px;
  }

  .btn {
    width: 100%;
  }

  .floating-label {
    white-space: nowrap;

    position: absolute;
    left: 23px;
    top: 12px;

    padding: 0 5px;
    background: #fff;

    @include unselectable;
    pointer-events: none;
    transition: .3s ease all;

    z-index: 100;
  }

  .floating-input:focus~.floating-label,
  .floating-input:not(:placeholder-shown)~.floating-label {
    top: -7px;
    left: 19px;
    font-size: 12px;
  }
}
