/**
 * Header
 */

.header {
  color: $text-color-invert;
  padding: 50px 0 30px;
  position: relative;
  z-index: 1;

  &.header-dark {
    background: $black;
  }
}

/**
 * Logo
 */
.logo {
  display: inline-block;
  max-width: 206px;
  width: 100%;
}

.logo-img {
  width: 100%;
}

