/**
 * Icons
 */

.i-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;

  background: url('../images/icon-arrow-blue.svg') no-repeat;
  background-size: 16px 16px;
}

.icon {
  position: absolute;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(18, 22, 48, 0.5);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;

  &.icon-plus {
    background-image: url('../images/icon-plus.svg');
  }

  &.icon-arrow {
    background-image: url('../images/icon-arrow.svg');
  }

  &.icon-arrow-right {
    background-image: url('../images/icon-arrow-right.svg');
    background-size: 20px 24px;
  }

  &.icon-arrow-left {
    background-image: url('../images/icon-arrow-right.svg');
    background-size: 20px 24px;
  }
}

@media only screen and (max-width: 768px) {


  .icon {
    width: 38px;
    height: 38px;
    background-size: 12px 12px;


    &.icon-arrow-right {
      background-size: 16px 16px;
    }

    &.icon-arrow-left {
      background-size: 16px 16px;
    }
  }

}


/**
 * Small Social Icons
 */

.i-soc-sm {
  display: inline-block;
  width: 9px;
  height: 18px;

  background-repeat: no-repeat;
  background-image: url('../images/icon-soc-sm-fb.svg');

  &.i-soc-sm-tw {
    width: 18px;
    height: 15px;
    background-image: url('../images/icon-soc-sm-tw.svg');
  }

  &.i-soc-sm-in {
    width: 19px;
    height: 18px;

    background-image: url('../images/icon-soc-sm-in.svg');
  }

  &.i-soc-sm-inst {
    width: 18px;
    height: 18px;
    background-image: url('../images/icon-soc-sm-inst.svg');
  }

  &-alt {
    background-image: url('../images/icon-soc-sm-fb-alt.svg');

    &.i-soc-sm-tw {
      width: 18px;
      height: 15px;
      background-image: url('../images/icon-soc-sm-tw-alt.svg');
    }

    &.i-soc-sm-in {
      width: 19px;
      height: 18px;

      background-image: url('../images/icon-soc-sm-in-alt.svg');
    }

    &.i-soc-sm-inst {
      width: 18px;
      height: 18px;
      background-image: url('../images/icon-soc-sm-inst-alt.svg');
    }
  }
}

/**
 * CSS Icons
 */

/* https://css.gg/arrow-up */
.i-arrow-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  top: -3px;
}

.i-arrow-up::after,
.i-arrow-up::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 4px
}

.i-arrow-up::after {
  width: 11px;
  height: 11px;
  border-top: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  left: 6px;
  border-radius: 1px;
}

.i-arrow-up::before {
  width: 3px;
  height: 14px;
  left: 10px;
  background: currentColor;
}

.i-arrow-right {
  @extend .i-arrow-up;
  transform: rotate(90deg);
}

.i-arrow-left {
  @extend .i-arrow-up;
  transform: rotate(-90deg);
}

.i-arrow-down {
  @extend .i-arrow-up;
  transform: rotate(-180deg);
  top: 1px;

  &:after {
    left: 2px;
  }

  &:before {
    left: 6px;
  }
}




/**
 * Big Arrow
 */
.i-arrow-cta {
  @extend .i-arrow-up;
  color: #ffec62;
  height: 80px;
  width: 25px;


  &:before {
    height: 80px;
    background: linear-gradient(to top, rgba(255, 236, 98, 0), #ffec62);
    width: 4px;
  }

  &:after {
    width: 18px;
    height: 18px;
    left: 3px;
  }

  &.i-arrow-cta-rotate {
    transform: rotate(180deg);
  }

  &.i-arrow-cta-blue {
    color: #3676c8;

    &:before {
      background: linear-gradient(to top, rgba(47, 113, 199, 0), #3676c8);
    }
  }

  &.i-arrow-cta-red {
    color: #ea2f49;

    &:before {
      background: linear-gradient(to top, rgba(47, 113, 199, 0), #ea2f49);
    }

  }
}


/**
 * Close button
 * https://css.gg/close
 */

.i-hide {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;


  &:after,
  &:before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 3px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
  }

  &:after {
    transform: rotate(-45deg)
  }
}
