// Disable text selection
@mixin hover {

  &:hover,
  &:focus,
  &:active {
    @content;
  }
}


@mixin center-x {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-y {
  top: 50%;
  transform: translateY(-50%);
}


@mixin screen ($width) {
  @if $width {
    @media only screen and (max-width: $width) {
      @content;
    }
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 576px) {
    @content;
  }
}
