/**

  Footer Menu

 */

.footer-menu {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 2px 0 24px;

  @include screen(768px) {
    display: block;


    .footer-menu__item {
      display: block;
      margin: 5px 0;

      + .footer-menu__item {
        &::before {
          content: '';
        }
      }
    }

    .footer-menu__link {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
}

.footer-menu__item {

  + .footer-menu__item {
    &::before {
      content: '•';
      position: relative;
      margin: 0 8px;
    }
  }
}

.footer-menu__link {
  color: #03256c;
  font-family: $font-circular;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 3px;
  text-transform: uppercase;
}
