/**

  Navigation

  Table of Contents
  -----------------

  Start Button
  Main Menu

 */

$hamburger-width: 16px;
$hamburger-height: 11px;

.nav {
  position: fixed;
  top: 53px;
  right: 120px;
  z-index: 2102;

  display: none;

  .btn-primary {
    margin-right: 20px;
    display: none;
  }
}

.main-menu-active {
  .sticky-slider {
    display: none;
  }

}


/*
 * Start Button
 * ========================================================================== */

.btn-nav {
  color: $text-color;

  font-size: 14px;
  font-weight: 600;
  line-height: 40px;

  display: inline-block;
  width: 230px;
  height: 40px;
  padding: 0 23px 0 27px;

  background: $yellow;
  border-radius: $border-radius-lg;

  box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);

  transition: width 0.150s ease;

  @include unselectable;

  @include hover {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    color: $text-color;
    letter-spacing: 4px;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: $hamburger-width;
      transition: width 0.150s ease;
      background: $text-color;
    }
  }


  &.active {

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: $hamburger-width;
    }

    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.15s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.150s ease,
          opacity 0.075s 0.12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.150s ease,
          transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  .btn-nav__label {
    transition: all .8s ease;
  }
}


/**
 * Hamburger Button with Squeeze effect
 * src: https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css
 */

.hamburger {
  position: absolute;
  right: 23px;
  top: 1px;

  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $text-color;
}

.hamburger-box {
  width: $hamburger-width;
  height: $hamburger-height;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: $hamburger-width - 3px;
  height: 2px;
  background-color: $text-color;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -5px;
  width: $hamburger-width;
}

.hamburger-inner::after {
  bottom: -5px;
  width: $hamburger-width - 6px;
}

.hamburger-squeeze {
  .hamburger-inner {
    transition-duration: 0.150s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.150s 0.12s ease,
        opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.150s 0.12s ease,
        transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}



/*
 * Main Menu
 * ========================================================================== */

.main-menu {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1201;

  transition: all .8s ease;

  border-bottom: 4px solid $yellow;
  opacity: 0;

  background: #03256c;
}

.main-menu-active {
  .main-menu {
    top: 0;
    opacity: 1;
  }

}

/**
 * Main Menu Grid
 */

.main-menu-row {
  display: flex;
  min-height: 500px;
  margin: 0 auto;
}

/**
 * Main Menu Aside
 */

.main-menu-aside {
  flex: 0 0 550px;

  display: flex;

  position: relative;
  padding-left: 160px;
  padding-right: 60px;

  position: relative;

  overflow: hidden;

  background: $black;

  .logo {
    padding: 50px 0 40px;
  }
}

.main-menu-aside__text {
  color: $text-color-invert;
  font-size: 40px;
  font-family: $font-greycliff;
  font-weight: 700;
  line-height: 1.3;
  padding: 0 0 22px;

  span {
    display: block;
  }
}

.main-menu-aside__link {
  .btn {
    max-width: 280px;
    width: 100%;

    padding-left: 27px;
  }
}

.main-menu-aside__em {
  color: $text-color-em-invert;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

  display: block;
  padding: 28px 0 20px;
}

/**
 * Main Menu Links Area
 */
.main-menu-area {
  padding: 130px 110px;
  background: $white;
  width: 100%;
}

.main-menu__logo {
  max-width: 203px;
  display: block;
}

.main-menu__link {
  color: #03256c;
  font-family: $font-greycliff;

  font-size: 40px;
  font-weight: 800;
  white-space: nowrap;

  display: block;
  padding-bottom: 10px;

  i {
    margin: 0 0 3px 7px;
  }
}

.main-menu__text {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;

  flex: 1;

  max-width: 200px;
  margin-top: 10px;
}

/**
 * Main Menu List
 */

.main-menu__list {
  display: flex;
  justify-content: space-between;
}

.main-menu__item {
  display: flex;
  flex-direction: column;

  flex: 1;

  .btn {
    max-width: 220px;
    width: 100%;
    margin-top: 15px;
  }
}

.main-menu__icon {
  height: 128px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
}

/**
 * More from Climbings
 */
.main-menu__more {
  border-top: 1px solid #d4e2f3;
  padding: 38px 0 0;
  margin: 50px 0 0;

  .title {
    font-family: $font-greycliff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1.5px;
    color: #c2c3ca;

    padding-bottom: 34px;
  }
}

/**
 * Main Menu Inner Columns
 */
.main-menu__row {
  display: flex;
}

.main-menu__col {
  +.main-menu__col {
    margin-left: 30px;
  }
}

/**
 * Main Menu Social
 */
.main-menu-social__nav {
  margin: 40px 0 0;
  padding: 25px 0 0;

  height: 100%;
  background: #0b357e;

  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #0b357e;
    z-index: 1;
  }


  .main-menu__link-title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    font-family: $font-greycliff;
    line-height: 1.25;
    letter-spacing: -1.5px;
    position: relative;
    z-index: 10;
  }
}

.main-menu__social {
  display: flex;
  padding-top: 15px;
  position: relative;
  z-index: 10;


  a {
    @include hover {
      opacity: .8;
    }
  }

  a+a {
    margin-left: 30px;
  }
}

/**
 * Nav Large
 */

.nav-lg {
  width: 1160px;
  justify-content: space-between;
  align-items: center;

  top: 23px;

  height: 60px;
  padding: 10px 16px;

  border-radius: 30px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  background: #fff;
  border: solid 1px #ebebec;

  @include center-x;

  .col-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .search-field {
    position: releative;
  }

  .search-field__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
  }

  .form__input {
    max-width: 254px;
    border-radius: 20px;
    box-shadow: none;
    padding-left: 36px;
    border: solid 1px rgba(47, 114, 199, .2);
    margin-right: 13px;

    &:focus {
      border: solid 1px #2f72c7;
    }
  }
}


/**
 * Responsive Height
 */

@media only screen and (min-width: 1201px) and (max-height: 850px) {

  .main-menu-area {
    padding: 100px;
  }

  .main-menu__more {
    padding: 18px 0 0;
    margin: 30px 0 0;
  }

  .main-menu__item .btn {
    display: none;
  }

  .main-menu-aside__text {
    font-size: 30px;
  }

  .main-menu-social__nav {
    .main-menu__link-title {
      font-size: 30px;
    }
  }

}


/**
 * Responsive
 */

@media only screen and (max-width: 1464px) {
  .main-menu-aside {
    padding: 0 30px;
    flex: 0 0 420px;
  }

  .main-menu-aside__content {
    max-width: 360px;
  }

  .main-menu__item {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1265px) {
  .nav {
    right: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-menu-area {
    padding: 120px 30px;

    .btn {
      display: none;
    }

    .main-menu__item {
      .main-menu__col svg {
        display: none;
      }

      .main-menu__col+.main-menu__col {
        margin-left: 0;
      }

    }
  }

  .main-menu__more .title {
    display: none;
  }

  .main-menu__text {
    display: none;
  }

  .main-menu__list {
    flex-direction: column;
  }

  .main-menu__text {
    max-width: none;
  }

  .main-menu__item {
    +.main-menu__item {
      padding-top: 30px;
    }
  }

  .main-menu__icon {
    display: none;
  }

  .main-menu-aside__text {
    font-size: 30px;
  }

  .main-menu-social__nav {
    margin: 40px 0;

    .main-menu__link-title {
      font-size: 30px;
    }
  }

}

@media only screen and (max-width: 768px) {
  $hamburger-width: 16px;
  $hamburger-height: 13px;

  .main-menu {
    background: linear-gradient(270deg, #fff 0, #02256c 0);
  }

  .main-menu-active {
    // height: 100vh;
    // overflow: hidden;

    .nav {
      .btn-primary {
        display: none;
      }
    }
  }

  .nav {
    top: 18px;
    right: 15px;
  }

  .btn-nav {
    height: 43px;
    width: 53px;
    line-height: 37px;
    padding: 0;
    text-align: center;


    .btn-nav__label {
      display: none;
    }


    &:hover {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: $hamburger-width;
      }
    }

    &.active {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: $hamburger-width;
      }

    }
  }

  .hamburger {
    top: 5px;
    left: 50%;
    margin-left: -7px;
  }


  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: $hamburger-width - 3px;
    height: 3px;
    background-color: $text-color;
    border-radius: 3px;
  }

  .hamburger-inner::before {
    top: -5px;
    width: $hamburger-width;
  }

  .hamburger-inner::after {
    bottom: -5px;
    width: $hamburger-width - 3px;
  }

  /**
   * Responsive Menu Content
   */

  .main-menu-aside {
    padding: 0 30px;
    flex: 0 0 360px;
  }

  .main-menu-aside__text {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
  }

  .main-menu-area {
    padding: 50px 30px;
  }

}

@media only screen and (max-width: 678px) {
  .main-menu-aside {
    flex: 0 0 277px;
  }

  .main-menu-aside__link .btn {
    max-width: 220px;
  }

  .main-menu__social svg {
    max-width: 50px;
  }
}

@media only screen and (max-width: 580px) {
  .btn-nav {
    width: 50px;

    .btn-nav__label {
      display: none;
    }
  }

  .main-menu {
    min-height: 100%;
    overflow-y: scroll;

    .logo {
      display: none;
    }
  }

  .main-menu__link-title,
  .main-menu__social {
    display: none;
  }

  .main-menu-row {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100%;
    min-height: auto;
  }

  .main-menu-area {
    padding: 30px 30px 60px;
  }

  .main-menu__list {
    align-items: center;
  }

  .main-menu__link {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
  }

  .main-menu__item {
    padding: 0;

    +.main-menu__item {
      margin: 0;
      padding: 0;
    }
  }

  .main-menu__more {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .main-menu-aside {
    padding: 10px 30px;
    flex-grow: 1;
  }

  .main-menu-aside__content {
    max-width: none;
    max-height: none;
    width: 100%;
    text-align: center;
  }

  .main-menu-aside__text span {
    display: inline;
  }

  .main-menu-aside__text {
    text-align: center;
    font-size: 20px;
  }
}

/**
 * Tabs Menu
 */
.tab-menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
  z-index: 500;

  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);
  background-color: #ffec62;
  border-radius: 16px;
  margin: 0 0 15px;
}

.tab-menu__item {
  flex-grow: 1;
  flex-basis: 0;
}

.tab-menu__link {
  color: $text-color;
  font-size: 15px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  display: block;
  border-radius: 16px;
  white-space: nowrap;

  cursor: auto;

  @include unselectable;

  &:hover {
    color: $text-color;
    text-decoration: none;
    background: $yellow;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &.active {
    color: $text-color-invert;
    text-decoration: none;
    font-weight: 700;
    background: $blue;
  }
}

.tab-menu-alt {
  border-radius: 20px;
  box-shadow: -5px 5px 0 0 rgba(56, 58, 69, 0.1);
  border: solid 1px #ebebec;
  background-color: #fff;

  .tab-menu__link {
    color: #ea2f49;
    font-family: $font-circular;
    font-size: 20px;
    font-weight: 700;

    &:focus,
    &:hover {
      background: #fff;
    }

    &.active {
      color: #fff;
      background: #ea2f49;
    }
  }
}


@media only screen and (max-width: 480px) {

  .main-menu__col {
    width: 100%;
  }

  .main-menu__row {
    display: block;
    margin-top: 15px;
  }

  .main-menu {
    background: $black;
  }

  .main-menu-area {
    padding: 30px;
  }

  .nav {
    right: 30px;
  }

  .main-menu__text {
    display: none;
  }

  .main-menu__list {
    display: block;
  }

  .main-menu__item {
    max-width: none;
  }

  .main-menu__link {
    font-size: 24px;
  }

  .main-menu-aside__text {
    font-size: 15px;
  }

  .main-menu-aside__em {
    padding: 20px 0 15px;
  }

  .main-menu-aside {
    align-items: flex-start;
  }

  .main-menu__item+.main-menu__item {
    padding-top: 15px;
  }
}
