/**
 * Page Blog Post
 */

.recent-posts-archive {
  .posts-scope__item {
    width: 50%;

    @include screen(520px) {
      width: 100%;
    }
  }
}

.search-err {
  font-size: 24px;
  line-height: 32px;
  padding: 20px 0;
}
