/**
 * Jobs Page
 */


.careers-intro {
  text-align: center;
  position: relative;
  margin-top: -120px;
  padding-bottom: 700px;
  background: url('../images//careers/bg-careers-intro.svg') no-repeat bottom center;
  background-size: contain;

  .container {
    padding: 100px 0 0;
    max-width: 1100px;
  }
}

.careers-openings-card__col {
  max-width: 80%;

  @include screen(768px) {
    max-width: 100%;
    width: 100%;
  }
}

.careers-intro__action {
  position: relative;
  margin-top: -280px;

  .btn {
    max-width: 398px;
    width: 100%;
  }
}


.careers-intro__header {
  text-align: center;
  max-width: 630px;
  display: inline-block;
  position: relative;
  z-index: 100;

  .title {
    color: #03256c;
    font-family: $font-greycliff;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -3px;

    padding-bottom: 7px;
  }

  .subtitle {
    color: #2f71c7;
    font-family: $font-greycliff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

    padding-bottom: 5px;
  }
}

.careers-intro__img {
  display: inline-block;
  position: relative;
  margin-top: -280px;
  left: 20px;
}

/**
 * Careers openings
 */

.careers-openings {
  position: relative;
  z-index: 100;
  margin-top: -580px;
  padding-bottom: 100px;

  .page-section-title {
    padding: 22px 0 25px;
  }

  .page-section-dsc {
    max-width: 560px;
    display: inline-block;
  }

  .container {
    max-width: 750px;
  }

}

.careers-openings__header {
  text-align: center;
  padding-bottom: 35px;
}

.i-arrow-center,
.careers-openings__footer {
  @include flex-center;
}

.careers-openings__content {
  padding-bottom: 45px;
}

.careers-openings-card {
  display: flex;

  border-radius: 8px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  border: solid 1px #ebebec;
  background-color: #fff;
  padding: 25px 30px;

  +.careers-openings-card {
    margin-top: 20px;
  }
}

.careers-openings-card__action {
  display: flex;
  align-items: flex-start;

  .btn {
    width: 140px;
  }

}

.careers-openings-card__title {
  padding-bottom: 13px;
}

.careers-openings-card__link {
  color: #03256c;
  font-family: $font-circular;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;

  @include hover {
    color: #2f71c7;
  }
}

.careers-openings-tags-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 14px;
  margin-bottom: 16px;
  border-bottom: 1px solid #cdd3e2;
}

.careers-openings-tags-list__item {
  display: flex;
  align-items: center;

  margin-right: 30px;
}

.careers-openings-tags-list__icon {
  margin-right: 5px;
}

.careers-openings-tags-list__text {
  color: #546270;
  font-family: $font-circular;
  font-size: 15px;

  white-space: nowrap;
}

.careers-openings-card__dsc {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 14px;
  line-height: 1.2;

  margin-right: 20px;

  p {
    line-height: 18px;
  }

  p+p {
    margin-top: 20px;
  }
}


@media only screen and (max-width: 978px) {
  .careers-intro {
    margin: 0;
    padding: 0;
    background: none;
    background-size: contain;
  }

  .careers-intro .container {
    padding-top: 0;
  }

  .careers-intro__img {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    width: 100%;
    position: relative;
    margin-top: -30%;

    img {
      max-width: 650px;
      width: 100%;
    }
  }

  .careers-intro__action {
    margin-top: -30%;
  }

  .careers-openings {
    margin-top: 50px;
  }
}


.careers-intro__img-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {

  .careers-intro__header {
    .title {
      font-size: 42px;
      letter-spacing: normal;
    }

    .subtitle {
      font-size: 34px;
      letter-spacing: normal;
    }
  }

  .careers-intro {
    background: url('../images//careers/sun.svg') top left;
    background-size: cover;
  }

  .careers-intro__img {
    display: none;
  }

  .careers-intro__img-mobile {
    display: block;
  }

  .careers-intro__action {
    margin-top: 0;
    padding: 0 30px;
  }

  .careers-openings-card {
    display: block;
    padding: 15px;
  }

  .careers-openings-tags-list {
    flex-wrap: wrap;
  }

  .careers-openings-tags-list__item {
    margin-right: 20px;

    +.careers-openings-tags-list__item {
      margin-left: 0;
    }
  }

  .careers-openings-card__action {
    margin-top: 15px;
  }

  .careers-openings-tags-list__text {
    white-space: normal;
  }
}

@media only screen and (max-width: 420px) {
  .careers-intro__img-mobile {
    margin: 20px 0;
  }

  .careers-openings-card__action {
    padding: 0;

    .btn {
      width: 100%;
    }
  }
}

/**
 * Careers Single
 */

.careers-post {
  padding-bottom: 200px;

  .page-card__title {
    padding: 50px 0 30px;
  }

  .careers-openings-card__action {
    .btn {
      @extend .btn-lg;
    }
  }
}
