/**
 * Page Blog
 */


/**
  * Blog Intro
  */

.blog-intro {
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

.blog-intro__content {
  width: 150%;
  position: relative;
  margin-left: -25%;
}

.blog-intro__item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 880px;
  background: #03256C;
}

.blog-intro__pict {
  position: relative;
}

.blog-intro__shadow {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;

  background-image: linear-gradient(to top, #03256c, rgba(3, 37, 108, 0));
}

.blog-intro__dsc {
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px 90px 160px;
  z-index: 100;
}

.blog-intro__link-rubric {
  color: #ea2e49;
  font-family: $font-family;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.6px;
  padding-bottom: 2px;

  @include hover {
    color: #ea2e49;
    text-decoration: underline;
  }
}

.blog-intro__link-title {
  color: #fff;
  font-family: $font-family-title;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -1.5px;
  text-align: left;

  @include hover {
    color: #fff;
    text-decoration: underline;
  }
}

.blog-intro__nav {
  position: absolute;
  top: 50%;
  left: 16%;
  width: 100vw;
  z-index: 100;

  .container {
    max-width: 863px;
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    position: absolute;
  }

  .swiper-button-prev {
    top: 0;
    left: 0;
  }

  .swiper-button-next {
    top: 0;
    right: -24px;
  }
}

/**
 * Blog Preview
 */
.blog-preview {
  position: relative;
  margin-top: -100px;
  z-index: 1;

  .row {
    background: #fff;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1);
    border: solid 1px #ebebec;
    background-color: #fff;
    margin: 0;
  }
}


.blog-preview__item {
  display: flex;
  align-items: center;
  border-top: 6px solid #fff;
  padding: 15px;
  background: #fff;

  &:hover {
    border-top: 6px solid #ea2e49;
    background: rgba(234, 46, 73, 0.09);
  }
}

.blog-preview__thumb {
  max-width: 150px;
  width: 100%;
  border-radius: 50%;
  margin-right: 12px;
}

.blog-preview__link-img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.blog-preview__img {
  width: 100%;
  height: 100%;
}

.blog-preview-stats {
  display: flex;
}

.blog-preview__dsc {
  display: flex;
  flex-direction: column;
}

.blog-preview__link-rubric {
  color: #ea2e49;
  font-family: $font-family;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.52px;
  padding-bottom: 2px;

  @include hover {
    color: #ea2e49;
    text-decoration: underline;
  }
}

.blog-preview__link-title {
  color: #03256c;
  font-family: G$font-family-title;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.68px;

  @include hover {
    color: #03256c;
    text-decoration: underline;
  }
}


/**
 * Post Stats
 */

.post-stats {
  // display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;

  border-radius: 14px;
  background-color: rgba(47, 114, 199, .1);

  @include unselectable;
}

.post-stats__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-stats__val {
  color: #2f72c7;
  font-size: 14px;
  letter-spacing: -0.52px;
  margin-left: 6px;
}

/**
 * Post Author (Short)
 */
.post-author-sm {
  color: #2f72c7;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include hover {
    color: #03256c;
    text-decoration: underline;
  }
}

.post-author-sm__name {
  margin-left: 5px;
  white-space: nowrap;
}

.post-author-sm__thumb {
  max-width: 26px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  border-radius: 50%;
}


/**
 * Featured Posts
 */

.featured-posts {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  border: solid 1px #ebebec;
}

.featured-posts__item {
  position: relative;
}

.featured-posts__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 22px;

  position: absolute;
  top: 0;
  right: 19px;
  height: 100%;
}

.featured-posts__badge {
  background: url('../images/blog/badge.svg') no-repeat;
  background-size: contain;
  width: 216px;
  height: 175px;
  padding: 10px 15px;
}

.featured-posts__link {
  color: #2f72c7;
  font-family: $font-greycliff;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: -1.13px;
}

.featured-posts__text {
  color: #2b2f47;
  font-family: $font-greycliff;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: -0.68px;
}

.featured-posts__action {
  .btn {
    width: 100%;
  }
}

.featured-posts__thumb {
  overflow: hidden;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.featured-posts__nav {
  display: flex;

  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 27px;
  bottom: 22px;

  .swiper-button-prev {
    margin-right: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    position: static;
  }
}


/**
 * Recent Posts
 */
.recent-posts {
  padding: 50px 0;
}

.recent-posts__action {
  display: flex;
  justify-content: center;
  padding: 10px 0 0;

  .btn {
    max-width: 250px;
    width: 100%;
  }
}

/**
 * Recent Slider
 */
.similar-posts {
  position: relative;
  margin-top: 30px;

  @include screen(767px) {
    .container {
      padding: 0;
    }
  }

  @include screen(530px) {
    .similar-posts__header {
      display: block;
    }

    .t2 {
      padding-bottom: 30px;
    }
  }

  .similar-posts__content {
    .posts-scope__item {
      padding: 0;
      width: 100%;
      max-width: none;

      @include screen(520px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }

  .posts-scope__thumb {
    max-height: 150px;
  }
}

.similar-posts__wrapper {
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  background: #03256C;
  position: relative;
}

.similar-posts__content {
  .posts-scope__item {
    max-width: 231px;
  }
}

.similar-posts__header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px;
}

.similar-posts__nav {
  position: relative;
  width: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    position: absolute;
  }

  .swiper-button-prev {
    top: -272px;
    left: -21px;
  }

  .swiper-button-next {
    top: -272px;
    right: -8px;
  }
}

/**
 * Creative Posts
 */

.creative-posts {
  padding: 50px 0 120px;

  .recent-posts {
    padding: 0;
  }
}


/**
 * Posts Scope
 */

.posts-scope {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.posts-scope__item {
  width: calc(100% / 3);
  padding: 15px;

  @include screen(520px) {
    width: 100%;
  }

  &:nth-child(1),
  &:nth-child(2) {
    width: 50%;

    .posts-scope__dsc {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .post-stats {
      max-width: 180px;

    }

    @include screen(520px) {
      width: 100%;
    }
  }
}

.posts-scope__thumb {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}

.posts-scope__rubric {
  color: #ea2e49;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.52px;

  display: block;
  padding: 13px 0 0;

  @include hover {
    color: #ea2e49;
  }
}

.posts-scope__title {
  display: block;
  padding: 0 0 11px;
}

.posts-scope__link {
  color: #2b2f47;
  font-family: $font-greycliff;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: -0.68px;
}

.posts-scope__excerpt {
  color: #808291;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 500;

  padding: 0 0 4px;
}

.posts-scope-alt {
  .posts-scope__link {
    color: #fff;

    @include hover {
      color: #fff;
    }
  }

  .post-stats {
    background: #1c3a7a;
  }

  .post-author-sm__name,
  .post-stats__val {
    color: #fff;
  }
}

.posts-scope-sm {
  .posts-scope__item {
    padding: 0;

    .post-stats {
      max-width: none;
    }

    .posts-scope__dsc {
      flex-direction: column;
    }

  }
}

.posts-scope-full {
  .posts-scope__item {
    max-width: none;
    width: 100%;
  }
}

/**
 * Responsive
 */
@media only screen and (max-width: 576px) {}
