.page-header {
  padding: 80px 0;
  background: $black;
  text-align: center;

  .entry-title {
    color: $text-color-invert;
    font-size: 100px;
    font-weight: 900;
  }

  .entry-lastupdate {
    color: $text-color-invert;
    font-size: 18px;
    font-weight: 900;

    padding: 40px 0 0;
  }
}

.page-main {
  padding: 100px 0;

  p {
    color: $text-color;
    font-size: 18px;
    line-height: 1.56;

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }

    + p {
      margin-top: 25px;
    }
  }
}


.edit-link {
  padding: 30px 0;
  display: block;
}



@media only screen and (max-width: 1030px) {

  .page-header {
    padding: 50px 0;

    .entry-title {
      font-size: 70px;
    }

    .entry-lastupdate {
      padding: 15px 0 0;
    }
  }

  .panel-request-refund {
    padding: 30px 0 0;
  }

  .page-main {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 576px) {

  .page-header,
  .page-main {
    padding: 30px 0;
  }
}
