/**
 * Work Details
 */

.work-intro {
  margin-top: 26px;
}

.work-card {
  position: relative;
  max-width: 650px;
  width: 100%;
  margin: 350px 0 440px;
}

.work-card__row {
  display: flex;
}

.work-card__body {
  position: relative;
  z-index: 1000;
  width: 100%;

  max-height: 400px;
  border-radius: 22px;
  box-shadow: 0 30px 60px -30px rgba(0, 124, 255, 0.8);
  background-color: #3b3c4b;
}

.work-card__col-aside {
  position: relative;
  flex: 0 0 242px;

  border-radius: 22px;
  overflow: hidden;
}

.work-card__col-text {
  display: flex;
  align-items: center;
  padding: 0 46px;
}

.work-card__info {
  position: absolute;
  left: 24px;
  bottom: 25px;
  width: 242px;

  img {
    width: 44px;
  }

  p {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.07;
    padding: 5px 0 0;

    span {
      display: block;
    }
  }
}

.work-card__details {

  p {
    color: $white;
    font-size: 30px;
    font-weight: 900;
    line-height: 32px;
  }

  img {
    width: 81px;
    height: 40px;
  }

}

.work-card__bg {
  position: absolute;
  top: -363px;
  left: -413px;

  z-index: 0;

  width: 1824px;
}

/**
 * Airly
 */

$airly-bg: #edf7fb;

.work-airly {
  background: $airly-bg;

  .footer,
  .cta,
  .cta-social__title {
    background: $airly-bg;
  }
}







/**
 * Prattier
 */

$pratter-bg: #fff9f3;

.work-pratter {
  background: $pratter-bg;


  .footer,
  .cta,
  .cta-social__title {
    background: $pratter-bg;
  }
}
