/**
 * Testimonials Page
 */

.body-testimonials {
  background: url('../images/testimonials/bg-feedback.png') no-repeat top;
  background-size: contain;
}

.testimonials-page {
  .testimonials-header {
    text-align: center;
    .subtitle,
    .title {
      text-align: center;
      display: inline-block;
    }
  }

  .testimonials_tab-content__item {
    flex-wrap: wrap;

    .feedback__item {
      margin: 10px 0 20px;
    }

    .feedback {
      display: inline-block;
      margin: 0 5px;
    }

    &.active {
      display: flex;
    }
  }

}
