/**
 * Works Page
 */

.works-posts {
  padding: 0 0 200px;

  .works-tabs__nav,
  .works-tabs__content {
    padding: 0;
  }

  .works-tabs__nav {
    border: 0;
  }
}

.works__header {
  @include screen(1110px) {
    .row {
      display: block;
    }

    .col-md-8,
    .col-md-4 {
      display: block;
      max-width: none;
      width: 100%;
    }
  }
}

.works-posts__filter {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;

  .tab-menu {
    margin: 0;
  }

  @include screen(767px) {
    display: none;
  }
}

.works-tabs__action {
  display: flex;
  justify-content: center;

}

.works-list-slider {
  height: 60vh;
  padding-right: 25px;
}

.works-tabs-list__action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.works-data {
  display: none;
}


/**
 * Scroll
 */
.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 10px;
  height: 98%;
}

.swiper-scrollbar {
  border-radius: 10px;
  border-radius: 5px;
  background-color: rgba(47, 113, 199, .1);
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #2f71c7;
  border-radius: 10px;
  left: 0;
  top: 0;
}


/**
 * Modal
 */

.modal-work {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  padding: 120px 0 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;

  overflow-y: auto;

  background-color: rgba(129, 146, 182, 0.8);

  z-index: 1000;

  &.active {
    display: block;
  }

  .container {
    max-width: 800px;
  }

  .modal-hide {
    right: -60px;

    @include screen(914px) {
      right: 10px;
      top: 10px;
    }
  }
}

.works-posts {
  .works-card {
    display: block;
  }

  .works-tabs__content {
    display: flex;
    flex-direction: column;

    .works-card {
      order: 2;
      margin-bottom: 50px;

      &.active {
        order: 1;
      }
    }
  }
}

.modal-work__body {
  background: #fff;
  border-radius: 12px;
  border: solid 3px rgba(101, 103, 120, 0.14);
  margin-bottom: 120px;

  .works-card {
    display: block;
    padding: 30px;
  }
}

.modal-work__header {
  position: relative;
}

.modal-work__preview {
  overflow: hidden;
  border-radius: 8px;
}
