/**
 * Page Blog Post
 */

.post-main {
  padding: 112px 0 200px;
}

.post-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .post-stats {
    max-width: 180px;
  }

  .post-author-sm {
    color: #fff;

    @include hover {
      color: #fff;
    }
  }

  .post-stats__val {
    color: #fff;
  }
}

.post-header {
  background: #03256C;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.post-header__pict {
  position: relative;
}

.post-header__shadow {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;

  background-image: linear-gradient(to top, #03256c, rgba(3, 37, 108, 0));
}

.post-header__dsc {
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: 0;
  width: 100%;
  padding: 30px;

  &.thumb {
    position: absolute;
  }
}

.post-header__rubric {
  color: #ea2e49;
  font-family: $font-family;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.6px;
  padding-bottom: 2px;

  @include hover {
    color: #ea2e49;
    text-decoration: underline;
  }
}

.post-header__title {
  color: #fff;
  font-family: $font-greycliff;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.13;
  letter-spacing: -1.5px;
}
