.error404 {
  background: url('../images/404/bg-img-404.svg') no-repeat;
  background-size: cover;

  .nav,
  .cta,
  .footer,
  .nav .btn-nav {
    display: none;
  }
}

.error-404 {
  height: 100vh;

  .row,
  .container {
    height: 100%;
  }

  .title {
    color: #fff;
    text-align: left;

    @include screen(768px) {
      font-size: 80px;
    }
  }

  .title-sm {
    color: #fff;
    text-align: left;

    font-family: $font-greycliff;
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0 0;
  }

  .page-header {
    background: transparent;
  }
}

.err-msg {
  font-size: 25px;

  a {
    color: #fff;
    text-decoration: underline;

    @include hover {
      color: #fff;
    }
  }

  p {
    color: #fff;
  }
}

.content-404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.header-404 {
  position: fixed;
  width: 100%;
}
