.panel-request-refund {
  text-align: center;
  padding: 80px 0 0;

  h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 36px;

    span {
      display: block;

      + span {
        margin-top: 10px;
      }
    }
  }

  .btn {
    max-width: 350px;
    width: 100%;
    text-align: left;
  }
}
