/**
 * Responsive
 */

@media only screen and (max-width: 1265px) {
  .container-full {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1120px) {
  .sticky-slider {
    display: none;
  }
}

@media only screen and (max-width: 1030px) {
  .intro-header .title {
    font-size: 17vw;
  }
}

@media only screen and (max-width: 991px) {}

@include tablet {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@include mobile {
  .intro-header .title {
    font-size: 16vw;
  }

  .testimonials,
  .process,
  .works {
    overflow: hidden;
  }
}
