/**
 * Section: Latest Insights
 */

.latest-insights {
  padding-bottom: 100px;

  .subtitle {
    color: #808291;
    font-family: $font-circular;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    padding: 30px 0;
    max-width: 593px;
  }

  .container {
    max-width: 970px;
  }

  .posts-scope__thumb {
    max-height: 190px;
  }
}

.latest-insights-container {
  position: relative;
}

.insight-slider {
  @extend .testimonials-slider;

  .feedback {
    padding: 0;
  }

  .posts-scope__thumb {
    padding-bottom: 20px;
  }

  .feedback__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
  }

  .feedback__link {
    color: #2b2f47;
    font-family: $font-greycliff;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: -0.68px;

    display: block;
    padding-bottom: 15px;

    @include hover {
      color: #2f72c7;
    }
  }
}

.feedback__date {
  color: #2f72c7;
  font-family: $font-circular;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.99px;
  text-transform: uppercase;

  padding-top: 5px;
}

.latest-insights__text {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  padding-bottom: 10px;
}
