/**
 * Home: Services
 */


/*
 * Services
 * ========================================================================== */

.services {
  position: relative;
  padding: 0;

  .container {
    max-width: 774px;
    position: relative;
    z-index: 200;
  }
}

.services__header {
  padding: 0 0 45px;
  text-align: center;
  position: relative;

  .i-arrow-cta {
    position: absolute;
    left: 50%;
    top: -100px;
  }
}

.services-tabs {
  display: flex;
  min-height: 460px;
  background: #113B87;

  border-radius: 16px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);
}

.services__action {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 30px;

  .btn {
    width: 100%;
  }
}

/**
 * Tabs Nav
 */

.services-tabs__nav {
  display: flex;
  flex-direction: column;
}


.services-tabs__link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;

  flex: 1;

  width: 100%;
  padding-right: 70px;

  border-radius: 16px 0 0 16px;

  transition: all 0.075s ease;

  cursor: default;

  @include unselectable;


  &:active,
  &:focus {
    text-decoration: none;

    .services-tabs__header {
      color: #fff;
    }

    .services-tabs__dsc {
      color: #acc6e9;
    }

  }

  &.active,
  &:hover {
    text-decoration: none;
    background-color: $blue;

    .services-tabs__header,
    .services-tabs__dsc {
      color: #fff;
    }
  }

  .services-tabs__dsc {
    color: #acc6e9;
    font-family: $font-circular;
    font-size: 15px;
    font-weight: 500;
    min-width: 160px;
  }
}

.services-tabs__header {
  color: #fff;
  font-family: $font-circular;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 5px;
}


.services-tabs__icon {
  width: 120px;
  height: 120px;
  flex: 0 0 120px;

  @include flex-center;
}

.services-tabs__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px 0;
}

/**
 * Tabs Content
 */
.services-content {
  position: relative;
  width: 100%;
  padding: 45px 60px;
  overflow: hidden;
  border-radius: 0 16px 16px 0;
  background: #fff;
}


.services-list__item {
  color: #03256c;
  font-family: $font-circular;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.45;
  margin-left: 3px;
  white-space: nowrap;


  &:before {
    content: '•';
    color: #03256c;
    font-family: $font-circular;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.45;
    position: relative;
    left: -13px;
  }
}

.services-content__item {
  display: none;

  .services-tabs__content {
    display: none;
  }

  &.active {
    display: block;
  }
}

/**
 * Bottom Background
 */
.services-bottom-bg {
  position: relative;
  margin-top: -245px;
  height: 110px;
  width: 100%;

  background: #03256c url('../images/process/bg-process.png') no-repeat center top;
  background-size: cover;
  z-index: 100;
}


/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .services {
    padding: 0 0 50px;
  }

  .services-tabs__header {
    font-size: 31px;
  }

  .services-tabs__dsc {
    font-size: 16px;
    line-height: 1.11;
  }

  .services-list__item {
    font-size: 16px;
    line-height: 1.59;
    letter-spacing: 1px;
  }

  .services-tabs__link {
    width: 100%;
    min-height: 110px;
    padding: 0;
    flex: 0;

    .services-tabs__content {
      display: none;
    }
  }

  .services-tabs__nav {
    flex: auto;
  }

  .services-tabs__icon {
    width: 110px;
    height: 110px;
    flex: 0 0 110px;
  }

  .services-content__item {
    .services-tabs__content {
      display: block;
      padding: 0 0 30px;

      .services-tabs__header {
        color: #03256c;
      }

      .services-tabs__dsc {
        color: #03256c;
      }
    }
  }

  .services-tabs__content {
    padding: 0 0 0 10px;
  }

  .services__action {
    position: relative;
    padding: 30px 0;
  }
}

@media only screen and (max-width: 576px) {
  .services {
    padding: 60px 0 0;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .services-content {
    padding: 30px 20px 30px 30px;
    border-radius: 0;
    width: auto;
  }

  /**
   * Tabs
   */
  .services-tabs {
    flex-direction: column;
  }


  .services-tabs__nav {
    display: flex;
    flex-direction: row;
  }

  .services-tabs__header {
    font-size: 20px;
  }

  .services-tabs__link {
    border-radius: 16px 16px 0 0;
    flex: 1;

    .services-tabs__content {
      display: none;
    }
  }

  .services-content__item {
    .services-tabs__content {
      .services-tabs__header {
        display: block;
      }
    }
  }

  .services-tabs__icon {
    width: 60px;
    flex: 0 0 60px;
  }

  .services-list__item {
    line-height: 1.3;
  }

  .services-list__item+.services-list__item {
    margin-top: 10px;
  }

  .services-content {
    height: auto;
  }

}
