/**

  Sections

  Table of Contents
  -----------------

 */


.title {
  color: $text-header-color;
  font-size: 80px;
  line-height: 0.87;
  letter-spacing: -3px;
}

.subtitle {
  color: $blue;
  font-size: 45px;
  font-weight: 700;
}

.section-inverted {
  background: $bg-inverted;

  .title {
    color: $text-color-invert;
  }

  p {
    color: $text-color-invert;
  }

  em {
    color: $text-color-em-invert;
  }
}

.page-section-title {
  color: #03256c;
  font-family: $font-greycliff;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1.88px;
}

.page-section-dsc {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;
}






/**
 * Responsive
 */

@media only screen and (max-width: 768px) {

  .title {
    font-size: 48px;
    letter-spacing: normal;
  }

  .page-section-title {
    font-size: 34px;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 576px) {

  .intro-header .title {
    font-size: 16vw;
  }

  .subtitle {
    font-size: 32px;
  }
}
