/**
 * Home: Mobile Works
 */

.mobile-works {
  padding: 50px 0 0;
  display: none;

  @include screen(768px) {
    display: block;
  }

  &.mobile-works {
    padding: 0 0 50px;
  }
}

/**
 * Works Details
 */
.works-filter {
  max-width: 420px;
  position: relative;

  display: none;

  .btn {
    width: 100%;
  }

  @include screen(767px) {
    display: block;
  }
}

.works-filter__select {
  i {
    transition: all .3s;
  }

  .active {
    .i {
      transform: rotate(0);
      top: -2px;
    }
  }
}

.works-filter__options {
  width: 100%;

  border-radius: 20px;
  box-shadow: -5px 5px 0 0 rgba(56, 58, 69, 0.1);
  border: solid 1px #ebebec;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  z-index: 600;

  transition: all .3s;

  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;

  &.active {
    height: auto;
    opacity: 1;
    padding: 20px;
  }
}

.works-filter__link {
  color: #2b2f47;
  font-family: circular;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  display: block;
  padding: 10px;

  &.active {
    color: #ea2e49;
  }
}
