/**
 * Home: Partners
 * ==================================================
 */

.partners {
  margin-top: -50px;
  padding-bottom: 150px;

  @include screen(768px) {
    margin: 0;
    padding-bottom: 50px;
  }

  @include screen(576px) {
    padding: 30px 0;
  }
}

.partners__header {
  padding-bottom: 17px;
}

.partners__title {
  color: #fff;
  font-family: $font-circular;
  font-size: 18px;
  text-align: center;

  @include screen(576px) {
    line-height: 24px;
  }
}

.partners-list {
  display: flex;
  align-items: center;

  @include screen(768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.partners-list__item {
  width: calc(100% / 5);

  @include screen(768px) {
    width: calc(100% / 3);
  }

  @include screen(576px) {
    width: calc(100% / 2);
  }
}

.partners-list__link {
  display: block;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0;
  transition: all .3s;

  @include unselectable;

  &:hover {
    background: #022063;
    box-shadow: 0 10px 30px -10px #2f72c7;
  }

}
