/**
 * Home: Intro Section
 */

.intro {
  .title {
    font-size: 168px;
    font-weight: 700;
    letter-spacing: -8.42px;
    text-transform: lowercase;
    text-align: center;

    position: relative;
    z-index: 100;
  }
}

.intro-subtitle {
  color: $white;

  text-align: right;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  max-width: 560px;
  margin-right: 20px;

  @include screen(768px) {
    margin-right: 0;
  }

  h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: $font-circular;
  }
}

.intro-header {
  position: relative;
  top: 250px;
  opacity: 0;

  max-width: 1060px;
  padding: 5px 0 0;
  z-index: 75;

  transition: all 1s;

  .title {
    white-space: nowrap;
  }

  &.active {
    top: 0;
    opacity: 1;
  }
}


/**
 * Home: Intro Scene
 */

.intro-scene {
  position: relative;
  height: 714px;
  margin-top: 10px;
}

.intro-scene-shadow {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 732px;
  z-index: 4;
  background: url('../images/home/intro-shadow.png') no-repeat center center;
  background-size: contain;
}

.intro-scene-box {
  position: absolute;
  top: -280px;
  @include center-x;

  width: 100%;
  max-width: 930px;

  z-index: 80;

  svg {
    width: 100%;
  }
}

/**
 * Intro Menu
 */

.intro-menu {
  display: block;
  position: relative;

  width: 100%;
  min-height: 514px;

  transform: translateZ(60px);
  z-index: 100;

  &.active {

    .intro-menu__item {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        opacity: 1;
      }
    }
  }
}


.intro-menu__item {
  position: absolute;
  opacity: 0;

  // Coding
  &:nth-child(1) {
    transition: all ease-in .3s;
    top: 63px;
    right: 190px;
  }

  // Design
  &:nth-child(2) {
    transition: all ease-in .3s;
    top: 150px;
    left: 255px;
  }

  // Branding
  &:nth-child(3) {
    transition: all ease-in .3s;
    bottom: -10px;
    left: 213px;
  }

  // Business Strategy
  &:nth-child(4) {
    transition: all ease-in .3s;
    bottom: 50px;
    right: 232px;

    .btn {
      &.btn-icon {
        padding-right: 80px;
      }
    }
  }

  // Explore More
  &:nth-child(5) {
    top: auto;
    bottom: 130px;
    right: -80px;
    transform: rotate(-90deg);
    opacity: 1;
    width: 280px;

    &:hover {
      .intro-menu__link {
        border-color: $white;
      }
    }

    .btn {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 20px;
      justify-content: space-between;
      align-items: center;

      .i {
        transform: rotate(90deg);
      }
    }

  }

}

/**
 * Explore More
 */

.popup-explore-more {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  bottom: -50px;
  right: -60px;
  z-index: 1000;
  transition: all .3s;


  transform: rotate(-90deg);

  .btn {
    width: 230px;

    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;

    i {
      transform: rotate(90deg);
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;

    display: block;
    bottom: 130px;
  }

  @include screen('768px') {
    transform: none;
    right: 20px;
    bottom: -130px;

    .btn {
      width: auto;

      i {
        transform: none;
      }

      .btn__text {
        margin-right: 20px;
      }
    }

    &.active {
      bottom: 20px;
    }
  }
}



/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .process-bottom-bg,
  .works-top-bg,
  .services-bottom-bg {
    display: none;
  }

  .i-arrow-cta {
    display: none;
  }


  .intro-header .title {
    letter-spacing: 0;
  }


  .intro-scene-shadow {
    display: none;
  }

  .intro-scene {
    height: auto;
    margin-top: -40px;
  }

  .intro-subtitle {
    font-size: 15px;
    line-height: 1.09;
    max-width: 400px;
  }

  .intro-menu__item:nth-child(1) {
    top: 41px;
    right: 140px;
  }

  .intro-menu__item:nth-child(2) {
    top: 145px;
    left: 90px;
  }

  .intro-menu__item:nth-child(3) {
    bottom: 50px;
    left: 50px;
  }

  .intro-menu__item:nth-child(4) {
    bottom: 86px;
    right: 50px;
  }

  .intro-menu__item:nth-child(5) {
    display: none;
  }

  .intro-scene-box {
    top: -300px
  }

}

@media only screen and (max-width: 576px) {
  .intro {
    padding: 0;
  }

  .intro-header .title {
    font-size: 17vw;
  }

  .intro-scene-box {
    top: -90px;
    width: 130%;
  }

  .intro-menu {
    display: none;
  }

  .intro-scene-box {
    position: relative;

    svg {
      height: auto;
    }
  }

  .intro-scene-box {
    top: auto;
  }

}
