/**
 * Home: Testimonials
 */

.testimonials-header {
  position: relative;
  max-width: 890px;
  position: relative;
  z-index: 100;

  .title {
    max-width: 807px;

    span {
      display: block;
    }
  }

  .subtitle {
    color: #808291;
    font-family: $font-circular;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;

    padding: 30px 0;
    max-width: 593px;
  }

}

.testimonials {
  padding: 100px 0;

  .container {
    max-width: 970px;
  }
}

.feedback {
  display: flex;
  flex-flow: column;

  max-width: 300px;
  width: 100%;

  padding: 20px;

  border-radius: 16px;
  background-color: #fff;


  border-radius: 10px;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
  border: solid 1px #ebebec;

  @include unselectable;
}

.feedback__text {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;

  padding-bottom: 10px;
}

.feedback__text-excerpt {
  overflow: hidden;
  max-height: 260px;
  margin-bottom: 12px;
  position: relative;

  .feedback-text-action {
    display: block;
  }
}

.feedback-text-action {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;

  display: none;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  padding: 60px 0 0;

  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);

  @include unselectable;
}

.feedback__author {
  color: #55596c;
  font-size: 16px;
  font-weight: 900;
  font-family: $font-circular;
  padding-bottom: 3px;
}

.feedback__author-role {
  color: #55596c;
  font-size: 12px;
  font-weight: 900;
  font-family: $font-circular;
}

.feedback__logo {
  margin: 14px 0 18px;
  height: 42px;
  width: 100%;
  overflow: hidden;

  img {
    height: 42px;
  }
}

.testimonials_tab-content__item {
  display: none;

  &.active {
    display: block;
  }
}


/**
 * Slider
 */

.container-testimonials {
  position: relative;
}

.testimonials-slider {

  .swiper-slide {
    opacity: 0;
    transition: all .3s;

    &.swiper-slide-active {
      opacity: 1;
    }

    &.swiper-slide-next {
      opacity: 1;

      ~.swiper-slide {
        opacity: 1;

        ~.swiper-slide {
          opacity: 0;
        }

      }
    }

  }


  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;

    z-index: 1;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .swiper-button-next {
    right: -5px;
  }

  .swiper-pagination {
    padding: 20px 0;
    color: #7c6600;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    white-space: nowrap;

    margin-right: 20px;
  }



  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: $bg-panel-yellow;
    overflow: hidden;

    height: 10px;
    width: 300px;
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }

  .swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;

    background: $yellow;
  }

  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }


  // Testimonials Nav
  .testimonials-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0 0;
  }
}


@media only screen and (max-width: 902px) {
  .testimonials .title {
    max-width: 565px;
  }
}



@media only screen and (max-width: 768px) {

  .testimonials .title {
    max-width: none;
  }

  .testimonials-slider .swiper-button-prev {
    left: 30px;
  }

  .testimonials-slider .swiper-button-next {
    right: 30px;
  }

  .testimonials__link {
    padding: 0 10px;
    box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);
    background-color: #ffec62;
    border-radius: 16px;
    margin: 0 15px 5px 0;
  }

  .testimonials-menu {
    display: block;
    background: none;
    box-shadow: none;
    margin-bottom: 30px;
  }

  .testimonials__item {
    display: inline-block;
  }

}


/**
 * Feedback Video
 */
.feedback-video {
  display: block;
  position: relative;
  margin-bottom: 14px;
}

.feedback-video__play {
  display: block;
  overflow: hidden;
  border-radius: 12px;
  max-height: 170px;

  @include unselectable;

  @include hover {
    .feedback-video__btn {
      opacity: 1;
    }

    .feedback-video__panel {
      opacity: .6;
    }
  }
}

.feedback-video__panel {
  position: absolute;
  opacity: .4;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all .3s;
  background: #2f71c7;
  border-radius: 12px;
}

.feedback-video__thumb {
  transform: scale(1.33);
}

.feedback-video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all .3s;

  width: 121px;
  height: 121px;
  z-index: 20;

  opacity: .4;
}

/**
 * Testimonials Action
 */

.testimonials-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
