/**
 * Home: Our Process
 */
.our-process {
  padding: 200px 0 0;
  background: #103C87;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  margin-top: -50px;

  .process__header {
    padding: 0;
    margin-top: -50px;
    position: relative;

    @include screen($tablet) {
      margin-top: 0;
    }
  }

  .subtitle {
    color: #9fb1cf;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    font-family: $font-circular;
    display: inline-block;
    position: relative;
    max-width: 711px;
    padding: 30px 0;
  }

  .process__content {
    padding-top: 30px;
    position: relative;
    z-index: 300;
    background: transparent;

    .our-process-menu {
      max-width: 1020px;
    }

    @include screen($tablet) {
      padding-top: 0;
    }
  }

  @include screen($tablet) {
    padding-top: 80px;
  }
}

.how-do-we-climb {
  display: flex;
  justify-content: center;
  margin-top: -500px;
  position: relative;

  background: url('../images/process/how-do-we-climb-bg.png') no-repeat bottom;
  background-size: cover;

  z-index: 200;

  @include screen(1100px) {
    margin-top: -250px;
  }

  @include screen($tablet) {
    margin-top: 0;
  }
}

.our-process-menu {
  @extend .process-menu;
}

.our-process-menu__item {
  @extend .process-menu__item;
}

.our-process-menu__link {
  @extend .process-menu__link;
}

.our-process-details__tab {
  @extend .process-details__tab;

  margin-left: 20px;
  max-width: 300px;
}

html .our-process-details__tab {
  @include screen($tablet) {
    padding-top: 0;
    margin-left: 0;
  }
}

.our-process-menu-slider .swiper-slide {
  opacity: 1;
  transition: all .3s;
}

.our-process-menu-slider .swiper-slide-prev,
.our-process-menu-slider .swiper-slide-next {
  opacity: 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
}


.our-process-details__title {
  font-family: $font-greycliff;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0 0;
}

.our-process-details__dsc {
  color: #9fb1cf;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  font-family: $font-circular;

  padding: 30px 0;
}

/* Bottom Background */
.our-process-bottom-bg {
  position: relative;
  height: 138px;
  width: 100%;
  margin-top: -1px;

  background: #fff url('../images/process/process-bottom-bg.png') no-repeat bottom;
  background-size: cover;
}


.our-process__action {
  background: #fffbe0;
  margin-top: -1px;

  .process__launch-btn {
    bottom: auto;
  }
}
