/**
 * Home: Works
 */

.works {
  padding: 0;

  .container {
    max-width: 970px;
  }
}

.works-tabs {
  display: flex;

  .row {
    width: 100%;
  }
}

.works__header {
  padding-bottom: 20px;

  .t2 {
    color: #2b2f47;
    font-family: $font-greycliff;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: -1.88px;
  }
}

.works-tabs__nav {
  border-right: solid 1px #c1d5ef;
  padding-right: 40px;
  flex: 1;
  max-width: 320px;
  width: 100%;
}

.works-tabs-list {
  padding-bottom: 20px;
}

.works-tabs-list-main {

  .works-tabs-list__item {
    &:nth-last-child(1) {
      .works-tabs-list__link {
        color: #6e9cd8 !important;
      }
    }

    &:nth-last-child(2) {
      .works-tabs-list__link {
        color: #6e9cd8;
      }
    }

    &:nth-last-child(3) {
      .works-tabs-list__link {
        color: #6e9cd8;
      }
    }

    &:nth-last-child(4) {
      .works-tabs-list__link {
        color: #6e9cd8;
      }
    }

    &:nth-last-child(5) {
      .works-tabs-list__link {
        color: #6e9cd8;
      }
    }
  }

  @include screen(767px) {
    display: none;
  }

}

.works-tabs-list__item {
  &:nth-last-child(1) {
    .works-tabs-list__link {
      color: #e3ecf7;
    }
  }

  &:nth-last-child(2) {
    .works-tabs-list__link {
      color: #d2e0f3;
    }
  }

  &:nth-last-child(3) {
    .works-tabs-list__link {
      color: #bfd3ee;
    }
  }

  &:nth-last-child(4) {
    .works-tabs-list__link {
      color: #acc6e9;
    }
  }

  &:nth-last-child(5) {
    .works-tabs-list__link {
      color: #9abae4;
    }
  }

  @include hover {
    .works-tabs-list__link {
      color: #2f71c7;
    }
  }

  .works-tabs-list__link {
    color: #6e9cd8;
    font-family: $font-circular;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
    white-space: nowrap;

    display: block;
    padding: 2px 20px;

    border-radius: 20px;
    box-shadow: none;
    border: solid 1px #fff;

    @include unselectable;

    &.active,
    &:hover {
      color: #2f71c7;
      text-decoration: none;

      box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
      border: solid 1px #ebebec;
    }

    &:focus,
    &:active {
      text-decoration: none;
    }

  }
}


.works-card {
  display: none;

  &.active {
    display: block;
  }
}

.works-tabs__content {
  flex: 1;
  padding-left: 40px;
}

.works-card__header {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c1d5ef;
}

.page-card__title {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 24px;
  font-weight: 500;
  max-width: 460px;
  line-height: 1.2;
}

.works-card__logo {
  margin-bottom: 10px;
  max-width: 240px;
}

.works-card__dsc {
  color: #808291;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.2;

  p+p {
    margin-top: 15px;
  }
}

.works-card-tags__list {
  display: flex;
  flex-wrap: wrap;
}

.works-card-tags__item {
  color: #2f72c7;
  font-family: $font-circular;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.94px;
  white-space: nowrap;
  position: relative;
  margin-top: 15px;

  +.works-card-tags__item {
    padding-left: 60px;

    &:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 4px;
      position: absolute;
      left: 30px;
      top: 50%;
      background: #97b8e3;
    }
  }
}

.page-card__title {
  color: #2f72c7;
  font-family: $font-greycliff;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -1.13px;
  padding-bottom: 5px;
}

.works-card__subtitle {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 2px;
}

.works-card__action {
  padding: 20px 0;
}


/**
 * Process Bottom Background
 */
.works-top-bg {
  position: relative;
  margin-top: -154px;
  height: 154px;
  width: 100%;

  background: #103c87;
  background-size: cover;
  z-index: 100;
}

.page__back {
  padding: 0;
}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {
  .works {
    padding: 50px 0 0;
    display: none;
  }

  .works-card-tags__list {
    display: block;
  }

  .works-card-tags__item+.works-card-tags__item {
    padding-left: 0;
  }
}
