/**
 * Home: Our Process
 */


.process {
  background: #082e77;
  background-size: contain;

  padding-top: 280px;

  .container {
    position: relative;
    z-index: 200;
    max-width: 960px;
  }

  .subtitle {
    padding: 0 0 23px;
  }

  .title {
    max-width: 918px;
  }
}

.process-bottom-bg {
  position: relative;
  margin-top: -584px;
  z-index: 100;
  width: 100%;
  height: 204px;

  background: #082e77 url('../images/process/bg-process-sl.png') no-repeat center top;
  background-size: cover;
}

.process__header {
  padding: 0 0 83px;
  position: relative;
  z-index: 100;

  .i-arrow-cta {
    position: absolute;
    left: 50%;
    top: -100px;
  }

  .title {
    color: $white;
    max-width: 654px;
  }
}

/**
 * Scene
 */
.process-scene {
  position: relative;

  height: 774px;
  border-radius: $border-radius-lg;
  padding: 0 160px;

  bottom: 20px;
}

.process-scene__img {
  position: absolute;
  width: 1440px;
  bottom: 107px;

  @include center-x;
}

/**
 * Pints
 */

.start-points__item {
  position: absolute;
  bottom: 110px;


  // Develop
  &:nth-child(1) {
    left: 189px;
  }

  // Design
  &:nth-child(2) {
    left: 462px;
    bottom: 231px;

    .start-points__button {
      bottom: 6px;
      left: -108px;
    }

    .start-points__hint {
      bottom: 16px;
      left: -108px;
    }

    .start-points__flag {
      left: 5px;
    }
  }

  // Develop
  &:nth-child(3) {
    left: 624px;
    bottom: 310px;

    .start-points__button {
      bottom: 20px;
      //left: -64px;
      left: -100px;
    }

    .start-points__hint {
      bottom: 30px;
      left: -100px;
    }

    .start-points__flag {
      left: 5px;
    }

  }

  // Test
  &:nth-child(4) {
    left: 694px;
    bottom: 365px;

    .start-points__button {
      bottom: 20px;
      //left: 0;
      left: 60px;
    }

    .start-points__hint {
      bottom: 30px;
      left: 60px;
    }

    .start-points__flag {
      left: 5px;
    }

  }

  // Launch
  &:nth-child(5) {
    left: 523px;
    bottom: 542px;

    .start-points__button {
      bottom: 10px;
      left: -100px;
    }

    .start-points__hint {
      bottom: 20px;
      left: -100px;
    }

    .start-points__flag {
      left: 25px;
    }
  }


}

.start-points__flag {
  transition: $btn-transition;
  opacity: 0;

  position: relative;
  left: 7px;
  bottom: 2px;
  width: 50px;
  height: 71px;
}

.start-points__button {
  color: $text-color;
  font-size: 12px;
  font-weight: 800;
  line-height: 28px;
  text-align: center;

  position: absolute;
  width: 100px;

  bottom: 90px;
  left: -20px;

  border-radius: $border-radius;
  border: solid 2px #fff;

  background-color: $yellow;

  cursor: default;

  z-index: 80;

  &.active~.start-points__hint,
  &:hover~.start-points__hint {
    opacity: 1;
  }

  &.active~.start-points__flag,
  &:hover~.start-points__flag {
    opacity: 1;
  }

}

.start-points__hint {
  transition: $btn-transition;
  opacity: 0;

  color: $white;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.09;

  position: absolute;
  display: block;

  padding: 10px 9px;

  height: 100px;
  width: 100px;

  bottom: 100px;
  left: -20px;

  border-radius: 8px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  background-color: rgba(95, 100, 131, 0.7);

  z-index: 70;
}



/**
 * Our Process Menu
 */

.process-menu {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;

  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, 0.1), inset 0 -3px 0 0 rgba(56, 58, 69, 0.2);
  background-color: #ffec62;
  border-radius: 16px;
}

.process-menu__item {
  flex-grow: 1;
  flex-basis: 0;
}

.process-menu__link {
  color: $text-color;
  font-size: 15px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  display: block;
  border-radius: 16px;
  white-space: nowrap;

  cursor: auto;

  @include unselectable;

  &:hover {
    color: $text-color;
    text-decoration: none;
    background: $yellow;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &.active {
    color: $text-color-invert;
    text-decoration: none;
    font-weight: 900;
    background: $blue;
  }
}


/**
 * Our Process Details
 */

.process-details__tab {
  min-height: 500px;
  padding-top: 30px;
}

.process-details {
  padding: 36px 0 0;
}

.process-details__content {
  text-align: center;
  padding: 0 12px 40px;

  &.lg {
    max-width: none;
  }
}

.process-details__title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;

  padding-bottom: 10px;
}

.process-details__subtitle {
  color: #9fb1cf;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  font-family: $font-circular;

  display: inline-block;
  position: relative;
  max-width: 711px;
}

.process-details__title-secondary {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.18;
  padding-bottom: 10px;
  margin-top: 30px;
}

.process-details__platforms,
.process-details__lang {
  position: relative;
  overflow: hidden;

  padding: 0 30px 30px;
  border-radius: $border-radius-lg;

  .process-details__subtitle {
    padding-bottom: 6px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    right: 0;
  }
}

.process-testing__img {
  padding: 0 40px;
}

.process__launch-img {
  max-width: 800px;
  margin: 0 auto;
}

.process__launch-msg {
  text-align: center;

  margin: 0 auto;

  max-width: 713px;
  padding: 30px 0;

  p {
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.14;
    text-align: center;
  }
}

.process__launch-btn {
  text-align: center;
  padding: 0;
  position: relative;
  bottom: -19px;
}

/**
 * Slider
 */
.process-slider-panel {
  background: #0a3077;
  border-radius: 12px;
  padding: 0 80px;
  margin-top: 20px;

  @include screen($tablet) {
    margin-top: 0;
    padding: 0;
  }
}

.process-slider {
  position: relative;
  min-height: 320px;
  padding-top: 40px;

  .swiper-slide {
    opacity: 1;
    transition: all .3s;

    &-prev,
    &-next {
      opacity: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 1;
  }

  .swiper-button-prev {
    left: -50px;
  }

  .swiper-button-next {
    right:  -50px;
  }

  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: $bg-panel;

    height: 10px;
    width: 300px;
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }

  .swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;

    background: $blue;
  }

  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
}

.process-nav {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0 0;
}

.process-nav__title {
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: right;
  text-transform: uppercase;

  position: relative;
  margin: -2px 20px 0 0;

  @include unselectable;
}

/**
 * Content Section
 */
.process__content {
  position: relative;
  padding-top: 64px;
  padding-bottom: 50px;
  background: #103C87;

  .container {
    position: relative;
    max-width: 1100px;
    z-index: 200;
  }

  .process-menu {
    max-width: 960px;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
  }

  @include screen($tablet) {
    padding-top: 20px;
  }
}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .process-details__tab {
    min-height: auto;
  }

  .process-details__platforms,
  .process-details__lang {
    background: transparent;
    padding: 0;
  }

  .process {
    padding-top: 50px;
  }

  .process-menu {
    display: none;
  }

  .process-scene {
    height: auto;
    padding: 0;
    margin-top: -100px;
  }

  .process-scene__img {
    width: 100%;
    position: relative;
    transform: none;
    bottom: auto;
    left: auto;

    svg {
      width: 100%;
      height: auto;
      transform: scale(1.6);
    }
  }

  .process-menu__link {
    font-size: 16px;
    line-height: 46px;
    margin: 15px 0;
  }

  .process__launch-msg p,
  .process-details__title {
    font-size: 24px;
  }

  .process__header {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {

  .process {
    padding: 50px 0 0;
  }

  .process-slider {
    padding-top: 0;
  }

  .process-scene__img {
    bottom: 0;
    top: -68px;
    position: relative;

    svg {
      height: auto;
    }
  }

  .process-scene {
    height: auto;
    padding: 0;
    margin: 0;
  }

  .process-nav {
    display: none;
  }

  .process-details__lang,
  .process-details__platforms {
    &:before {
      content: '';
      display: none;
    }
  }

  .process-slider .swiper-button-next {
    right: 0 !important;
  }

  .process-details__title {
    padding: 30px 0;
  }

  .process-details__platforms {
    margin-top: 0;
  }
}
