.faq {
  padding-bottom: 150px;
}

.faq__header {
  text-align: center;
  padding-bottom: 35px;
}

.faq__content {
  display: flex;
}

.faq-tabs-list {
  flex: 0 0 380px;
  margin-right: 20px;
  width: 100%;
}

.faq-tabs-list__link {
  color: #6e9cd8;
  font-family: $font-circular;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  display: block;
  padding: 15px 17px;

  border-radius: 20px;
  box-shadow: none;
  border: solid 1px #fff;

  @include unselectable;

  &.active,
  &:hover {
    color: #2f71c7;
    text-decoration: none;

    box-shadow: inset 0 -4px 0 0 rgba(56, 58, 69, 0.2);
    border: solid 1px #ebebec;
  }

  &:focus,
  &:active {
    text-decoration: none;
  }

}

.faq-tabs__content {
  padding: 30px;
  border-radius: 12px;
  background-color: rgba(255, 236, 98, 0.1);
}

.faq-tabs__card {
  color: #2b2f47;
  font-family: $font-circular;
  font-size: 16px;
  line-height: 1.2;

  p+p {
    margin-top: 20px;
  }
}

.faq-tabs__card {
  display: none;

  &.active {
    display: block;
  }
}

/**
 * Responsive
 */

@media only screen and (max-width: 830px) {
  .faq-tabs-list {
    flex: 0 0 250px;
  }
}

.faq-tabs__card-mobile {
  display: none;

  &.active {
    display: none;
  }
}

@media only screen and (max-width: 700px) {

  .faq-tabs-list {
    flex: auto;
    margin-right: 0;
  }

  .faq-tabs__content {
    display: none;
  }

  .faq-tabs__card-mobile {
    display: none;
    padding: 17px;

    &.active {
      display: block;
    }
  }
}
