/*
 * CTA
 * ========================================================================== */

.cta {
  text-align: center;

  position: relative;
  padding: 200px 0 0;
  margin-top: 350px;
  background: #fff9d3 url('../images/cta/cta-bg.png') no-repeat top center;
  background-size: contain;

  .i-arrow-cta-blue {
    position: absolute;
    left: 50%;
    top: -600px;
    z-index: 500;
    margin-left: -13px;
  }
}

.cta__header {
  margin-top: -100px;

  .title {
    text-align: center;
  }

  .subtitle {
    color: #656778;
    font-size: 18px;
    font-weight: 500;
    max-width: 480px;
    line-height: 1.3;

    display: block;
    padding: 30px 0;
    margin: 0 auto;
  }
}

.cta__scene {
  position: relative;
  margin: -600px 0 0 0;
  left: -46px;
}

.cta-social {
  text-align: center;
}


.cta-social__header {
  display: inline-block;
  position: relative;
  width: 437px;

  margin: 15px 0 8px;

  &:before {
    content: '';
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    height: 1px;
    opacity: 0.6;
    background: #000;
  }
}

.cta-social__title {
  color: #656778;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
  display: inline-block;
  padding: 0 17px;
  position: relative;
  background: #fff9d3;
}

.cta-social__menu {
  display: flex;
  justify-content: center;
}

.cta-social__item {
  margin: 0 10px;
}

.cta-social__link {
  transition: $btn-transition;

  &:hover {
    opacity: .8;

    img {
      transform: scale(1.2);
    }
  }
}



/**
 * CTA Action
 */

.cta__action {
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 15px;
    max-width: 280px;
    width: 100%;
  }
}


/**
 * Responsive
 */
@media only screen and (max-width: 768px) {

  .cta {
    padding: 0;
    margin: 250px 0 0;
  }

  .cta__scene {
    margin: 0;
    margin-top: -300px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .cta__header {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 576px) {

  .cta-social__header {
    width: auto;

    &:before {
      display: none;
    }
  }

  .cta {
    margin-top: 0;

    .title {
      max-width: 380px;
      display: inline-block;
      margin-top: 0;
    }

    .subtitle {
      font-size: 20px;
      max-width: 340px;
    }
  }


  .cta__scene {
    margin: -50px 0 0;
  }
}


@media only screen and (max-width: 576px) {
  .cta__header {
    margin-top: -50px;
  }

  .cta__action {
    display: block;

    .btn {
      margin: 0;
      width: 100%;

      + .btn {
        margin-top: 20px;
      }
    }
  }
}
