.svg-heart-dims {
	width: 82px;
	height: 72px;
}

.svg-icon-clock-dims {
	width: 18px;
	height: 18px;
}

.svg-icon-map-marked-alt-dims {
	width: 21px;
	height: 19px;
}

.svg-icon-menu-article-dims {
	width: 107px;
	height: 70px;
}

.svg-icon-menu-behance-dims {
	width: 70px;
	height: 70px;
}

.svg-icon-menu-career-dims {
	width: 111px;
	height: 76px;
}

.svg-icon-menu-dribbble-dims {
	width: 70px;
	height: 70px;
}

.svg-icon-menu-process-dims {
	width: 76px;
	height: 105px;
}

.svg-icon-menu-services-dims {
	width: 112px;
	height: 129px;
}

.svg-icon-menu-works-dims {
	width: 99px;
	height: 120px;
}

.svg-icon-post-eye-dims {
	width: 16px;
	height: 11px;
}

.svg-icon-post-eye-alt-dims {
	width: 16px;
	height: 11px;
}

.svg-icon-post-heart-dims {
	width: 14px;
	height: 13px;
}

.svg-icon-post-heart-alt-dims {
	width: 14px;
	height: 13px;
}

.svg-icon-post-share-dims {
	width: 16px;
	height: 15px;
}

.svg-icon-post-share-alt-dims {
	width: 16px;
	height: 15px;
}

.svg-icon-rocket-dims {
	width: 18px;
	height: 19px;
}

.svg-icon-services-brand-dims {
	width: 65px;
	height: 67px;
}

.svg-icon-services-design-dims {
	width: 82px;
	height: 76px;
}

.svg-icon-services-dev-dims {
	width: 62px;
	height: 87px;
}

.svg-icon-services-strategy-dims {
	width: 52px;
	height: 73px;
}

.svg-icon-soc-behance-dims {
	width: 36px;
	height: 36px;
}

.svg-icon-soc-dribbble-dims {
	width: 36px;
	height: 36px;
}

.svg-icon-soc-facebook-dims {
	width: 36px;
	height: 36px;
}

.svg-icon-soc-inst-dims {
	width: 36px;
	height: 36px;
}

.svg-icon-tag-dims {
	width: 18px;
	height: 19px;
}

.svg-logo-dims {
	width: 206px;
	height: 50px;
}

.svg-logo-alt-dims {
	width: 206px;
	height: 50px;
}

.svg-logo-symbol-dims {
	width: 586.3px;
	height: 647.63px;
}

.svg-modal-contact-dims {
	width: 351px;
	height: 353px;
}

.svg-play-feedback-dims {
	width: 121px;
	height: 121px;
}

