/**
 * Typography
 */


/**
 * Text Selection
 */


html,
body {
  font-family: $body-font;
  font-weight: 400;
}

html {
  font-size: $basic-font-size;

  width: 100%;
  overflow-x: hidden;
  max-width: 100vw;

  scroll-behavior: smooth;
}

body {
  color: $text-color;
  font-size: 14px;
  line-height: 1;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
  // text-rendering: optimizeSpeed;

  position: relative;

  width: 100%;
  max-width: 100vw;

  min-height: 100vh;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 800;
}

button::-moz-focus-inner {
  border: 0;
}

html,
button,
input,
select,
textarea {
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover {
    color: $blue;
    text-decoration: underline;
    outline: 0;
  }
}

em {
  font-style: normal;
}

input {
  &:focus {
    outline: none;
  }
}

strong {
  font-weight: 700;
}
