/**
 * Utility Classes
 */

.tablet {
  display: none;
}

.mobile {
  display: none;
}

.fixed {
  position: fixed !important;
  width: 100%;
}

.text-center {
  text-align: center;
}


.ptop-40 {
  padding-top: 40px;
}

.mtop-40 {
  margin-top: 40px;
}

/**
 * Headers
 */

.t2 {
  font-family: $font-greycliff;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1.5px;

  &-alert {
    color: #ea2e49;
  }

  &-alt {
    color: $white;
  }
}

.caps-heading {
  color: #ea2f49;
  font-family: $font-circular;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 0 0;
}

.hide {
  display: none !important;
}

.mt-30 {
  margin-top: 30px;
}
