/**
 * Variables
 */


/*
 * Fonts
 * ========================================================================== */

$font-circular: circular,
Arial,
Helvetica,
sans-serif;

$font-greycliff: greycliff,
Arial,
Helvetica,
sans-serif;

$font-family: $font-circular;


$font-family-text: $font-family;
$font-family-title: $font-greycliff;

$body-font: $font-family-text;
$header-font: $font-family-title;

$basic-font-size: 62.5%;

/*
 * Colors
 * ========================================================================== */

$black: #02256c;
$black-100: #121630;

$white: #fff;
$yellow: #ffec62;
$yellow-100: #fffada;

$blue: #2f71c7;

$red: #f3552f;

$light-blue: rgba(0, 32, 255, .1);
$light-yellow: #fffae4;

$gray: rgba(18, 22, 48, 0.5);
$silver: #757993;
$dark: #403b26;

$text-color: $black-100;
$text-header-color: #2b2f47;
$text-color-invert: $white;
$text-color-em-invert: $yellow;
$text-color-hover: $blue;

$bg-inverted: #03256c;
$bg-em: $light-yellow;
$bg-alt: $blue;


$bg-panel: rgba(0, 32, 255, 0.2);
$bg-panel-yellow: rgba(252, 207, 1, 0.5);

/*
 * Const
 * ========================================================================== */

$border-radius: 16px;
$border-radius-lg: 20px;


/**
 * Animation
 */

$btn-transition: all .150s ease;


/**
 * Responsive
 */
$tablet: 768px;
