<!-- Conversation -->
<section class="ccpt-conversation">
  <div class="leco-cp-container">

    <div class="ccpt-container">
      <h2 class="phase-title">
        Conversation
      </h2>
    </div>

    <div class="ccpt-container">

      <div class="ccpt-row">

        <div class="ccpt-col-4">
          <div class="module">

            <div class="ccpt-module-flex">
              <div class="ccpt-body">
                <h3 class="ccpt-module__title">
                  Instant Message
                </h3>

                <div class="ccpt-module__text">

                  <div class="ccpt-module-text-row">
                    <div class="ccpt-module-text-icon">
                      <img src="/wp-content/plugins/climbings-cp-tweaks/img/inst-msg.svg" alt="">
                    </div>
                    <div class="ccpt-module-text-body">
                      <p>Message on Personalized Channel on Microsoft Team</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ccpt-action">
                <a class="ccpt-btn" href="#">Join Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ccpt-col-4">
          <div class="module">
            <div class="ccpt-module-flex">
              <div class="ccpt-body">
                <h3 class="ccpt-module__title">
                  Schedule Direct Call
                </h3>
                <div class="ccpt-module__text">
                  <p>Schedule a Meeting which is convenient for you and we will get back to you</p>
                </div>
              </div>

              <div class="ccpt-action">
                <a class="ccpt-btn" href="#">Schedule Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ccpt-col-4">
          <div class="module">
            <h3 class="ccpt-module__title">
              Others
            </h3>

            <ul class="ccpt-module__list">
              <li class="ccpt-module__item">
                <a class="ccpt-module__link" href="mailto:team@climbings.com">
                  <span class="ccpt-module__icon">
                    <img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-envelope.svg" alt="">
                  </span>
                  <span>
                    team@climbings.com
                  </span>
                </a>
              </li>
              <li class="ccpt-module__item">
                <a class="ccpt-module__link" href="tel:+01232133434">
                  <span class="ccpt-module__icon">
                    <img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-phone.svg" alt="">
                  </span>
                  <span>
                  +01 232 133434
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>