<footer class="ccpt-footer">
  <div class="ccpt-container">
    <div class="ccpt-row">

      <div class="ccpt-col">
        <a class="ccpt-link-home" href="/">
          <img src="/wp-content/plugins/climbings-cp-tweaks/img/ccpt-logo.svg" alt="">
        </a>
      </div>

      <div class="ccpt-col">
        <div class="ccpt-social">
          <div class="ccpt-social__content">
            <p class="ccpt-social__title">Check out our creative channels</p>

            <ul class="ccpt-social__list">
              <li class="ccpt-social__item">
                <a class="ccpt-social__link" href="https://dribbble.com/climbings" target="_blank" rel="nofollow noopener noreferrer"><img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-dribbble.svg" alt=""></a>
              </li>
              <li class="ccpt-social__item">
                <a class="ccpt-social__link" href="https://www.behance.net/climbings" target="_blank" rel="nofollow noopener noreferrer"><img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-behance.svg" alt=""></a>
              </li>
              <li class="ccpt-social__item">
                <a class="ccpt-social__link" href="https://instagram.com/climbingsstudio" target="_blank" rel="nofollow noopener noreferrer"><img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-Instagram.svg" alt=""></a>
              </li>
              <!-- <li class="ccpt-social__item">
            <a class="ccpt-social__link" href="" target="_blank" rel="nofollow noopener noreferrer"><img src="/wp-content/plugins/climbings-cp-tweaks/img/icon-facebook.svg" alt=""></a>
          </li> -->
            </ul>

            <p class="ccpt-copy">© Climbings 2021</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>