/**
 * Override Styles for Portal Plugin
 * ==================================================
 */


/**
 * Fonts
 */
@font-face {
  font-family: 'greycliff';
  src: local("Greycliff CF Extra Bold"), local("GreycliffCF-ExtraBold"), url("../fonts/greycliff/subset-GreycliffCF-ExtraBold.woff2") format("woff2"), url("../fonts/greycliff/subset-GreycliffCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'greycliff';
  src: local("Greycliff CF Bold"), local("GreycliffCF-Bold"), url("../fonts/greycliff/subset-GreycliffCF-Bold.woff2") format("woff2"), url("../fonts/greycliff/subset-GreycliffCF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'circular';
  src: url("../fonts/circularstd/subset-CircularStd-Black.woff2") format("woff2"), url("../fonts/circularstd/subset-CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'circular';
  src: url("../fonts/circularstd/subset-CircularStd-Book.woff2") format("woff2"), url("../fonts/circularstd/subset-CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'circular';
  src: url("../fonts/circularstd/subset-CircularStd-Bold.woff2") format("woff2"), url("../fonts/circularstd/subset-CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/**
 * Grid
 */

.leco-cp-container {
  max-width: 940px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/**
 * Header
 */
.title-section {
  padding: 0;
  background: #fffad4;
}

.title-section .topbar {
  position: absolute;
  top: 36px;
  right: 0;
  width: 100%;
  margin: 0;
}

.title-section .topbar ul {
  justify-content: space-between;
  align-items: center;
}

.title-section .topbar ul li {
  display: none;
}

.title-section .topbar ul li:first-child {
  display: block;
  box-shadow: none;
}

.title-section .topbar ul li:first-child a {
  text-indent: -9999px;

  display: block;
  position: relative;
  width: 149px;
  height: 36px;

  background: url('../img/logo.svg') no-repeat;
}


.title-section .topbar ul li:last-child {
  display: block;
  position: relative;
  top: -10px;
}

.title-section .topbar ul li:last-child a {
  color: #03256c;
  font-size: 14px;
  line-height: 38px;

  display: inline-block;
  height: 38px;
  background-color: #fff;
  box-shadow: -4px 4px 0 0 rgba(56, 58, 69, .1), inset 0 -3px 0 0 rgba(56, 58, 69, .2);


  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

.title-section .title-content {
  padding: 170px 0 15px;
}

.project-logo.fixed-width {
  margin: 0;
}

.title-section h1 {
  color: #03256c;
  font-family: greycliff, Arial, Helvetica, sans-serif;
  font-size: 44px;
  font-weight: 800;
  letter-spacing: -1.65px;
  margin: 43px 0 0;
}

.title-section .leco-cp-container {
  position: relative;
}

/**
 * Subtitle
 */
.ccpt-subtitle {
  display: flex;
  justify-content: center;
  padding: 0 0 50px;
}

.ccpt-subtitle__content {
  color: #2b2f47;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.ccpt-arrow {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/**
 * Content
 */

.main-content {
  background: #fff;
}

.content-section {
  padding: 0;
}

.content-section p {
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2b2f47;
}

main>.content-section {
  color: #757993;
  background: #fffad4;
  padding-bottom: 160px;
}

main>.content-section a,
main>.content-section p {
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #757993;
}

main>.content-section h2 {
  color: #03256c;
  font-family: greycliff, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1.5px;
  text-align: left;
}

/**
 * Status
 */

.project-status .leco-cp-container {
  max-width: 980px !important;
}

.project-status {
  position: relative;
  margin-top: -120px;
}

.project-status .status {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 15px 20px;
}

/* Current */
.project-status .status.current {
  background: #ea2e49;
  border: 0;
}

.project-status .status.completion-date .label,
.project-status .status.next .label,
.project-status .status.current .label {
  color: #fff;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 10px;
  padding: 0;

  background: transparent;
}

.project-status .status.completion-date .value,
.project-status .status.next .value,
.project-status .status.current .value {
  color: #fff;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  margin-bottom: 0;
  margin-top: 3px;
  padding-top: 43px;
  background: url('../img/icon-status-3.svg') no-repeat top center;
}

/* Next */
.project-status .status.next {
  background: #2f72c7;
  border: 0;
}

/* Complete */
.project-status .status.completion-date {
  background: #ffec62;
  border: 0;
}

.project-status .status.completion-date .label,
.project-status .status.completion-date .value {
  color: #03256c;
}

.project-status .status.completion-date .label {
  text-align: center;
}

/* Status Icons */

.project-status .status.current .value {
  background-image: url('../img/icon-status-1.svg');
}

.project-status .status.next .value {
  background-image: url('../img/icon-status-2.svg');
}


/**
 * Phases
 */
.docsearch-wrapper {
  display: none;
}

.ccpt-link-home {
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
}

.main-content.phases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phase-title span {
  color: #2f72c7;
  font-family: greycliff, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -0.75px;
  text-transform: none;
  margin: 0;
}

.main-content.phases {
  padding: 0;
}

.main-content.phases .leco-cp-container {
  justify-content: flex-start;
  margin: 0;
}

.main-content.phases .phase-title {
  color: #03256c;
  font-family: greycliff, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1.5px;
  text-align: left;

  margin: 50px 0 30px 7px;
}

/* Primary Phase */
.ccpt-phase-primary {
  max-width: 1060px;
  width: 100%;
  padding: 0 50px 30px;
  margin: 50px 0 10px;

  border-radius: 8px;
  border: solid 1px rgba(47, 114, 199, 0.3);
  background-color: rgba(47, 114, 199, 0.07);
}

.ccpt-phase-primary .iconset .st0 {
  stroke: #ea2e49;
}


/**
 * Modules
 */
.module {
  padding: 30px;
}

.module span {
  color: #757993;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.module .title {
  color: #03256c;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/**
 * Icons
 */

.iconset {
  width: 60px;
}

.iconset .st0 {
  stroke: #2F72C7;
  stroke-width: 3px;
}

/**
 * Footer
 */
.ccpt-footer {
  display: flex;
  justify-content: center;
  padding: 100px 0 70px;
}

.ccpt-container {
  max-width: 970px;
  width: 100%;
}

.ccpt-footer .ccpt-container {
  border-top: 1px solid #dae7f5;
}

.ccpt-row {
  display: flex;
}

.ccpt-col {
  flex: 0 0 auto;
  width: 50%;
}

.ccpt-col-4 {
  flex: 0 0 auto;
  width: 33.3%;
  margin: 0 10px;
}

/**
 * Module
 */
.main-content.phases .module {
  background: #FFFFFF;
  border: 1px solid #EBEBEC !important;
  box-shadow: -4px 4px 0px rgba(56, 58, 69, 0.101961), inset 0px -4px 0px rgba(56, 58, 69, 0.2) !important;
  border-radius: 6px !important;
}

/* Checkmark */
.action.checkmark {
  background: url('../img/checkmark-active.svg') no-repeat;
  width: 30px;
  height: 30px;
}

.module.mark-as-complete .action.checkmark {
  background: url('../img/checkmark.svg') no-repeat;
}

.module.mark-as-complete .action.checkmark:hover {
  background: url('../img/checkmark-hover.svg') no-repeat;
}

.action .tooltip {
  right: calc(-50% - 3px);
}

.module.mark-as-complete .action .tooltip {
  right: calc(-50% - 26px);
}

/**
 * Conversation
 */

/**
 * Footer Social
 */

.ccpt-social {
  text-align: right;

  display: flex;
  justify-content: flex-end;
}

.ccpt-social__title {
  color: #2f72c7;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;

  position: relative;
  padding: 0 0 0 10px;
  margin: -10px 0 0;

  background: #fff;
}

.ccpt-social__list {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.ccpt-social__item {
  margin: 0 0 0 20px;
}

.ccpt-copy {
  color: #03256c;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.87;
}

/**
 * Conversation
 */
.ccpt-conversation {
  display: flex;
  justify-content: center;
}

.ccpt-btn {
  color: #ffffff;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  line-height: 44px;

  display: inline-block;
  height: 44px;
  padding: 0 30px;

  border-radius: 6px;
  -webkit-backdrop-filter: blur(27.2px);
  backdrop-filter: blur(27.2px);
  box-shadow: 0 8px 15px 0 rgba(47, 114, 199, 0.2);
  border: solid 1px rgba(3, 37, 108, 0.15);
  background-color: #2f72c7;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  opacity: 1;
  transition: all .3s;
}

.ccpt-btn:focus,
.ccpt-btn:hover {
  color: #fff;
  opacity: .8;
}

.ccpt-module-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ccpt-module__title {
  color: #000424;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;

  display: block;
  padding-bottom: 15px;
}

.ccpt-module__text p {
  color: #788191;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

.ccpt-module-text-row {
  display: flex;
}

.ccpt-module-text-icon {
  flex: 0 0 auto;
  width: 54px;
  margin: 0 16px 0 0;
}

.ccpt-module__item {
  text-align: left;
  margin-bottom: 5px;
}

.ccpt-module__link {
  color: #2f72c7;
  font-family: circular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align-last: left;
  text-decoration: none;
  border: 0;
  display: flex;
  align-items: center;
}

.ccpt-module__link:focus,
.ccpt-module__link:hover {
  color: #2f72c7;
  text-decoration: underline;
  border: 0;

}

.ccpt-module__icon {
  flex: 0 0 auto;
  width: 25px;
}

@media only screen and (max-width: 960px) {
  .title-section .title-content {
    padding-top: 100px;
  }

  .title-section {
    padding: 0 10px;
  }

  main>.content-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .project-status .status {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  .ccpt-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .project-status {
    margin-top: 30px;
  }

  .project-status .leco-cp-container {
    padding-bottom: 0;
  }

  main>.content-section h2 {
    line-height: 1;
  }

  .title-section .topbar {
    top: 20px;
  }
}