<!-- CTA -->
<section class="cta" id="sceneCTA">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="i-arrow-cta i-arrow-cta-rotate i-arrow-cta-blue"></i>

        <!-- Scene -->
        <div class="cta__scene">

          <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 800 800">
            <g id="_a0" opacity="0" transform="translate(439.9,101.7) translate(0,0) scale(.5,.5) translate(-26.2,-17.9)">
              <g transform="translate(0,0)">
                <path d="M51 6.1v2.8l-25.7 14.9c-0.5-0.6-1.3-1.2-2.2-1.8c-0.7-0.4-1.4-0.7-2.2-1l21.1-12.3h4.9v-2.8h.1l-0.1-0.1v-5.4l-12.3 1.2v4.3c-10.6 1.4-22.7 5.3-28.1 8.4c-1.8 1.1-3.2 2.3-4.3 3.5h-2.2v5.7c0 2.6 1.3 5.1 4 7.3c1.3 1.3 2.9 2.2 4.7 2.7h-0.1c8.8 3.5 20.8 3 28.5-1.5c6.6-3.8 15.3-13.6 15.3-20.3v-5.6h-1.4Z" fill="#21589e" />
                <path d="M47 .4c-11-2.1-32.8 4.1-40.5 8.5c-7.7 4.5-8.6 11.5-2.5 16.5l43-25" fill="#ccdcf1" />
                <path d="M47 .4c-11-2.1-30.5 6.1-38.2 10.6c-7.7 4.4-10.9 9.4-4.8 14.4l43-25" fill="#6897d6" />
                <path d="M51.6 3.1l-43 25c8.8 3.5 20.8 3 28.5-1.5c7.7-4.5 18.3-17.1 14.5-23.5" fill="#ccdcf1" />
                <path d="M48.6 6.1l-40 22c8.8 3.5 20.8 3 28.5-1.5c7.7-4.5 15.3-14.1 11.5-20.5Z" fill="#6897d6" />
              </g>
            </g>
            <g id="Sun" fill="#fccf01" fill-rule="evenodd" transform="translate(35.1,50.8) translate(0,0) translate(0,0)">
              <ellipse rx="126.5" ry="126.5" fill="#ffec61" transform="translate(66.1,50.4) translate(126.5,126.5)" />
              <ellipse rx="126.5" ry="126.5" fill="#ffec61" opacity=".2" transform="translate(40.8,25.1) scale(1.2,1.2) translate(126.5,126.5)" />
              <ellipse rx="126.5" ry="126.5" fill="#ffec61" opacity=".2" transform="translate(15.5,-0.2) scale(1.4,1.4) translate(126.5,126.5)" />
              <ellipse rx="126.5" ry="126.5" fill="#ffec61" opacity=".2" transform="translate(-9.8,-25.5) scale(1.6,1.6) translate(126.5,126.5)" />
              <ellipse rx="126.5" ry="126.5" fill="#ffec61" opacity=".2" transform="translate(-35.1,-50.8) scale(1.8,1.8) translate(126.5,126.5)" />
            </g>
            <g transform="translate(386.7,376) translate(-286.5,-299.6)">
              <g id="Tree" transform="translate(312.1,599.2) translate(-148.2,-306.4)">
                <g fill="#c7c692" fill-rule="evenodd" transform="translate(273.5,240.6) scale(-1,1)">
                  <path id="_a1" d="M-6.9-76.5l-31.4 14l180.2 52l55.6-23c0 0-204.4-43-204.4-43Z" fill="#c7c692" opacity="0" transform="translate(84.3,6.8) scale(-1,1) translate(22.3,69.5)" style="mix-blend-mode: multiply;" />
                </g>
                <g id="Left-Branch" fill="none" fill-rule="evenodd" transform="translate(175.7,133.1) scale(0,0) translate(0,-81.2)">
                  <path id="Fill-31" fill="#d9c850" d="M0 59.1l72.1-59.1l-63.8 75.9l-8.3-16.8" />
                  <path id="Fill-32" fill="#ffec61" d="M26.3 81.2l54.5-73.9l-8.7-7.3l-63.8 76l18 5.2" />
                </g>
                <g id="Main-branch" fill="none" fill-rule="evenodd" transform="translate(173.2,254.1) scale(0,0) translate(-31.1,-289.1)">
                  <path id="Fill-33" fill="#ffec61" d="M62.2 275.5l-17.4-275.5h-13.7v289.1l31.1-13.6" />
                  <path id="Fill-34" fill="#d9c850" d="M0 275.5l17.5-275.5h13.6v289.1l-31.1-13.6" />
                </g>
                <g id="Right-Branch" fill="none" fill-rule="evenodd" transform="translate(178,167.7) scale(0,0) translate(-73.3,-77.3)">
                  <path id="Fill-64" fill="#ffec61" d="M73.3 53l-64.6-53l63.8 75.9l.8-22.9" />
                  <path id="Fill-65" fill="#ffec61" d="M51.7 77.3l-51.7-70l8.7-7.3l63.8 76l-20.8 1.3" />
                </g>
                <g fill="none" fill-rule="evenodd" transform="translate(354,-197.2) scale(-1,1)">
                  <g id="Left-Tree" transform="translate(282.9,219) scale(0,0) translate(-75.4,-66.1)">
                    <path fill="#2f71c7" d="M0 63.5l48.8-63.5l-9.7 68.3l-39.1-4.8" />
                    <path fill="#6897d6" d="M48.8 0l79.1 14.6l-19 11.3l-60.1-25.9" />
                    <path fill="#ccdcf1" d="M108.9 25.9l-69.8 42.4l9.7-68.3l60.1 25.9" />
                    <path fill="#2f71c7" d="M127.9 14.6l23 64l-42-52.7l19-11.3" stroke="#6897d6" />
                    <path fill="#9ab8e4" d="M150.9 78.6l-111.8-10.3l69.8-42.4l42 52.7" />
                    <path fill="#2f71c7" d="M0 63.5l21 60.5l18.1-55.7l-39.1-4.8" stroke="#6897d6" stroke-width="2" />
                    <path fill="#9ab8e4" d="M21 124l89.6-31.3l-71.5-24.4l-18.1 55.7" />
                    <path fill="#2f71c7" d="M150.9 78.6l-40.6 53.7l.3-39.6l40.3-14.1" stroke="#6897d6" />
                    <path fill="#6897d6" d="M110.3 132.3l-27.9-16.1l28.2-23.5l-0.3 39.6" />
                    <path fill="#2f71c7" d="M82.4 116.2l-61.4 7.8l89.6-31.3l-28.2 23.5" stroke="#6897d6" stroke-width="2" />
                    <path fill="#2f71c7" d="M21 124l89.3 8.3l-27.9-16.1l-61.4 7.8" stroke="#6897d6" />
                    <path fill="#2f71c7" d="M150.9 78.6l-111.8-10.3l71.5 24.4l40.3-14.1" />
                  </g>
                  <g id="Mid-Tree" transform="translate(180.8,422.4) translate(0,0) scale(0,0) translate(-110.3,-197.2)">
                    <g transform="translate(2.4,0)">
                      <path fill="#ccdcf1" d="M47.8 0l-47.8 70.3l38.1-18.6l9.7-51.7" />
                      <path fill="#ccdcf1" d="M47.8 0l90.8 18.5l12.7 18.6l-103.5-37.1" />
                      <path fill="#9ab8e4" d="M151.3 37.1l-113.2 14.6l9.7-51.7l103.5 37.1" />
                      <path fill="#6897d6" d="M138.6 18.5l50.8 40.1l-38.1-21.5l-12.7-18.6" stroke="#6897d6" />
                      <path fill="#2f71c7" d="M189.4 58.6l-18.5 71.3l-19.6-92.8l38.1 21.5" stroke="#6897d6" />
                      <path fill="#6897d6" d="M170.9 129.9l-132.8-78.2l113.2-14.6l19.6 92.8" />
                      <path fill="#6897d6" d="M0 70.3l18.5 88.8l19.6-107.4l-38.1 18.6" />
                      <path fill="#2f71c7" d="M18.5 159.1l152.4-29.2l-132.8-78.2l-19.6 107.4" stroke="#6897d6" stroke-width="2" />
                      <path fill="#2f71c7" d="M130.8 164l-1.9 29.8l-110.4-34.7l112.3 4.9" stroke="#6897d6" />
                      <path fill="#2f71c7" d="M128.9 193.8l42-63.9l-40.1 34.1l-1.9 29.8" />
                    </g>
                    <path fill="#2f71c7" d="M9.9 105.9l-9.9 65.9l61.8 .2l-40.8-12.9l-11.1-53.2" />
                    <path fill="#6897d6" d="M0 171.8l50.3 25.4l11.5-25.2l-61.8-0.2" />
                    <path fill="#2f71c7" d="M50.3 197.2l43.7-15.1l-32.2-10.1l-11.5 25.2" />
                    <path fill="#2f71c7" d="M184.3 87.4l36.4 37.1l-47.4 5.4l11-42.5" stroke="#6897d6" />
                    <path fill="#6897d6" d="M220.7 124.5l-27.9 51.7l-19.5-46.3l47.4-5.4" />
                    <path fill="#2f71c7" d="M192.8 176.2l-46.5-5.1l27-41.2l19.5 46.3" stroke="#6897d6" />
                    <path fill="#6897d6" d="M173.3 129.9l-40 34.1l-112.3-4.9l152.3-29.2" />
                  </g>
                  <g id="Right-Tree" transform="translate(108.3,287.2) rotate(1) scale(0,0) translate(-76.3,-67.2)">
                    <path fill="#9ab8e4" d="M49 1.3l-33.3 14.4l25.7 24.5l7.6-38.9" />
                    <path fill="#ccdcf1" d="M49 1.3l62.1-1.3l-69.7 40.2l7.6-38.9" />
                    <path fill="#2f71c7" d="M111.1 0l41.5 58.4l-37.7 7.5l-3.8-65.9" />
                    <path fill="#9ab8e4" d="M114.9 65.9l-73.5-25.7l69.7-40.2l3.8 65.9" />
                    <path fill="#2f71c7" d="M15.7 15.7l-15.7 67.8l41.4-43.3l-25.7-24.5" stroke="#6897d6" />
                    <path fill="#6897d6" d="M0 83.5l114.9-17.6l-73.5-25.7l-41.4 43.3" />
                    <path fill="#2f71c7" d="M152.6 58.4l-31.4 67.8l-6.3-60.3l37.7-7.5" stroke="#6897d6" stroke-width="2" />
                    <path fill="#2f71c7" d="M56.5 134.4l-37-18.9l-19.5-32l56.5 50.9" stroke="#6897d6" />
                    <path fill="#6897d6" d="M121.2 126.2l-64.7 8.2l58.4-68.5l6.3 60.3" />
                    <path fill="#2f71c7" d="M0 83.5l56.5 50.9l58.4-68.5l-114.9 17.6" stroke="#6897d6" stroke-width="2" />
                  </g>
                </g>
              </g>
            </g>
          </svg>

        </div>

        <!-- CTA Header -->
        <header class="cta__header">
          <h2 class="title title-sm">Let's grow together</h2>
          <h3 class="subtitle">Our only metric of success is when we see you succeed. Get started now and let's grow together.</h3>
        </header>

        <!-- CTA Action -->
        <div class="cta__action">
          <a class="btn btn-primary btn-icon modal-link" data-target="contact-modal" href="mailto:team@climbings.com?subject=Drop%20us%20a%20line">
            <span class="btn__text">Drop us a line</span>
            <i class="i i-arrow-right"></i>
          </a>

          <a href="https://climbings.com/get-started/" class="btn btn-icon">
            <span class="btn__text">Start a Project</span>
            <i class="i i-arrow-right"></i>
          </a>
        </div>

        <!-- CTA Social Menu-->
        <div class="cta-social">

          <!-- Social Header -->
          <div class="cta-social__header">
            <h3 class="cta-social__title">Check out our creative channels</h3>
          </div>

          <!-- Social Menu -->
          <ul class="cta-social__menu">

            <!-- Item -->
            <li class="cta-social__item">
              <a href="https://dribbble.com/climbings" class="cta-social__link" target="_blank" title="Social Link" rel="nofollow noopener noreferrer">
                <svg width="35" height="35">
                  <use xlink:href="./images/sprite.svg#icon-soc-dribbble"></use>
                </svg>
              </a>
            </li>

            <!-- Item -->
            <li class="cta-social__item">
              <a href="https://www.behance.net/climbings" class="cta-social__link" target="_blank" title="Social Link" rel="nofollow noopener noreferrer">
                <svg width="35" height="35">
                  <use xlink:href="./images/sprite.svg#icon-soc-behance"></use>
                </svg>
              </a>
            </li>

            <!-- Item -->
            <li class="cta-social__item">
              <a href="http://instagram.com/climbingsstudio" class="cta-social__link" target="_blank" title="Social Link" rel="nofollow noopener noreferrer">
                <svg width="35" height="35">
                  <use xlink:href="./images/sprite.svg#icon-soc-inst"></use>
                </svg>
              </a>
            </li>

            <!-- Item -->
            <li class="cta-social__item">
              <a href="http://instagram.com/climbingsstudio" class="cta-social__link" target="_blank" title="Social Link" rel="nofollow noopener noreferrer">
                <svg width="35" height="35">
                  <use xlink:href="./images/sprite.svg#icon-soc-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div><!-- /.cta-social -->

      </div>
    </div>
  </div>
</section>
