<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Footer Logo -->
        <a href="./index.html" class="logo-footer" aria-label="Climbings. Index Page">
          <svg width="71" height="79">
            <use xlink:href="./images/sprite.svg#logo-symbol"></use>
          </svg>
        </a>

        <!-- Footer Copy -->
        <p class="copy">&copy; Climbings 2021</p>
      </div>
    </div>

  </div>
</footer>

<!-- Custom Scripts -->
<script src="./javascript/app.js"></script>

</body>

</html>
