<!-- Contact Modal-->
<div class="modal contact-modal" id="contact-modal" role="dialog" tabindex="-1">

  <!-- Contact Modal | Window-->
  <div class="modal-wnd">

    <!-- Contact Modal | Hide Button -->
    <a class="modal-hide" href="#" aria-label="Hide" data-target="contact-modal"><span aria-hidden="true">&times;</span></a>

    <!-- Modal Body -->
    <div class="modal-wnd__body">

      <!-- Column -->
      <div class="contact-modal-col">
        <!-- Modal Header -->
        <div class="modal__header">
          <h3 class="modal__title">Contact Us</h3>
          <div class="modal_dsc">
            <p>
              Our only metric of success is when we see you succeed. Get started now and let's grow together.
            </p>
          </div>

        </div><!-- /.modal__header -->
        <div class="contact-modal__img">
          <svg width="351" height="353">
            <use xlink:href="./images/sprite.svg#modal-contact"></use>
          </svg>
        </div>
      </div><!-- /.contact-modal-col -->

      <!-- Modal Form -->
      <div class="contact-modal-form">

        <div class="contact-modal-form__thanks">
          <h2>Thank you</h2>
          <p>Your message has been successfully sent!</p>
        </div>

        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <input name="name" id="name" type="text" class="contact-modal-form__input floating-input" placeholder=" " maxlength="200">
          <label class="contact-modal-form__label floating-label" for="name">Your Full Name</label>
        </div>

        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <input name="email" id="email" type="text" class="contact-modal-form__input floating-input" placeholder=" " inputmode="email" maxlength="200">
          <label class="contact-modal-form__label floating-label" for="email">Enter your Email</label>
        </div>


        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <input name="company" id="company" type="text" class="contact-modal-form__input floating-input" placeholder=" " maxlength="200">
          <label class="contact-modal-form__label floating-label" for="company">Company</label>
        </div>

        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <input name="tel" id="tel" type="text" class="contact-modal-form__input floating-input" placeholder=" " inputmode="tel" maxlength="200">
          <label class="contact-modal-form__label floating-label" for="tel">Your Phone Number</label>
        </div>

        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <textarea name="msg" id="msg" class="contact-modal-form__text floating-input" placeholder=" "></textarea>
          <label class="contact-modal-form__label floating-label" for="msg"> Write your message here…</label>
        </div>

        <!-- Modal Form Field -->
        <div class="contact-modal-form__field">
          <button type="submit" class="btn btn-icon">
            <span class="btn__text">Submit</span>
            <i class="i i-arrow-right"></i>
          </button>
        </div>

      </div><!-- /.contact-modal__form -->
    </div><!-- /.modal-wnd__body -->
  </div>
</div><!-- /#contact-modal.modal contact-modal -->
