<!-- Main Navigation -->
<nav class="nav nav-lg">
  <div class="col-logo">
    <!-- Logo -->
    <a class="logo" href="./index.html" title="Climbings. Index Page" accesskey="1">
      <svg width="149" height="36">
        <use xlink:href="./images/sprite.svg#logo-alt"></use>
      </svg>
    </a>
  </div>
  <div class="col-nav">

    <div class="search-field">
      <form action="/" method="GET">
        <img class="search-field__icon" src="./images/icon-search.svg" alt="Climbings | Icon - Search" width="23" height="21">
        <input class="form__input" type="text" placeholder="Search" id="q" name="q">
      </form>
    </div>

    <!-- Menu Button -->
    <a href="#" class="btn-nav" id="btnNav">
      <span class="btn-nav__label">Menu</span>

      <span class="hamburger hamburger-squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </span>
    </a>
  </div>
</nav>

<!-- Main Menu  -->
<div class="main-menu" id="mainMenu">

  <!-- Main Menu Row-->
  <div class="main-menu-row">

    <!-- Main Menu Aside -->
    <div class="main-menu-aside">
      <div class="main-menu-aside__content">

        <!-- Logo -->
        <a class="logo" href="./index.html" title="Climbings. Index Page" accesskey="1">
          <svg width="206" height="50">
            <use xlink:href="./images/sprite.svg#logo"></use>
          </svg>
        </a>

        <p class="main-menu-aside__text">
          <span>Are you ready</span>
          <span>to start a project?</span>
        </p>

        <p class="main-menu-aside__link">
          <a href="https://climbings.com/get-started/" class="btn btn-secondary btn-icon">
            <span class="btn__text">Send us details</span>
            <i class="i i-arrow-right"></i>
          </a>
        </p>

        <p class="main-menu-aside__em">
          - or -
        </p>

        <p class="main-menu-aside__text">
          Not sure about your project yet?
        </p>

        <p class="main-menu-aside__link">
          <a class="btn btn-primary btn-icon modal-link" data-target="contact-modal" href="mailto:team@climbings.com?subject=Drop%20us%20a%20line">
            <span class="btn__text">Message us</span>
            <i class="i i-arrow-right"></i>
          </a>
        </p>
      </div>
    </div>

    <!-- Main Menu Links -->
    <div class="main-menu-area">

      <!-- Main Menu List -->
      <ul class="main-menu__list">

        <!-- Item -->
        <li class="main-menu__item">
          <div class="main-menu__icon">
            <svg width="99" height="120">
              <use xlink:href="./images/sprite.svg#icon-menu-works"></use>
            </svg>
          </div>

          <a class="main-menu__link" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">Works</a>
          <div class="main-menu__text">
            <p>Explore our portfolio of 15 diverse projects, chosen to showcase the best of our abilities in delivering great results that help businesses grow.</p>
          </div>
          <a class="btn btn-icon" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">
            <span class="btn__text">Explore</span>
            <i class="i i-arrow-right"></i>
          </a>
        </li>

        <!-- Item -->
        <li class="main-menu__item">
          <div class="main-menu__icon">
            <svg width="76" height="105">
              <use xlink:href="./images/sprite.svg#icon-menu-process"></use>
            </svg>
          </div>

          <a class="main-menu__link" href="/#sectionProcess">Process</a>
          <div class="main-menu__text">
            <p>Learn more about our process which has proven to work in translating ideas, to real, functioning businesses.</p>
          </div>
          <a class="btn btn-icon" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">
            <span class="btn__text">Learn</span>
            <i class="i i-arrow-right"></i>
          </a>
        </li>

        <!-- Item -->
        <li class="main-menu__item">
          <div class="main-menu__icon">
            <svg width="112" height="129">
              <use xlink:href="./images/sprite.svg#icon-menu-services"></use>
            </svg>
          </div>

          <a class="main-menu__link" href="/#sectionServices">Services</a>
          <div class="main-menu__text">
            <p>Business Strategy, Design, and Development. A complete package of services to take your from A to Z when launching your online business.</p>
          </div>
          <a class="btn btn-icon" href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer">
            <span class="btn__text">See All</span>
            <i class="i i-arrow-right"></i>
          </a>
        </li>
      </ul><!-- /.main-menu__list -->

      <!-- More from Climbings -->
      <div class="main-menu__more">

        <h3 class="title">More from Climbings</h3>

        <!-- Main Menu List -->
        <ul class="main-menu__list">

          <!-- Item -->
          <li class="main-menu__item">

            <div class="main-menu__row">
              <div class="main-menu__col">
                <svg width="107" height="70">
                  <use xlink:href="./images/sprite.svg#icon-menu-article"></use>
                </svg>
              </div>

              <div class="main-menu__col">
                <a class="main-menu__link" href="/blog" rel="nofollow noopener noreferrer">Blog</a>

                <div class="main-menu__text">
                  <p>Explore our diverse work portfolio. We have picked 15 project to show you our abilities.</p>
                </div>

                <a class="btn btn-icon" href="/blog">
                  <span class="btn__text">Explore</span>
                  <i class="i i-arrow-right"></i>
                </a>
              </div>
            </div>
          </li>

          <!-- Item -->
          <li class="main-menu__item">
            <h3 class="main-menu__link main-menu__link-title">Social Media</h3>

            <div class="main-menu__social">

              <a href="https://www.behance.net/climbings" rel="nofollow noopener noreferrer" target="_blank">
                <svg width="70" height="70">
                  <use xlink:href="./images/sprite.svg#icon-menu-dribbble"></use>
                </svg>
              </a>

              <a href="https://dribbble.com/climbings" rel="nofollow noopener noreferrer">
                <svg width="70" height="70">
                  <use xlink:href="./images/sprite.svg#icon-menu-behance"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul><!-- /.main-menu__list -->

      </div><!-- /.main-menu__more -->


    </div><!-- /.main-menu-area -->


  </div>
</div>
