<div class="process-scene" id="sceneProcess">
  <div class="process-scene__img">

    <svg xmlns="http://www.w3.org/2000/svg" width="1440px" height="1020px" viewBox="0 0 1440 1020" style="background: rgba(255,255,255,0.00);">
      <rect width="122.3" height="149.6" fill="#03256c" transform="translate(734.4,680.5) translate(-61.1,-74.8)"/>
      <defs>
        <radialGradient id="Gradient-p0" cx=".5" cy=".5" r=".5" fx=".5" fy=".5">
          <stop offset="0" stop-color="#ea2f49"/>
          <stop offset="1" stop-color="#ea2f49" stop-opacity="0"/>
        </radialGradient>
        <linearGradient id="Gradient-pc1" x1=".6" y1="0" x2=".2" y2=".9">
          <stop offset="0" stop-color="#fff" stop-opacity="0"/>
          <stop offset="1" stop-color="#fff"/>
        </linearGradient>
        <mask id="Mask-1" fill="#fff">
          <path d="M21.4 .1c0 0 0 .1 0 .1c0 0 0 0 .1 0c0 0 0 0 0 0c0 .1 .1 .1 .2 .2c0 0 0 0 0 0c0 0 0 0 0 0c.5 .4 1.5 1.1 2.8 2.3c.4 .4 .7 .7 .9 .8c.1 .1 .2 .2 .3 .3c1.9 1.9 3.3 3.6 3.9 4.2v.1c.2 .2 .3 .4 .5 .6c.1 .2 .3 .4 .5 .6c.1 .2 .3 .4 .5 .6c0 .1 .1 .1 .1 .2c0 0 .1 .1 .1 .1c.1 .1 .1 .2 .2 .3c0 0 0 0 0 0c0 0 0 0 .1 .1c.1 .2 .3 .4 .4 .5c0 0 0 0 0 0c0 0 0 0 0 0c.2 .3 .3 .5 .5 .7c.1 .2 .2 .4 .4 .6c.1 .2 .4 .6 .9 1.4c.5 .8 1.1 1.7 1.5 2.5c.8 1.3 1.3 2.3 1.5 2.7c.1 .1 .2 .3 .2 .4l.3 .5c.1 .3 .3 .7 .5 1c.1 .4 .4 1 .4 1c.1 .3 .2 .5 .3 .8c.1 .1 .2 .3 .2 .4c.6 1.6 .6 1.6 .7 1.9c.8 2 3 8 3.2 16c.1 1.9 .1 9-1.4 17c-0.4 2-0.7 3.5-0.8 3.7c0 .2-0.1 .4-0.1 .6c-0.9 3.3-1.8 5.7-1.9 6.1c-1.5 4-3.2 7.4-5.3 10.2c0 0 0 0 0 0c0 0 0 0 0 0c-0.6 .8-1.5 1.6-2.6 2.3l-0.2 .1c-5 2.8-13 2.7-17.8-0.2c-1.1-0.7-2-1.5-2.5-2.3c0 .1 0 .1 .1 .2c-0.8-1-1.5-2.1-2.2-3.4c-1.2-2-2.2-4.3-3.2-6.8c-0.1-0.4-0.2-0.7-0.3-1c0 0 0 0 0 0c-0.1 0-0.1-0.1-0.1-0.1c-0.1-0.3-0.2-0.7-0.3-1.1c-0.1-0.1-0.2-0.3-0.2-0.5c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.4-0.2-0.7-0.3-1.1c-0.2-0.6-0.4-1.3-0.5-1.6c-0.5-1.9-0.7-3.3-0.8-3.8c-1.1-5.3-1.6-10.7-1.7-16.6c0-3.8 .5-6.7 .7-8c.1-0.6 .7-3.8 1.8-7.4c.5-1.3 .9-2.5 1.4-3.7c.1-0.3 .2-0.5 .4-0.8c.3-0.8 1.3-3 2.9-5.8c.8-1.5 1.4-2.5 2-3.3l.7-1c.3-0.5 .6-0.9 .6-0.9c0 0 0 0 0 0c.1-0.2 .3-0.4 .5-0.6c.1-0.2 .3-0.4 .4-0.6c.2-0.3 .3-0.5 .5-0.7c.2-0.2 .3-0.4 .5-0.6c.1-0.2 .3-0.4 .4-0.5c.1-0.1 .1-0.1 .1-0.1c.1-0.2 .4-0.5 .7-0.8c0 0 .1-0.1 .1-0.2c.1-0.1 .3-0.3 .4-0.4c.1-0.1 .2-0.3 .2-0.3l.1-0.1c.1-0.1 .2-0.2 .3-0.3c.2-0.3 .5-0.5 .7-0.7c.1-0.1 .1-0.2 .2-0.3c.2-0.2 .4-0.4 .6-0.6c0 0 .1-0.1 .1-0.1c.3-0.3 .5-0.5 .7-0.7c.1-0.1 .3-0.3 .5-0.4c0-0.1 .1-0.2 .2-0.2c.1-0.1 .1-0.2 .2-0.3c.7-0.5 1.2-1 1.7-1.4c0 0 0 0 0 0c.1-0.1 .3-0.3 .4-0.4c0 0 .1 0 .1-0.1c.1 0 .4-0.3 .7-0.5c0 0 .1 0 .1 0"/>
        </mask>
        <mask id="Mask-2" fill="#fff">
          <path d="M0 .4h2.3v16.5h-2.3Z"/>
        </mask>
        <mask id="Mask-3" fill="#fff">
          <path d="M21.4 .1c0 0 0 .1 0 .1c0 0 0 0 .1 0c0 0 0 0 0 0c0 .1 .1 .1 .2 .2c0 0 0 0 0 0c0 0 0 0 0 0c.5 .4 1.5 1.1 2.8 2.3c.4 .4 .7 .7 .9 .8c.1 .1 .2 .2 .3 .3c1.9 1.9 3.3 3.6 3.9 4.2v.1c.2 .2 .3 .4 .5 .6c.1 .2 .3 .4 .5 .6c.1 .2 .3 .4 .5 .6c0 .1 .1 .1 .1 .2c0 0 .1 .1 .1 .1c.1 .1 .1 .2 .2 .3c0 0 0 0 0 0c0 0 0 0 .1 .1c.1 .2 .3 .4 .4 .5c0 0 0 0 0 0c0 0 0 0 0 0c.2 .3 .3 .5 .5 .7c.1 .2 .2 .4 .4 .6c.1 .2 .4 .6 .9 1.4c.5 .8 1.1 1.7 1.5 2.5c.8 1.3 1.3 2.3 1.5 2.7c.1 .1 .2 .3 .2 .4l.3 .5c.1 .3 .3 .7 .5 1c.1 .4 .4 1 .4 1c.1 .3 .2 .5 .3 .8c.1 .1 .2 .3 .2 .4c.6 1.6 .6 1.6 .7 1.9c.8 2 3 8 3.2 16c.1 1.9 .1 9-1.4 17c-0.4 2-0.7 3.5-0.8 3.7c0 .2-0.1 .4-0.1 .6c-0.9 3.3-1.8 5.7-1.9 6.1c-1.5 4-3.2 7.4-5.3 10.2c0 0 0 0 0 0c0 0 0 0 0 0c-0.6 .8-1.5 1.6-2.6 2.3l-0.2 .1c-5 2.8-13 2.7-17.8-0.2c-1.1-0.7-2-1.5-2.5-2.3c0 .1 0 .1 .1 .2c-0.8-1-1.5-2.1-2.2-3.4c-1.2-2-2.2-4.3-3.2-6.8c-0.1-0.4-0.2-0.7-0.3-1c0 0 0 0 0 0c-0.1 0-0.1-0.1-0.1-0.1c-0.1-0.3-0.2-0.7-0.3-1.1c-0.1-0.1-0.2-0.3-0.2-0.5c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.4-0.2-0.7-0.3-1.1c-0.2-0.6-0.4-1.3-0.5-1.6c-0.5-1.9-0.7-3.3-0.8-3.8c-1.1-5.3-1.6-10.7-1.7-16.6c0-3.8 .5-6.7 .7-8c.1-0.6 .7-3.8 1.8-7.4c.5-1.3 .9-2.5 1.4-3.7c.1-0.3 .2-0.5 .4-0.8c.3-0.8 1.3-3 2.9-5.8c.8-1.5 1.4-2.5 2-3.3l.7-1c.3-0.5 .6-0.9 .6-0.9c0 0 0 0 0 0c.1-0.2 .3-0.4 .5-0.6c.1-0.2 .3-0.4 .4-0.6c.2-0.3 .3-0.5 .5-0.7c.2-0.2 .3-0.4 .5-0.6c.1-0.2 .3-0.4 .4-0.5c.1-0.1 .1-0.1 .1-0.1c.1-0.2 .4-0.5 .7-0.8c0 0 .1-0.1 .1-0.2c.1-0.1 .3-0.3 .4-0.4c.1-0.1 .2-0.3 .2-0.3l.1-0.1c.1-0.1 .2-0.2 .3-0.3c.2-0.3 .5-0.5 .7-0.7c.1-0.1 .1-0.2 .2-0.3c.2-0.2 .4-0.4 .6-0.6c0 0 .1-0.1 .1-0.1c.3-0.3 .5-0.5 .7-0.7c.1-0.1 .3-0.3 .5-0.4c0-0.1 .1-0.2 .2-0.2c.1-0.1 .1-0.2 .2-0.3c.7-0.5 1.2-1 1.7-1.4c0 0 0 0 0 0c.1-0.1 .3-0.3 .4-0.4c0 0 .1 0 .1-0.1c.1 0 .4-0.3 .7-0.5c0 0 .1 0 .1 0"/>
        </mask>
        <mask id="Mask-4" fill="#fff">
          <path d="M0 .4h2.3v16.5h-2.3Z"/>
        </mask>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(563,60)">
          <ellipse fill="url(#Gradient-p0)" rx="309.5" ry="309.5" fill-opacity=".3" transform="translate(0,0) translate(309.5,310)"/>
          <ellipse id="Sun-1" fill-opacity=".1" fill="#ea2e49" rx="150" ry="150" transform="translate(0,0) translate(321,310)"/>
          <ellipse id="Sun-2" fill-opacity=".1" fill="#ea2e49" rx="180" ry="180" transform="translate(0,0) translate(321,310)"/>
          <ellipse id="Sun-3" fill-opacity=".1" fill="#ea2e49" rx="210" ry="210" transform="translate(0,0) translate(321,310)"/>
          <ellipse id="Sun-4" fill-opacity=".1" fill="#ea2e49" rx="240" ry="240" transform="translate(0,0) translate(321,310)"/>
          <ellipse fill="#ffec61" rx="120" ry="120" transform="translate(0,0) translate(321,310)"/>
        </g>
        <g transform="translate(296,386)">
          <g transform="translate(78,0)">
            <g fill="#02256c">
              <path d="M603 206.9l50 188.8v-131.5l50.8-29.9l-82.1-52.9Z"/>
            </g>
            <g fill-opacity=".7" fill="#2f71c7">
              <path d="M603 206.9l50 188.8v-131.5l50.8-29.9l-82.1-52.9Z"/>
            </g>
            <g fill="#02256c">
              <path d="M151.9 284.4l-38.9-33.4l120.2-132.6v47.3Z"/>
            </g>
            <g fill-opacity=".1" fill="#2f71c7">
              <path d="M151.9 284.4l-38.9-33.4l120.2-132.6v47.3Z"/>
            </g>
            <g fill="#02256c">
              <path d="M30.9 267.4l-30.9 60.7l102.3 64.4v-74.3l-54.2-67.2Z"/>
            </g>
            <g fill-opacity="0" fill="#2f71c7">
              <path d="M30.9 267.4l-30.9 60.7l102.3 64.4v-74.3l-54.2-67.2Z"/>
            </g>
            <g fill="#02256c">
              <path d="M317.1 172.1l-44.6 133.6l-6.1-4.9l-31.7-7.1l-31.3 11l-18.3 63.2h-8.8v-78.9l-24.4-4.6l81.3-118.7Z"/>
            </g>
            <g fill-opacity=".2" fill="#2f71c7">
              <path d="M317.1 172.1l-44.6 133.6l-6.1-4.9l-31.7-7.1l-31.3 11l-18.3 63.2h-8.8v-78.9l-24.4-4.6l81.3-118.7Z"/>
            </g>
            <g fill="#02256c">
              <path d="M621.7 181.4l82.1 52.9l-101.6-107.3Z"/>
            </g>
            <g fill-opacity=".8" fill="#2f71c7">
              <path d="M621.7 181.4l82.1 52.9l-101.6-107.3Z"/>
            </g>
            <g fill="#02256c">
              <path d="M301.5 353l-52.3 96h50l25.8-33.6l29.9-38.9v-32.4Z"/>
            </g>
            <g fill-opacity="0" fill="#2f71c7">
              <path d="M301.5 353l-52.3 96h50l25.8-33.6l29.9-38.9v-32.4Z"/>
            </g>
            <g fill="#02256c">
              <path d="M102.3 318.2l-54.2-67.2h64.9l38.9 33.4l24.4 4.6Z"/>
            </g>
            <g fill="#4281d1">
              <path d="M102.3 318.2l-54.2-67.2h64.9l38.9 33.4l24.4 4.6Z"/>
            </g>
            <g fill="#02256c">
              <path d="M192.7 80.8l98.1-17.8l-18.3 17.8l-18.7 40.5l35.5 28.8l30.1 10.6l-2.3 11.4l-83.9-6.4v-47.2Z"/>
            </g>
            <g fill="#4281d1">
              <path d="M192.7 80.8l98.1-17.8l-18.3 17.8l-18.7 40.5l35.5 28.8l30.1 10.6l-2.3 11.4l-83.9-6.4v-47.2Z"/>
            </g>
            <g fill="#02256c">
              <path d="M354.9 344.1l-53.4 8.9l-98.1-48.3l31.3-11l31.7 7.1l6.1 4.9l48.8 15.3Z"/>
            </g>
            <g fill="#4281d1">
              <path d="M354.9 344.1l-53.4 8.9l-98.1-48.3l31.3-11l31.7 7.1l6.1 4.9l48.8 15.3Z"/>
            </g>
            <g fill="#02256c">
              <path d="M514.1 127h88.1l19.5 54.4l-18.7 25.5l-210.7 67.6l-25.9-26l109.5-28.8l69.1-69.3Z"/>
            </g>
            <g fill="#4281d1">
              <path d="M514.1 127h88.1l19.5 54.4l-18.7 25.5l-210.7 67.6l-25.9-26l109.5-28.8l69.1-69.3Z"/>
            </g>
            <g fill="#02256c">
              <path d="M102.3 392.5v-74.3l74-29.2v78.9Z"/>
            </g>
            <g fill-opacity="0" fill="#2f71c7">
              <path d="M102.3 392.5v-74.3l74-29.2v78.9Z"/>
            </g>
            <g fill="#02256c">
              <path d="M48.1 251l-17.2 16.4l-13.3-32.8l175.1-153.8l40.5 37.7l-120.2 132.5Z"/>
            </g>
            <g fill-opacity="0" fill="#2f71c7">
              <path d="M48.1 251l-17.2 16.4l-13.3-32.8l175.1-153.8l40.5 37.7l-120.2 132.5Z"/>
            </g>
            <g fill="#02256c">
              <path d="M185.1 367.9l-1.1 5l65.2 76.1l52.3-96l-98.1-48.3Z"/>
            </g>
            <g fill-opacity="0" fill="#2f71c7">
              <path d="M185.1 367.9l-1.1 5l65.2 76.1l52.3-96l-98.1-48.3Z"/>
            </g>
            <g fill="#02256c">
              <path d="M392.3 274.5l-37.4 69.6v32.4l-54.4 70.8l153-11l111.2 12.7l88.3-53.3l-50-188.7Z"/>
            </g>
            <g fill-opacity=".2" fill="#2f71c7">
              <path d="M392.3 274.5l-37.4 69.6v32.4l-54.4 70.8l153-11l111.2 12.7l88.3-53.3l-50-188.7Z"/>
            </g>
            <g transform="translate(253.6,.4)">
              <g fill="#02256c">
                <path d="M260.5 126.6l-58-59.3l-52.7-54l-9.1 14.5l25.1 58.7c-3.5 1.6-5.4 2.4-5.7 2.4c-3.5 0-7.1-1.5-10.7-4.6c4.6 4.8 9.1 7.1 13.4 7.1c.2 0 1.7-0.5 4.2-1.7l55.3 129.7l69.1-69.3l-30.9-23.5Z"/>
              </g>
              <g fill-opacity=".8" fill="#2f71c7">
                <path d="M260.5 126.6l-58-59.3l-52.7-54l-9.1 14.5l25.1 58.7c-3.5 1.6-5.4 2.4-5.7 2.4c-3.5 0-7.1-1.5-10.7-4.6c4.6 4.8 9.1 7.1 13.4 7.1c.2 0 1.7-0.5 4.2-1.7l55.3 129.7l69.1-69.3l-30.9-23.5Z"/>
              </g>
              <g fill="#02256c">
                <path d="M46.4 54.5l-9.2 8.2l-18.3 17.7l-18.7 40.5l43.9-48.3l.4-0.7l47.3-52.6l1.2-7.1Z"/>
              </g>
              <g fill-opacity=".2" fill="#2f71c7">
                <path d="M46.4 54.5l-9.2 8.2l-18.3 17.7l-18.7 40.5l43.9-48.3l.4-0.7l47.3-52.6l1.2-7.1Z"/>
              </g>
              <g fill="#02256c">
                <path d="M311.1 448.6l-25.5-220.9l63.8-21.1l50 188.7Z"/>
              </g>
              <g fill-opacity=".5" fill="#2f71c7">
                <path d="M311.1 448.6l-25.5-220.9l63.8-21.1l50 188.7Z"/>
              </g>
              <g fill="#02256c">
                <path d="M184.2 129.9l-18.5-43.4c.1 0 .1 0 .1 0l-11.5-26.9l-13.6-31.8l9.1-14.5l-28.2-12.8l-28.6 11.7l-1.2 7.1l-47.3 52.6l-0.4 .7l-43.9 48.3l35.5 28.8l30.2 10.7l-2.3 11.4l-44.7 133.6l48.9 15.3l45-72.5l109.5-28.8l-38.1-89.5Z"/>
              </g>
              <g fill-opacity=".5" fill="#2f71c7">
                <path d="M184.2 129.9l-18.5-43.4c.1 0 .1 0 .1 0l-11.5-26.9l-13.6-31.8l9.1-14.5l-28.2-12.8l-28.6 11.7l-1.2 7.1l-47.3 52.6l-0.4 .7l-43.9 48.3l35.5 28.8l30.2 10.7l-2.3 11.4l-44.7 133.6l48.9 15.3l45-72.5l109.5-28.8l-38.1-89.5Z"/>
              </g>
              <g fill="#02256c">
                <path d="M.2 120.9l35.5 28.8l30.2 10.7l39.3-132.6l-13.4-8.5Z"/>
              </g>
              <g fill-opacity="0" fill="#2f71c7">
                <path d="M.2 120.9l35.5 28.8l30.2 10.7l39.3-132.6l-13.4-8.5Z"/>
              </g>
            </g>
            <path fill="#4c7cc7" d="M375.2 .8l-28.5 11.7l-1.3 7.5l13.1 8.7h35.6l8.7-15Z"/>
          </g>
          <g transform="translate(444.2,28.2)">
            <g fill="#02256c">
              <path d="M87.5 408l16-187.5l69.5-20.5l25.5 221Z"/>
            </g>
            <g fill-opacity=".4" fill="#2f71c7">
              <path d="M87.5 408l16-187.5l69.5-20.5l25.5 221Z"/>
            </g>
            <g fill="#02256c">
              <path d="M0 220.5l8-220l20-0.5l82.5 191.5Z"/>
            </g>
            <g fill-opacity=".7" fill="#2f71c7">
              <path d="M0 220.5l8-220l20-0.5l82.5 191.5Z"/>
            </g>
            <g fill="#02256c">
              <path d="M286.5 238.5l-31-85.5l82 53Z"/>
            </g>
            <g fill-opacity=".2" fill="#2f71c7">
              <path d="M286.5 238.5l-31-85.5l82 53Z"/>
            </g>
          </g>
          <path fill-opacity=".1" fill="#02256c" d="M97 233.5l-97 105l164 99l92.5-25.5l56.5 87.5l220.5-28l111.5 40l139-99.5l-26-127.5l26.5-52.5Z"/>
        </g>
        <g stroke="url(#Gradient-pc1)" stroke-linecap="square" stroke-width="5.7" transform="translate(503.2,400.6)">
          <path d="M0 434.8l88.2-48.8l36.5-72.6h79.6l43.9-66l127.6-37.4l27-32.4l-27-11.1l-108.3-161.6l-23.4-4.9"/>
        </g>
        <g id="Rocket" transform="translate(747,328.6) translate(0,0) translate(-22,-48.9)">
          <path d="M43 41.2c-0.2-7.9-2.4-14-3.1-16c-0.1-0.2-0.1-0.2-0.8-1.8c0-0.2-0.1-0.3-0.1-0.4c-0.2-0.3-0.3-0.6-0.4-0.8c0 0-0.3-0.6-0.4-1c-0.3-0.5-0.5-1-0.8-1.5c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.4-0.7-1.4-1.4-2.7c-0.5-0.8-1.1-1.7-1.6-2.5c-0.5-0.8-0.8-1.3-0.9-1.4c-0.1-0.2-0.3-0.4-0.4-0.6c-0.2-0.2-0.3-0.5-0.5-0.7c-0.5-0.7-1.3-1.4-2.3-2c-4.4-2.6-11.7-2.7-16.2-0.2c-1.2 .7-2.1 1.5-2.7 2.3c0 0-0.3 .3-0.6 .9l-0.7 .9c-0.5 .9-1.2 1.9-2 3.3c-1.6 2.8-2.6 5.1-2.9 5.9c-0.1 .2-0.3 .5-0.4 .8c-0.5 1.2-0.9 2.3-1.4 3.7c-1.1 3.5-1.7 6.8-1.8 7.4c-0.2 1.2-0.7 4.2-0.7 8c.1 5.8 .6 11.3 1.7 16.6c.1 .5 .4 1.9 .8 3.8c.1 .2 .3 1 .5 1.6c.1 .4 .2 .7 .3 1.1c.1 .2 .1 .4 .2 .6c.1 .1 .1 .3 .2 .5c.1 .4 .2 .7 .3 1.1c0 0 .1 .1 .1 .1c0 0 0 0 0 0c.1 .3 .2 .6 .3 .9c1 2.6 2 4.9 3.2 6.9c.7 1.3 1.4 2.4 2.2 3.4c-0.1-0.1-0.1-0.2-0.1-0.2c.6 .8 1.4 1.6 2.5 2.3c4.8 2.9 12.8 2.9 17.8 .2c1.2-0.7 2.2-1.5 2.8-2.4c0 0 0 0 0 0c0 0 0 0 0 0c0 0 0 0 0 0c2.1-2.8 3.9-6.3 5.3-10.3c.1-0.3 1-2.8 1.9-6.1c0-0.2 .1-0.4 .1-0.6c.1-0.1 .4-1.6 .8-3.6c1.5-8 1.5-15.1 1.4-17.1" fill="#fdb813"/>
          <g transform="translate(.4,.3)">
            <path d="M42.6 41c-0.2-8-2.4-14-3.2-16c-0.1-0.3-0.1-0.3-0.7-1.9c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.3-0.2-0.5-0.3-0.8c0 0-0.3-0.6-0.4-1c-0.3-0.5-0.5-1-0.8-1.5c0-0.1-0.1-0.3-0.2-0.4c-0.2-0.4-0.7-1.4-1.5-2.7c-0.4-0.8-1-1.7-1.5-2.5c-0.5-0.8-0.8-1.2-0.9-1.4c-0.2-0.2-0.3-0.4-0.4-0.6c-0.2-0.2-0.3-0.4-0.5-0.7c0 0 0 0 0 0c0 0 0 0 0 0c-0.1-0.1-0.3-0.3-0.4-0.5c-0.1-0.1-0.1-0.1-0.1-0.1c0 0 0 0 0 0c-0.1-0.1-0.1-0.2-0.2-0.3c0 0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c-0.2-0.2-0.4-0.4-0.5-0.6c-0.2-0.2-0.4-0.4-0.5-0.6c-0.2-0.2-0.3-0.4-0.5-0.6c0 0 0 0 0-0.1c-0.6-0.6-2-2.3-3.9-4.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.1-0.5-0.4-0.9-0.8c-1.3-1.2-2.3-1.9-2.8-2.3c0 0 0 0 0 0c0 0 0 0 0 0c-0.1-0.1-0.2-0.1-0.2-0.2c0 0 0 0 0 0c-0.1 0-0.1 0-0.1 0c0 0 0-0.1 0-0.1c0 0-0.1 .1-0.2 .2c0 0-0.1 0-0.1 0c-0.3 .2-0.6 .5-0.7 .5c0 .1-0.1 .1-0.1 .1c-0.1 .1-0.3 .3-0.4 .4c0 0 0 0 0 0c-0.5 .4-1 .9-1.7 1.4c-0.1 .1-0.1 .2-0.2 .3c-0.1 0-0.2 .1-0.2 .2c-0.2 .1-0.4 .3-0.5 .4c0 0 0 0 0 0c-0.2 .2-0.4 .4-0.7 .7c0 0-0.1 .1-0.1 .1c-0.2 .2-0.4 .4-0.6 .6c-0.1 .1-0.1 .2-0.2 .3c-0.2 .2-0.5 .4-0.7 .7c-0.1 .1-0.2 .2-0.3 .3c0 .1-0.1 .1-0.1 .1c0 0-0.1 .2-0.2 .3c-0.1 .1-0.3 .3-0.4 .4c0 .1-0.1 .2-0.1 .2c0 0 0 0 0 0c-0.3 .3-0.6 .6-0.7 .8c0 0 0 0-0.1 .1c-0.1 .1-0.3 .3-0.4 .5c-0.2 .2-0.3 .4-0.5 .6c-0.2 .2-0.3 .4-0.5 .7c-0.1 .2-0.3 .4-0.4 .6c-0.2 .2-0.4 .4-0.5 .6c0 0 0 0 0 0c0 0-0.3 .4-0.6 .9l-0.7 1c-0.6 .8-1.2 1.8-2 3.3c-1.6 2.8-2.6 5-2.9 5.8c-0.2 .3-0.3 .5-0.4 .8c-0.5 1.2-0.9 2.4-1.4 3.7c-1.1 3.6-1.7 6.8-1.8 7.4c-0.2 1.3-0.7 4.2-0.7 8c.1 5.9 .6 11.3 1.7 16.6c.1 .5 .3 1.9 .8 3.8c.1 .3 .3 1 .5 1.6c.1 .4 .2 .7 .3 1.1c.1 .2 .1 .4 .2 .6c0 .2 .1 .4 .2 .5c.1 .4 .2 .8 .3 1.1c0 0 0 .1 .1 .1c0 0 0 0 0 0c.1 .3 .2 .6 .3 1c1 2.5 2 4.8 3.2 6.8c.7 1.3 1.4 2.4 2.2 3.4c-0.1-0.1-0.1-0.1-0.1-0.2c.5 .8 1.4 1.6 2.5 2.3c4.8 2.9 12.8 3 17.8 .2c1.2-0.7 2.2-1.5 2.8-2.4c0 0 0 0 0 0c0 0 0 0 0 0c0 0 0 0 0 0c2.1-2.8 3.8-6.2 5.3-10.2c.1-0.4 1-2.8 1.9-6.1c0-0.2 .1-0.4 .1-0.6c.1-0.2 .4-1.7 .8-3.7c1.5-8 1.5-15.1 1.4-17" fill="#ffec62" mask="url(#Mask-1)"/>
          </g>
          <path d="M21.9 76h-10.5c2.2 12.3 10.5 21.5 10.5 21.5c0 0 8.3-9.2 10.5-21.5h-10.5Z" fill="#fd6513"/>
          <path d="M21.9 76h-9.1c3 8.2 9.1 14.1 9.1 14.1c0 0 6.1-5.9 9.1-14.1h-9.1Z" fill="#fd9c13"/>
          <path d="M10.5 79c-2.1-2.9-3.6-6-4.5-8.1c-0.5-1-0.8-1.9-0.9-2.2c.6 1.8 2.1 3.5 4.4 4.9c6.6 3.9 17.5 4 24.4 .2c2.6-1.4 4.2-3.3 4.9-5.2c-0.6 1.7-1.2 3.2-1.2 3.2c-0.1 .2-0.2 .4-0.3 .6c-0.1 .2-0.2 .4-0.3 .7c-0.3 .6-0.6 1.2-1 1.8c-0.5 1-1.4 2.5-2.5 4c-0.6 .9-1.6 1.7-2.8 2.4c-5 2.7-13 2.7-17.8-0.2c-1-0.7-1.8-1.4-2.4-2.1" fill="#fff"/>
          <path d="M32.3 16.7c.1-0.1 .1-0.1 .1-0.2c.1-0.1 .2-0.2 .3-0.4c0 0 .1-0.1 .1-0.2c.1-0.1 .1-0.2 .2-0.4c0 0 0-0.1 .1-0.1c0-0.2 .1-0.4 .1-0.6c0 0 0-0.1 0-0.1c.1-0.2 .1-0.3 .1-0.5c0 0 0-0.1 0-0.2c0-0.1 0-0.2 0-0.4c0 0 0-0.1 0-0.2c-0.1-0.1-0.1-0.3-0.1-0.5c-0.1 0-0.1 0-0.1 0c0-0.2-0.1-0.4-0.2-0.6c0-0.1 0-0.1-0.1-0.2c0-0.1-0.1-0.2-0.2-0.4c0 0-0.1-0.1-0.1-0.2c0 0-0.1 0-0.1-0.1c-0.1-0.1-0.3-0.3-0.4-0.6c0 0-0.1 0-0.1 0c0 0 0 0 0 0c0-0.1-0.1-0.2-0.2-0.3c0-0.1 0-0.1-0.1-0.1c0-0.1-0.1-0.2-0.1-0.2c-0.2-0.2-0.4-0.5-0.5-0.7c-0.2-0.2-0.3-0.4-0.5-0.6c-0.2-0.2-0.3-0.3-0.5-0.5c0 0 0-0.1 0-0.1c-0.6-0.7-2-2.4-3.9-4.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.1-0.5-0.4-0.9-0.8c-1.3-1.2-2.2-2-2.7-2.3c-0.1 0-0.1 0-0.1-0.1c0 0 0 0 0 0c-0.1 0-0.1-0.1-0.2-0.1c0 0 0 0 0 0c0 0-0.1 0-0.1-0.1c0 0 0 0 0 0c0 0-0.1 .1-0.2 .1c0 0-0.1 .1-0.1 .1c-0.3 .2-0.6 .4-0.7 .5c0 .1-0.1 .1-0.1 .1c-0.1 .1-0.3 .2-0.4 .3c0 .1 0 .1 0 .1c-0.5 .3-1 .8-1.7 1.4c-0.1 .1-0.1 .2-0.2 .2c-0.1 .1-0.1 .2-0.2 .2c-0.2 .2-0.4 .3-0.4 .4c0 0-0.1 0-0.1 0c-0.2 .3-0.4 .5-0.7 .8c0 0-0.1 .1-0.1 .1c-0.2 .2-0.4 .4-0.5 .6c-0.1 .1-0.2 .2-0.3 .3c-0.2 .2-0.4 .4-0.7 .6c-0.1 .2-0.2 .3-0.3 .4c0 0-0.1 .1-0.1 .1c0 0-0.1 .1-0.2 .2c-0.1 .2-0.3 .4-0.4 .5c0 0-0.1 .1-0.1 .1c0 0 0 .1 0 .1c-0.3 .3-0.5 .6-0.7 .8c0 0 0 0-0.1 0c-0.1 .2-0.3 .4-0.4 .6c-0.2 .2-0.3 .4-0.5 .6c-0.1 .2-0.3 .4-0.5 .6c-0.1 .2-0.3 .4-0.4 .6c-0.2 .3-0.3 .5-0.5 .7c-0.1 .1-0.2 .3-0.3 .5c0 0-0.1 .1-0.1 .1c-0.1 .2-0.1 .3-0.2 .5c0 0 0 .1-0.1 .1c0 .2-0.1 .3-0.1 .5c0 0 0 .1 0 .1c0 .2-0.1 .4-0.1 .6c0 0 0 .1 0 .1c0 .2 0 .3 0 .5c0 0 .1 .1 .1 .1c0 .2 0 .4 .1 .5c0 .1 0 .1 0 .1c0 .2 .1 .4 .2 .6c0 0 .1 .1 .1 .1c0 .2 .1 .3 .2 .4c0 .1 .1 .1 .1 .2c.1 .2 .3 .3 .4 .5c0 0 0 0 0 0c.2 .2 .3 .4 .5 .5c.1 .1 .1 .1 .2 .2c.1 .1 .3 .2 .4 .4c.1 0 .2 0 .2 .1c.2 .2 .5 .3 .7 .5c4.4 2.6 11.7 2.7 16.3 .1c.2-0.1 .5-0.3 .7-0.4c.1-0.1 .1-0.1 .2-0.2c.2-0.1 .3-0.2 .5-0.3c0-0.1 .1-0.1 .2-0.2c.1-0.1 .3-0.3 .4-0.4c0 0 .1-0.1 .1-0.1c.2-0.2 .3-0.3 .4-0.5" fill="#f3552f"/>
          <g transform="translate(10.3,.3)">
            <g fill="#ea2f49">
              <path d="M11.5 .1c0 0 0 .1 .1 .1c0 0 0 0 0 0c0 0 0 0 .1 0c0 .1 .1 .1 .1 .2c0 0 0 0 0 0c.1 0 .1 0 .1 0c.5 .4 1.5 1.1 2.8 2.3c.4 .4 .7 .7 .9 .8c0 .1 .1 .2 .2 .3c1.9 1.9 3.4 3.6 3.9 4.2l.1 .1c.1 .2 .3 .4 .4 .6c.2 .2 .4 .4 .5 .6c.2 .2 .4 .4 .5 .6c.1 .1 .1 .1 .2 .2c0 0 0 .1 .1 .1c0 .1 .1 .2 .2 .3c0 0 0 0 0 0c0 0 0 0 0 .1c.2 .2 .4 .4 .4 .5c.1 .1 .1 .1 .1 .2c.1 0 .1 .1 .2 .2c0 .1 .1 .2 .2 .4c0 0 0 .1 .1 .1c0 .2 .1 .4 .2 .6c0 0 0 0 0 .1c0 .1 .1 .3 .1 .5c0 0 0 .1 0 .2c0 .1 0 .2 0 .4c0 0 0 .1 0 .1c0 .2 0 .4 0 .5c0 .1 0 .1 0 .1c-0.1 .2-0.1 .4-0.2 .6c0 .1 0 .1-0.1 .2c0 .1-0.1 .2-0.1 .4c-0.1 0-0.1 .1-0.1 .2c-0.1 .1-0.2 .2-0.3 .4c0 0-0.1 .1-0.1 .1c-0.1 .2-0.3 .4-0.5 .5c0 .1 0 .1-0.1 .1c-0.1 .2-0.2 .3-0.4 .4c-0.1 .1-0.1 .2-0.2 .2c-0.1 .1-0.3 .2-0.4 .4c-0.1 0-0.2 .1-0.3 .1c-0.2 .2-0.4 .3-0.7 .5c-4.6 2.5-11.8 2.4-16.2-0.2c-0.3-0.2-0.5-0.3-0.7-0.5c-0.1 0-0.2-0.1-0.2-0.1c-0.2-0.1-0.3-0.3-0.5-0.4c0 0-0.1-0.1-0.1-0.1c-0.2-0.2-0.4-0.4-0.5-0.5c0-0.1 0-0.1-0.1-0.1c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1 0-0.1-0.1-0.1-0.1c-0.1-0.2-0.2-0.3-0.3-0.5c0 0 0-0.1-0.1-0.1c0-0.2-0.1-0.4-0.2-0.6c0 0 0 0 0 0c0-0.2-0.1-0.4-0.1-0.5c0-0.1 0-0.2 0-0.2c0-0.2 0-0.3 0-0.5c0 0 0-0.1 0-0.1c0-0.2 0-0.4 0-0.6c0 0 .1 0 .1-0.1c0-0.1 0-0.3 .1-0.4c0-0.1 0-0.2 .1-0.2c0-0.2 .1-0.3 .2-0.4c0-0.1 0-0.1 0-0.2c.1-0.2 .2-0.3 .4-0.5c.1-0.2 .3-0.4 .4-0.6c.2-0.2 .3-0.4 .5-0.6c.1-0.3 .3-0.5 .5-0.7c.1-0.2 .3-0.4 .4-0.6c.2-0.2 .3-0.4 .5-0.5c0-0.1 0-0.1 0-0.1c.2-0.2 .4-0.5 .7-0.8c0 0 .1-0.1 .1-0.2c.2-0.1 .3-0.3 .5-0.4c0-0.1 .1-0.3 .1-0.3l.1-0.1c.2-0.1 .3-0.2 .4-0.3c.2-0.3 .4-0.5 .6-0.7c.1-0.1 .2-0.2 .3-0.3c.2-0.2 .4-0.4 .5-0.6c.1 0 .1-0.1 .2-0.1c.2-0.3 .5-0.5 .7-0.7c.1-0.1 .2-0.3 .4-0.4c.1-0.1 .2-0.2 .2-0.2c.1-0.1 .2-0.2 .3-0.3c.6-0.5 1.2-1 1.6-1.4c0 0 0 0 0 0c.2-0.1 .3-0.3 .4-0.4c.1 0 .1 0 .2-0.1c.1 0 .4-0.3 .7-0.5c0 0 0 0 .1 0"/>
            </g>
          </g>
          <path fill="#c82334" d="M34.4 67.3l2.2-1.3l7.4 10.9l-2.2 1.3Z"/>
          <path fill="#9b1b28" d="M41.8 78.2l2.2-1.3v15.3l-2.2 1.3Z"/>
          <path fill="#6c131c" d="M34.4 67.3l7.4 10.9v15.3l-2.5-5.2l-5-10.2Z"/>
          <path fill="#c82334" d="M9.7 67.3l-2.2-1.3l-7.5 10.9l2.2 1.3Z"/>
          <g transform="translate(0,76.6)">
            <path fill="#9b1b28" d="M2.2 1.7l-2.2-1.3v15.2l2.3 1.3Z" mask="url(#Mask-2)"/>
          </g>
          <path fill="#6c131c" d="M9.7 67.3l-7.5 10.9l.1 15.3l2.4-5.2l5-10.2Z"/>
          <path d="M34.5 47.3c0-7-5.6-12.6-12.6-12.6c-7 0-12.6 5.6-12.6 12.6c0 6.9 5.6 12.6 12.6 12.6c7 0 12.6-5.7 12.6-12.6" fill="#fff"/>
          <path d="M31.6 47.3c0-5.4-4.3-9.7-9.7-9.7c-5.4 0-9.7 4.3-9.7 9.7c0 5.4 4.3 9.7 9.7 9.7c5.4 0 9.7-4.3 9.7-9.7" fill="#2f71c7"/>
        </g>
        <g id="Rocket-2" transform="translate(747,328.6) translate(-22,-48.9)">
          <path d="M43 41.2c-0.2-7.9-2.4-14-3.1-16c-0.1-0.2-0.1-0.2-0.8-1.8c0-0.2-0.1-0.3-0.1-0.4c-0.2-0.3-0.3-0.6-0.4-0.8c0 0-0.3-0.6-0.4-1c-0.3-0.5-0.5-1-0.8-1.5c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.4-0.7-1.4-1.4-2.7c-0.5-0.8-1.1-1.7-1.6-2.5c-0.5-0.8-0.8-1.3-0.9-1.4c-0.1-0.2-0.3-0.4-0.4-0.6c-0.2-0.2-0.3-0.5-0.5-0.7c-0.5-0.7-1.3-1.4-2.3-2c-4.4-2.6-11.7-2.7-16.2-0.2c-1.2 .7-2.1 1.5-2.7 2.3c0 0-0.3 .3-0.6 .9l-0.7 .9c-0.5 .9-1.2 1.9-2 3.3c-1.6 2.8-2.6 5.1-2.9 5.9c-0.1 .2-0.3 .5-0.4 .8c-0.5 1.2-0.9 2.3-1.4 3.7c-1.1 3.5-1.7 6.8-1.8 7.4c-0.2 1.2-0.7 4.2-0.7 8c.1 5.8 .6 11.3 1.7 16.6c.1 .5 .4 1.9 .8 3.8c.1 .2 .3 1 .5 1.6c.1 .4 .2 .7 .3 1.1c.1 .2 .1 .4 .2 .6c.1 .1 .1 .3 .2 .5c.1 .4 .2 .7 .3 1.1c0 0 .1 .1 .1 .1c0 0 0 0 0 0c.1 .3 .2 .6 .3 .9c1 2.6 2 4.9 3.2 6.9c.7 1.3 1.4 2.4 2.2 3.4c-0.1-0.1-0.1-0.2-0.1-0.2c.6 .8 1.4 1.6 2.5 2.3c4.8 2.9 12.8 2.9 17.8 .2c1.2-0.7 2.2-1.5 2.8-2.4c0 0 0 0 0 0c0 0 0 0 0 0c0 0 0 0 0 0c2.1-2.8 3.9-6.3 5.3-10.3c.1-0.3 1-2.8 1.9-6.1c0-0.2 .1-0.4 .1-0.6c.1-0.1 .4-1.6 .8-3.6c1.5-8 1.5-15.1 1.4-17.1" fill="#fdb813"/>
          <g transform="translate(.4,.3)">
            <path d="M42.6 41c-0.2-8-2.4-14-3.2-16c-0.1-0.3-0.1-0.3-0.7-1.9c0-0.1-0.1-0.3-0.2-0.4c-0.1-0.3-0.2-0.5-0.3-0.8c0 0-0.3-0.6-0.4-1c-0.3-0.5-0.5-1-0.8-1.5c0-0.1-0.1-0.3-0.2-0.4c-0.2-0.4-0.7-1.4-1.5-2.7c-0.4-0.8-1-1.7-1.5-2.5c-0.5-0.8-0.8-1.2-0.9-1.4c-0.2-0.2-0.3-0.4-0.4-0.6c-0.2-0.2-0.3-0.4-0.5-0.7c0 0 0 0 0 0c0 0 0 0 0 0c-0.1-0.1-0.3-0.3-0.4-0.5c-0.1-0.1-0.1-0.1-0.1-0.1c0 0 0 0 0 0c-0.1-0.1-0.1-0.2-0.2-0.3c0 0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c-0.2-0.2-0.4-0.4-0.5-0.6c-0.2-0.2-0.4-0.4-0.5-0.6c-0.2-0.2-0.3-0.4-0.5-0.6c0 0 0 0 0-0.1c-0.6-0.6-2-2.3-3.9-4.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.1-0.5-0.4-0.9-0.8c-1.3-1.2-2.3-1.9-2.8-2.3c0 0 0 0 0 0c0 0 0 0 0 0c-0.1-0.1-0.2-0.1-0.2-0.2c0 0 0 0 0 0c-0.1 0-0.1 0-0.1 0c0 0 0-0.1 0-0.1c0 0-0.1 .1-0.2 .2c0 0-0.1 0-0.1 0c-0.3 .2-0.6 .5-0.7 .5c0 .1-0.1 .1-0.1 .1c-0.1 .1-0.3 .3-0.4 .4c0 0 0 0 0 0c-0.5 .4-1 .9-1.7 1.4c-0.1 .1-0.1 .2-0.2 .3c-0.1 0-0.2 .1-0.2 .2c-0.2 .1-0.4 .3-0.5 .4c0 0 0 0 0 0c-0.2 .2-0.4 .4-0.7 .7c0 0-0.1 .1-0.1 .1c-0.2 .2-0.4 .4-0.6 .6c-0.1 .1-0.1 .2-0.2 .3c-0.2 .2-0.5 .4-0.7 .7c-0.1 .1-0.2 .2-0.3 .3c0 .1-0.1 .1-0.1 .1c0 0-0.1 .2-0.2 .3c-0.1 .1-0.3 .3-0.4 .4c0 .1-0.1 .2-0.1 .2c0 0 0 0 0 0c-0.3 .3-0.6 .6-0.7 .8c0 0 0 0-0.1 .1c-0.1 .1-0.3 .3-0.4 .5c-0.2 .2-0.3 .4-0.5 .6c-0.2 .2-0.3 .4-0.5 .7c-0.1 .2-0.3 .4-0.4 .6c-0.2 .2-0.4 .4-0.5 .6c0 0 0 0 0 0c0 0-0.3 .4-0.6 .9l-0.7 1c-0.6 .8-1.2 1.8-2 3.3c-1.6 2.8-2.6 5-2.9 5.8c-0.2 .3-0.3 .5-0.4 .8c-0.5 1.2-0.9 2.4-1.4 3.7c-1.1 3.6-1.7 6.8-1.8 7.4c-0.2 1.3-0.7 4.2-0.7 8c.1 5.9 .6 11.3 1.7 16.6c.1 .5 .3 1.9 .8 3.8c.1 .3 .3 1 .5 1.6c.1 .4 .2 .7 .3 1.1c.1 .2 .1 .4 .2 .6c0 .2 .1 .4 .2 .5c.1 .4 .2 .8 .3 1.1c0 0 0 .1 .1 .1c0 0 0 0 0 0c.1 .3 .2 .6 .3 1c1 2.5 2 4.8 3.2 6.8c.7 1.3 1.4 2.4 2.2 3.4c-0.1-0.1-0.1-0.1-0.1-0.2c.5 .8 1.4 1.6 2.5 2.3c4.8 2.9 12.8 3 17.8 .2c1.2-0.7 2.2-1.5 2.8-2.4c0 0 0 0 0 0c0 0 0 0 0 0c0 0 0 0 0 0c2.1-2.8 3.8-6.2 5.3-10.2c.1-0.4 1-2.8 1.9-6.1c0-0.2 .1-0.4 .1-0.6c.1-0.2 .4-1.7 .8-3.7c1.5-8 1.5-15.1 1.4-17" fill="#ffec62" mask="url(#Mask-3)"/>
          </g>
          <path d="M21.9 76h-10.5c2.2 12.3 10.5 21.5 10.5 21.5c0 0 8.3-9.2 10.5-21.5h-10.5Z" fill="#fd6513"/>
          <path d="M21.9 76h-9.1c3 8.2 9.1 14.1 9.1 14.1c0 0 6.1-5.9 9.1-14.1h-9.1Z" fill="#fd9c13"/>
          <path d="M10.5 79c-2.1-2.9-3.6-6-4.5-8.1c-0.5-1-0.8-1.9-0.9-2.2c.6 1.8 2.1 3.5 4.4 4.9c6.6 3.9 17.5 4 24.4 .2c2.6-1.4 4.2-3.3 4.9-5.2c-0.6 1.7-1.2 3.2-1.2 3.2c-0.1 .2-0.2 .4-0.3 .6c-0.1 .2-0.2 .4-0.3 .7c-0.3 .6-0.6 1.2-1 1.8c-0.5 1-1.4 2.5-2.5 4c-0.6 .9-1.6 1.7-2.8 2.4c-5 2.7-13 2.7-17.8-0.2c-1-0.7-1.8-1.4-2.4-2.1" fill="#fff"/>
          <path d="M32.3 16.7c.1-0.1 .1-0.1 .1-0.2c.1-0.1 .2-0.2 .3-0.4c0 0 .1-0.1 .1-0.2c.1-0.1 .1-0.2 .2-0.4c0 0 0-0.1 .1-0.1c0-0.2 .1-0.4 .1-0.6c0 0 0-0.1 0-0.1c.1-0.2 .1-0.3 .1-0.5c0 0 0-0.1 0-0.2c0-0.1 0-0.2 0-0.4c0 0 0-0.1 0-0.2c-0.1-0.1-0.1-0.3-0.1-0.5c-0.1 0-0.1 0-0.1 0c0-0.2-0.1-0.4-0.2-0.6c0-0.1 0-0.1-0.1-0.2c0-0.1-0.1-0.2-0.2-0.4c0 0-0.1-0.1-0.1-0.2c0 0-0.1 0-0.1-0.1c-0.1-0.1-0.3-0.3-0.4-0.6c0 0-0.1 0-0.1 0c0 0 0 0 0 0c0-0.1-0.1-0.2-0.2-0.3c0-0.1 0-0.1-0.1-0.1c0-0.1-0.1-0.2-0.1-0.2c-0.2-0.2-0.4-0.5-0.5-0.7c-0.2-0.2-0.3-0.4-0.5-0.6c-0.2-0.2-0.3-0.3-0.5-0.5c0 0 0-0.1 0-0.1c-0.6-0.7-2-2.4-3.9-4.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.1-0.5-0.4-0.9-0.8c-1.3-1.2-2.2-2-2.7-2.3c-0.1 0-0.1 0-0.1-0.1c0 0 0 0 0 0c-0.1 0-0.1-0.1-0.2-0.1c0 0 0 0 0 0c0 0-0.1 0-0.1-0.1c0 0 0 0 0 0c0 0-0.1 .1-0.2 .1c0 0-0.1 .1-0.1 .1c-0.3 .2-0.6 .4-0.7 .5c0 .1-0.1 .1-0.1 .1c-0.1 .1-0.3 .2-0.4 .3c0 .1 0 .1 0 .1c-0.5 .3-1 .8-1.7 1.4c-0.1 .1-0.1 .2-0.2 .2c-0.1 .1-0.1 .2-0.2 .2c-0.2 .2-0.4 .3-0.4 .4c0 0-0.1 0-0.1 0c-0.2 .3-0.4 .5-0.7 .8c0 0-0.1 .1-0.1 .1c-0.2 .2-0.4 .4-0.5 .6c-0.1 .1-0.2 .2-0.3 .3c-0.2 .2-0.4 .4-0.7 .6c-0.1 .2-0.2 .3-0.3 .4c0 0-0.1 .1-0.1 .1c0 0-0.1 .1-0.2 .2c-0.1 .2-0.3 .4-0.4 .5c0 0-0.1 .1-0.1 .1c0 0 0 .1 0 .1c-0.3 .3-0.5 .6-0.7 .8c0 0 0 0-0.1 0c-0.1 .2-0.3 .4-0.4 .6c-0.2 .2-0.3 .4-0.5 .6c-0.1 .2-0.3 .4-0.5 .6c-0.1 .2-0.3 .4-0.4 .6c-0.2 .3-0.3 .5-0.5 .7c-0.1 .1-0.2 .3-0.3 .5c0 0-0.1 .1-0.1 .1c-0.1 .2-0.1 .3-0.2 .5c0 0 0 .1-0.1 .1c0 .2-0.1 .3-0.1 .5c0 0 0 .1 0 .1c0 .2-0.1 .4-0.1 .6c0 0 0 .1 0 .1c0 .2 0 .3 0 .5c0 0 .1 .1 .1 .1c0 .2 0 .4 .1 .5c0 .1 0 .1 0 .1c0 .2 .1 .4 .2 .6c0 0 .1 .1 .1 .1c0 .2 .1 .3 .2 .4c0 .1 .1 .1 .1 .2c.1 .2 .3 .3 .4 .5c0 0 0 0 0 0c.2 .2 .3 .4 .5 .5c.1 .1 .1 .1 .2 .2c.1 .1 .3 .2 .4 .4c.1 0 .2 0 .2 .1c.2 .2 .5 .3 .7 .5c4.4 2.6 11.7 2.7 16.3 .1c.2-0.1 .5-0.3 .7-0.4c.1-0.1 .1-0.1 .2-0.2c.2-0.1 .3-0.2 .5-0.3c0-0.1 .1-0.1 .2-0.2c.1-0.1 .3-0.3 .4-0.4c0 0 .1-0.1 .1-0.1c.2-0.2 .3-0.3 .4-0.5" fill="#f3552f"/>
          <g transform="translate(10.3,.3)">
            <g fill="#ea2f49">
              <path d="M11.5 .1c0 0 0 .1 .1 .1c0 0 0 0 0 0c0 0 0 0 .1 0c0 .1 .1 .1 .1 .2c0 0 0 0 0 0c.1 0 .1 0 .1 0c.5 .4 1.5 1.1 2.8 2.3c.4 .4 .7 .7 .9 .8c0 .1 .1 .2 .2 .3c1.9 1.9 3.4 3.6 3.9 4.2l.1 .1c.1 .2 .3 .4 .4 .6c.2 .2 .4 .4 .5 .6c.2 .2 .4 .4 .5 .6c.1 .1 .1 .1 .2 .2c0 0 0 .1 .1 .1c0 .1 .1 .2 .2 .3c0 0 0 0 0 0c0 0 0 0 0 .1c.2 .2 .4 .4 .4 .5c.1 .1 .1 .1 .1 .2c.1 0 .1 .1 .2 .2c0 .1 .1 .2 .2 .4c0 0 0 .1 .1 .1c0 .2 .1 .4 .2 .6c0 0 0 0 0 .1c0 .1 .1 .3 .1 .5c0 0 0 .1 0 .2c0 .1 0 .2 0 .4c0 0 0 .1 0 .1c0 .2 0 .4 0 .5c0 .1 0 .1 0 .1c-0.1 .2-0.1 .4-0.2 .6c0 .1 0 .1-0.1 .2c0 .1-0.1 .2-0.1 .4c-0.1 0-0.1 .1-0.1 .2c-0.1 .1-0.2 .2-0.3 .4c0 0-0.1 .1-0.1 .1c-0.1 .2-0.3 .4-0.5 .5c0 .1 0 .1-0.1 .1c-0.1 .2-0.2 .3-0.4 .4c-0.1 .1-0.1 .2-0.2 .2c-0.1 .1-0.3 .2-0.4 .4c-0.1 0-0.2 .1-0.3 .1c-0.2 .2-0.4 .3-0.7 .5c-4.6 2.5-11.8 2.4-16.2-0.2c-0.3-0.2-0.5-0.3-0.7-0.5c-0.1 0-0.2-0.1-0.2-0.1c-0.2-0.1-0.3-0.3-0.5-0.4c0 0-0.1-0.1-0.1-0.1c-0.2-0.2-0.4-0.4-0.5-0.5c0-0.1 0-0.1-0.1-0.1c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1 0-0.1-0.1-0.1-0.1c-0.1-0.2-0.2-0.3-0.3-0.5c0 0 0-0.1-0.1-0.1c0-0.2-0.1-0.4-0.2-0.6c0 0 0 0 0 0c0-0.2-0.1-0.4-0.1-0.5c0-0.1 0-0.2 0-0.2c0-0.2 0-0.3 0-0.5c0 0 0-0.1 0-0.1c0-0.2 0-0.4 0-0.6c0 0 .1 0 .1-0.1c0-0.1 0-0.3 .1-0.4c0-0.1 0-0.2 .1-0.2c0-0.2 .1-0.3 .2-0.4c0-0.1 0-0.1 0-0.2c.1-0.2 .2-0.3 .4-0.5c.1-0.2 .3-0.4 .4-0.6c.2-0.2 .3-0.4 .5-0.6c.1-0.3 .3-0.5 .5-0.7c.1-0.2 .3-0.4 .4-0.6c.2-0.2 .3-0.4 .5-0.5c0-0.1 0-0.1 0-0.1c.2-0.2 .4-0.5 .7-0.8c0 0 .1-0.1 .1-0.2c.2-0.1 .3-0.3 .5-0.4c0-0.1 .1-0.3 .1-0.3l.1-0.1c.2-0.1 .3-0.2 .4-0.3c.2-0.3 .4-0.5 .6-0.7c.1-0.1 .2-0.2 .3-0.3c.2-0.2 .4-0.4 .5-0.6c.1 0 .1-0.1 .2-0.1c.2-0.3 .5-0.5 .7-0.7c.1-0.1 .2-0.3 .4-0.4c.1-0.1 .2-0.2 .2-0.2c.1-0.1 .2-0.2 .3-0.3c.6-0.5 1.2-1 1.6-1.4c0 0 0 0 0 0c.2-0.1 .3-0.3 .4-0.4c.1 0 .1 0 .2-0.1c.1 0 .4-0.3 .7-0.5c0 0 0 0 .1 0"/>
            </g>
          </g>
          <path fill="#c82334" d="M34.4 67.3l2.2-1.3l7.4 10.9l-2.2 1.3Z"/>
          <path fill="#9b1b28" d="M41.8 78.2l2.2-1.3v15.3l-2.2 1.3Z"/>
          <path fill="#6c131c" d="M34.4 67.3l7.4 10.9v15.3l-2.5-5.2l-5-10.2Z"/>
          <path fill="#c82334" d="M9.7 67.3l-2.2-1.3l-7.5 10.9l2.2 1.3Z"/>
          <g transform="translate(0,76.6)">
            <path fill="#9b1b28" d="M2.2 1.7l-2.2-1.3v15.2l2.3 1.3Z" mask="url(#Mask-4)"/>
          </g>
          <path fill="#6c131c" d="M9.7 67.3l-7.5 10.9l.1 15.3l2.4-5.2l5-10.2Z"/>
          <path d="M34.5 47.3c0-7-5.6-12.6-12.6-12.6c-7 0-12.6 5.6-12.6 12.6c0 6.9 5.6 12.6 12.6 12.6c7 0 12.6-5.7 12.6-12.6" fill="#fff"/>
          <path d="M31.6 47.3c0-5.4-4.3-9.7-9.7-9.7c-5.4 0-9.7 4.3-9.7 9.7c0 5.4 4.3 9.7 9.7 9.7c5.4 0 9.7-4.3 9.7-9.7" fill="#2f71c7"/>
        </g>
        <g transform="translate(518,376)">
          <g id="Text-Launch" opacity="0" transform="translate(132,0)">
            <rect fill="#ffec62" width="100" height="28" rx="14"/>
            <path fill="#121630" d="M35.7 18v-1.8h-3.7v-6.7h-1.8v8.5Zm.9-1.6c0 .9 .7 1.8 2 1.8c.8 0 1.4-0.4 1.7-0.9c0 .4 .1 .7 .1 .7h1.6c0-0.1 0-0.5 0-0.9v-2.9c0-1.3-0.8-2.3-2.7-2.3c-1.7 0-2.5 1.1-2.6 1.9l1.6 .4c0-0.5 .4-0.9 1-0.9c.6 0 .9 .3 .9 .6c0 .2-0.1 .4-0.5 .4l-1.4 .3c-0.9 .1-1.7 .7-1.7 1.8Zm2.5 .4c-0.5 0-0.7-0.3-0.7-0.6c0-0.4 .3-0.6 .7-0.6l1.1-0.2v.3c0 .9-0.6 1.1-1.1 1.1Zm8.2 1.2h1.7c0-0.1 0-0.5 0-1.1v-4.9h-1.9v3.4c0 .6-0.4 1.1-1 1.1c-0.6 0-0.9-0.5-0.9-1.1v-3.4h-1.9v3.8c0 1.3 .9 2.3 2.3 2.3c.6 0 1.3-0.2 1.6-0.7c0 .2 0 .5 .1 .6Zm5.1-3.4c0-0.6 .4-1.1 1-1.1c.6 0 .9 .5 .9 1.1v3.4h1.9v-3.7c0-1.4-0.7-2.4-2.2-2.4c-0.6 0-1.3 .3-1.7 .8v-0.7h-1.7v6h1.8Zm8.1-1.1c.7 0 1 .5 1.2 .9l1.6-0.5c-0.3-1-1.2-2-2.9-2c-1.7 0-3.1 1.3-3.1 3.1c0 1.9 1.4 3.2 3.2 3.2c1.6 0 2.6-1.1 2.8-2.1l-1.6-0.5c-0.1 .5-0.5 .9-1.2 .9c-0.8 0-1.4-0.5-1.4-1.5c0-0.9 .6-1.5 1.4-1.5Zm5.8 1c0-0.6 .4-1 .9-1c.7 0 1 .5 1 1.1v3.4h1.8v-3.7c0-1.4-0.7-2.4-2.2-2.4c-0.5 0-1.2 .1-1.5 .5v-3.1h-1.9v8.7h1.9Z"/>
          </g>
          <g id="Text-Test" opacity="0" transform="translate(384.8,94.7)">
            <rect fill="#ffec62" width="100" height="28" rx="14"/>
            <path fill="#121630" d="M45.7 11.3v-1.8h-7.1v1.8h2.6v6.7h1.9v-6.7Zm1.3 3c0-0.4 .4-1 1.2-1c.8 0 1.1 .5 1.2 1Zm2.5 1.6c-0.2 .4-0.6 .7-1.2 .7c-0.7 0-1.3-0.4-1.4-1.1h4.2c0-0.1 0-0.3 0-0.6c0-1.9-1.1-3-3-3c-1.5 0-2.9 1.2-2.9 3.1c0 2 1.4 3.2 3.1 3.2c1.5 0 2.4-0.9 2.7-1.9Zm2.3 .4c0 .7 .6 1.9 2.5 1.9c1.6 0 2.4-1 2.4-2c0-0.9-0.6-1.7-1.8-1.9l-0.8-0.2c-0.3 0-0.5-0.2-0.5-0.4c0-0.3 .3-0.5 .6-0.5c.6 0 .9 .3 .9 .7l1.5-0.3c0-0.7-0.6-1.7-2.4-1.7c-1.3 0-2.3 .8-2.3 1.9c0 .9 .5 1.6 1.8 1.9l.7 .1c.4 .1 .6 .3 .6 .5c0 .3-0.2 .5-0.7 .5c-0.6 0-0.9-0.4-1-0.8Zm8.3-6h-1.7v.8c0 .5-0.3 .9-0.9 .9h-0.3v1.6h1.1v2.6c0 1.2 .7 1.9 2 1.9c.5 0 .8-0.1 .9-0.2v-1.5c-0.1 .1-0.3 .1-0.5 .1c-0.4 0-0.6-0.1-0.6-0.6v-2.3h1.1v-1.6h-1.1Z"/>
          </g>
          <g id="Text-Develop" opacity="0" transform="translate(240.5,163.4)">
            <rect fill="#ffec62" width="100" height="28" rx="14"/>
            <path fill="#121630" d="M29.5 16.2v-4.9h1.1c1.3 0 2.4 .7 2.4 2.5c0 1.7-1.1 2.4-2.4 2.4Zm1.2 1.8c2.5 0 4.3-1.6 4.3-4.2c0-2.7-1.8-4.3-4.3-4.3h-3.1v8.5Zm6.9-3.7c.1-0.4 .5-1 1.2-1c.9 0 1.2 .5 1.2 1Zm2.6 1.6c-0.2 .4-0.6 .7-1.2 .7c-0.8 0-1.4-0.4-1.4-1.1h4.2c0-0.1 0-0.3 0-0.6c0-1.9-1.2-3-3-3c-1.5 0-3 1.2-3 3.1c0 2 1.5 3.2 3.1 3.2c1.5 0 2.5-0.9 2.8-1.9Zm8.5-3.9h-1.9l-1.3 3.7l-1.4-3.7h-1.9l2.4 6h1.8Zm2.1 2.3c.1-0.4 .4-1 1.2-1c.9 0 1.2 .5 1.2 1Zm2.5 1.6c-0.1 .4-0.5 .7-1.2 .7c-0.7 0-1.3-0.4-1.3-1.1h4.1c.1-0.1 .1-0.3 .1-0.6c0-1.9-1.2-3-3-3c-1.6 0-3 1.2-3 3.1c0 2 1.5 3.2 3.1 3.2c1.5 0 2.5-0.9 2.8-1.9Zm4.7 2.1v-8.7h-1.9v8.7Zm4.3-1.5c-0.7 0-1.3-0.5-1.3-1.5c0-1 .6-1.5 1.3-1.5c.7 0 1.4 .5 1.4 1.5c0 1-0.7 1.5-1.4 1.5Zm0-4.6c-1.8 0-3.1 1.3-3.1 3.1c0 1.9 1.3 3.2 3.1 3.2c1.8 0 3.2-1.3 3.2-3.2c0-1.8-1.4-3.1-3.2-3.1Zm6.2 8.4v-2.8c.3 .4 .8 .6 1.6 .6c1.7 0 2.9-1.3 2.9-3.1c0-1.8-1.1-3.1-2.8-3.1c-0.9 0-1.5 .4-1.8 .7v-0.6h-1.7v8.3Zm2.7-5.3c0 1-0.7 1.5-1.4 1.5c-0.7 0-1.3-0.5-1.3-1.5c0-1 .6-1.5 1.3-1.5c.7 0 1.4 .5 1.4 1.5Z"/>
          </g>
          <g id="Text-Design" opacity="0" transform="translate(132,231)">
            <rect fill="#ffec62" width="100" height="28" rx="14"/>
            <path fill="#121630" d="M33.4 16.2v-4.9h1.1c1.3 0 2.3 .7 2.3 2.5c0 1.7-1 2.4-2.3 2.4Zm1.1 1.8c2.6 0 4.3-1.6 4.3-4.2c0-2.7-1.7-4.3-4.2-4.3h-3.1v8.5Zm7-3.7c0-0.4 .4-1 1.2-1c.9 0 1.2 .5 1.2 1Zm2.5 1.6c-0.1 .4-0.5 .7-1.2 .7c-0.7 0-1.3-0.4-1.3-1.1h4.1c0-0.1 .1-0.3 .1-0.6c0-1.9-1.2-3-3-3c-1.6 0-3 1.2-3 3.1c0 2 1.5 3.2 3.1 3.2c1.5 0 2.5-0.9 2.8-1.9Zm2.3 .4c.1 .7 .7 1.9 2.6 1.9c1.6 0 2.3-1 2.3-2c0-0.9-0.6-1.7-1.8-1.9l-0.8-0.2c-0.3 0-0.5-0.2-0.5-0.4c0-0.3 .3-0.5 .7-0.5c.5 0 .8 .3 .8 .7l1.6-0.3c-0.1-0.7-0.7-1.7-2.4-1.7c-1.4 0-2.3 .8-2.3 1.9c0 .9 .5 1.6 1.7 1.9l.7 .1c.5 .1 .6 .3 .6 .5c0 .3-0.2 .5-0.7 .5c-0.6 0-0.9-0.4-0.9-0.8Zm7.9 1.7v-6h-1.8v6Zm-1.9-7.8c0 .6 .4 1.1 1 1.1c.6 0 1.1-0.5 1.1-1.1c0-0.6-0.5-1.1-1.1-1.1c-0.6 0-1 .5-1 1.1Zm3.1 8.1c.2 1.1 1.3 2.2 3 2.2c2.2 0 3.2-1.5 3.2-3.2v-5.3h-1.7v.7c-0.2-0.3-0.7-0.8-1.7-0.8c-1.6 0-2.8 1.4-2.8 2.9c0 1.7 1.2 2.9 2.8 2.9c.9 0 1.4-0.3 1.6-0.6v.3c0 1-0.6 1.5-1.5 1.5c-0.7 0-1.1-0.4-1.3-1Zm3.1-2.1c-0.7 0-1.2-0.5-1.2-1.4c0-0.8 .5-1.3 1.2-1.3c.7 0 1.3 .5 1.3 1.3c0 .9-0.5 1.4-1.3 1.4Zm6.5-1.6c0-0.6 .3-1.1 .9-1.1c.7 0 1 .5 1 1.1v3.4h1.8v-3.7c0-1.4-0.6-2.4-2.1-2.4c-0.7 0-1.4 .3-1.7 .8v-0.7h-1.8v6h1.9Z"/>
          </g>
          <g id="Text-Discover" opacity="0" transform="translate(0,324)">
            <rect fill="#ffec62" width="100" height="28" rx="14"/>
            <path fill="#121630" d="M28.1 16.2v-4.9h1.1c1.3 0 2.4 .7 2.4 2.5c0 1.7-1.1 2.4-2.4 2.4Zm1.2 1.8c2.5 0 4.3-1.6 4.3-4.2c0-2.7-1.8-4.3-4.3-4.3h-3.1v8.5Zm7.3 0v-6h-1.8v6Zm-2-7.8c0 .6 .5 1.1 1.1 1.1c.6 0 1.1-0.5 1.1-1.1c0-0.6-0.5-1.1-1.1-1.1c-0.6 0-1.1 .5-1.1 1.1Zm3.1 6.1c.1 .7 .7 1.9 2.6 1.9c1.5 0 2.3-1 2.3-2c0-0.9-0.6-1.7-1.8-1.9l-0.8-0.2c-0.3 0-0.5-0.2-0.5-0.4c0-0.3 .3-0.5 .7-0.5c.5 0 .8 .3 .8 .7l1.5-0.3c0-0.7-0.6-1.7-2.3-1.7c-1.4 0-2.3 .8-2.3 1.9c0 .9 .5 1.6 1.7 1.9l.7 .1c.5 .1 .6 .3 .6 .5c0 .3-0.2 .5-0.7 .5c-0.6 0-0.9-0.4-0.9-0.8Zm8.9-2.8c.7 0 1 .5 1.2 .9l1.6-0.5c-0.3-1-1.2-2-2.9-2c-1.7 0-3.1 1.3-3.1 3.1c0 1.9 1.4 3.2 3.2 3.2c1.6 0 2.6-1.1 2.8-2.1l-1.6-0.5c-0.1 .5-0.5 .9-1.2 .9c-0.8 0-1.4-0.5-1.4-1.5c0-0.9 .6-1.5 1.4-1.5Zm6.6 3c-0.7 0-1.3-0.5-1.3-1.5c0-1 .6-1.5 1.3-1.5c.7 0 1.4 .5 1.4 1.5c0 1-0.7 1.5-1.4 1.5Zm0-4.6c-1.8 0-3.2 1.3-3.2 3.1c0 1.9 1.4 3.2 3.2 3.2c1.8 0 3.2-1.3 3.2-3.2c0-1.8-1.4-3.1-3.2-3.1Zm10 .1h-1.9l-1.3 3.7l-1.3-3.7h-2l2.4 6h1.9Zm2.2 2.3c0-0.4 .4-1 1.1-1c.9 0 1.2 .5 1.2 1Zm2.5 1.6c-0.2 .4-0.6 .7-1.2 .7c-0.7 0-1.3-0.4-1.4-1.1h4.2c0-0.1 0-0.3 0-0.6c0-1.9-1.1-3-3-3c-1.5 0-3 1.2-3 3.1c0 2 1.5 3.2 3.2 3.2c1.5 0 2.4-0.9 2.7-1.9Zm6.6-3.9c-0.2 0-0.3 0-0.5 0c-0.5 0-1.2 .2-1.6 .8v-0.8h-1.7v6h1.8v-2.6c0-1.2 .7-1.6 1.4-1.6c.2 0 .4 0 .6 0Z"/>
          </g>
        </g>
        <g id="Flag---1" transform="translate(555,809) rotate(-10) scale(0,0) translate(0,-71)">
          <path d="M2 0h43.8c1.1 0 2 .9 2 2c0 .5-0.2 .9-0.4 1.3l-9.4 11.4c-0.6 .8-0.6 1.8 0 2.6l9.4 11.4c.6 .9 .5 2.2-0.3 2.9c-0.4 .2-0.8 .4-1.3 .4h-43.8c-1.1 0-2-0.9-2-2v-28c0-1.1 .9-2 2-2Z" fill="#ea2f49"/>
          <rect fill="#fff" width="3" height="71" rx="1.5"/>
        </g>
        <g id="Flag---2" transform="translate(662.9,715) rotate(-10) scale(0,0) translate(0,-71)">
          <path d="M2 0h43.8c1.1 0 2 .9 2 2c0 .5-0.2 .9-0.4 1.3l-9.4 11.4c-0.6 .8-0.6 1.8 0 2.6l9.4 11.4c.6 .9 .5 2.2-0.3 2.9c-0.4 .2-0.8 .4-1.3 .4h-43.8c-1.1 0-2-0.9-2-2v-28c0-1.1 .9-2 2-2Z" fill="#ea2f49"/>
          <rect fill="#fff" width="3" height="71" rx="1.5"/>
        </g>
        <g id="Flag---3" transform="translate(764,646) rotate(-10) scale(0,0) translate(0,-71)">
          <path d="M2 0h43.8c1.1 0 2 .9 2 2c0 .5-0.2 .9-0.4 1.3l-9.4 11.4c-0.6 .8-0.6 1.8 0 2.6l9.4 11.4c.6 .9 .5 2.2-0.3 2.9c-0.4 .2-0.8 .4-1.3 .4h-43.8c-1.1 0-2-0.9-2-2v-28c0-1.1 .9-2 2-2Z" fill="#ea2f49"/>
          <rect fill="#fff" width="3" height="71" rx="1.5"/>
        </g>
        <g id="Flag---4" transform="translate(905,578.3) rotate(-10) scale(0,0) translate(0,-71)">
          <path d="M2 0h43.8c1.1 0 2 .9 2 2c0 .5-0.2 .9-0.4 1.3l-9.4 11.4c-0.6 .8-0.6 1.8 0 2.6l9.4 11.4c.6 .9 .5 2.2-0.3 2.9c-0.4 .2-0.8 .4-1.3 .4h-43.8c-1.1 0-2-0.9-2-2v-28c0-1.1 .9-2 2-2Z" fill="#ea2f49"/>
          <rect fill="#fff" width="3" height="71" rx="1.5"/>
        </g>
      </g>
    </svg>

  </div>
</div>
